//
//  STACK OVERFLOW
//  FORMS
//
//  TABLE OF CONTENTS
//  • UNIVERSAL PROPERTIES
//    - Layout
//    - Font Styles
//  • Inputs
//    - Base Style
//    - Interaction States
//    - Textareas
//    - Select Menus
//    - File Upload
//    - Checkboxes & Radios
//  • LABELS
//    - Base Style
//    - Style Modifications
//    - Status Flag
//  • TYPE STYLES
//  • LABELS
//
//  ============================================================================
//  $   UNIVERSAL RESETS
//      Various properties we need to reset to make everything better.
//  ----------------------------------------------------------------------------
input,
input[type="radio"],
input[type="checkbox"] {
  margin: unset;
}
//  ============================================================================
//  $   UNIVERSAL PROPERTIES
//      These are properties which are universally applied to the various
//      form elements.
//  ----------------------------------------------------------------------------
//  $$  LAYOUT
//  ----------------------------------------------------------------------------
.f-label,
.f-input,
.f-select {
  //  [1] Reset previous styles
  min-height: auto;
  margin: 0;

  //  [2] Set new properties
  box-sizing: border-box;
  display: inline-flex;
}

//  $$  FONT STYLES
//  ----------------------------------------------------------------------------
.f-label,
.f-input,
//  -- TEMPORARY
textarea.f-input,
input[type="text"].f-input,
input[type="password"].f-input,
input[type="number"].f-input,
input[type="email"].f-input,
input[type="url"].f-input,
input[type="search"].f-input,
input[type="tel"].f-input,
input[type="datetime"].f-input,
//  -- END TEMPORARY
.f-select > select,
.f-description {
  font-size: @fs-13;
  line-height: @lh-6;
  color: @fc-dark;

  //  --  SIZES
  //  --------------------------------------------------------------------------
  &._fs-12  { font-size: @fs-12; }
  &._fs-17  { font-size: @fs-17; }
  &._fs-24  { font-size: @fs-24; }
}


//  ============================================================================
//  $  INPUTS
//  ============================================================================
//  $$  BASE STYLE
//  ----------------------------------------------------------------------------
.f-input,
//  Replace these before implementing. TEMPORARY
textarea.f-input,
input[type="text"].f-input,
input[type="password"].f-input,
input[type="number"].f-input,
input[type="email"].f-input,
input[type="url"].f-input,
input[type="search"].f-input,
input[type="tel"].f-input,
input[type="datetime"].f-input {
  padding: @su-8 @su-12;
  border: 1px solid @black-150;
  border-radius: 0;
  box-shadow: inset 0 0 1px fade(@black-350,20%), 0 0 0 fade(@white,0%);
  background-color: @white;
  transition: all 600ms @te-smooth;

  //  --  PLACEHOLDER
  //  --------------------------------------------------------------------------
  &::-webkit-input-placeholder {
    color: @black-150;
  }
  &::-moz-placeholder { // FF 18+
    color: @black-150;
    opacity: 1; // yeap, we need that for firefox
  }
  &:-ms-input-placeholder { // IE
    color: @black-150;
  }
  &::-ms-input-placeholder { // Edge
    color: @black-150;
  }
  &::placeholder {
    color: @black-150;
  }
}

//  $$  STATES
//      The many states for inputs and select menus.
//  ----------------------------------------------------------------------------
.f-input,
.f-select > select {
  //  Hover
  &:hover {
    border-color: fade(@blue-500,50%);
    box-shadow: inset 0 0 2px @black-150, 0 0 2px fade(@blue-500,70%);
  }

  //  Focus
  &:focus {
    outline: 0;
    border-color: @blue-500;
    box-shadow: inset 0 0 4px @black-050, 0 0 8px fade(@blue-500,50%);
  }

  //  Disabled, Read-only
  &[disabled],
  &[read-only] {
    border-color: @brc-lighter;
    box-shadow: inset 0 0 2px fade(@black-350,10%);
    background-color: @bgc-lightest;
    color: @fc-light;

    &:hover {
      border-color: @brc-lightest;
      box-shadow: none;
    }
  }

  //  Disabled
  &[disabled] {
    background-image: url("../../Img/forms/icon-disabled.svg");
    background-repeat: no-repeat;
    background-position: right @su-12 center;
    cursor: not-allowed;
  }
}

//  $$  CONNECTED INPUTS
//      To visually connect inputs together
//  ----------------------------------------------------------------------------
.f-input-connect {
  padding: @su-8 @su-12;
  line-height: @lh-6;

  //  When we want the gray background
  &._fill {
    border: 1px solid @black-150;
    border-left-width: 0;
    border-right-width: 0;
    background-color: @bgc-lightest;
    color: @fc-medium;

    &._first {
      border-left-width: 1px;
    }
    &._last {
      border-right-width: 1px;
    }
  }

  //  If we want to connect a btn, don't round all the corners
  &.btn._last {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: @white;
  }

  //  Make labels white-space
  .f-label {
    white-space: nowrap;
  }
}

//  --  FORM VALIDATION STATES
//      Validation states will need applied at the wrapping container level.
//  ----------------------------------------------------------------------------
.g-box {
  //  Universal styles
  &.has-warning,
  &.has-error,
  &.is-success {
    .f-input,
    .f-select > select {
      background-position: right @su-12 center;
      background-repeat: no-repeat;
    }
    .f-select > select {
      background-position: right @su-24 center;
    }
  }

  //  --  WARNING
  &.has-warning {
    .f-input,
    .f-select > select {
      border-color: mix(@yellow-500,@orange-600);
      background-image: url("../../Img/forms/icon-warning.svg"), none;

      &:hover {
        border-color: lighten(mix(@yellow-500,@orange-600),10%);
        box-shadow: inset 0 0 1px @black-100, 0 0 2px @yellow-200;
      }
      &:focus {
        border-color: saturate(mix(@yellow-500,@orange-600),10%);
        box-shadow: inset 0 0 4px @black-050, 0 0 4px @yellow-200;
      }
    }

    .-message {
      color: darken(saturate(mix(@yellow-500,@orange-600),120%),10%);
    }
  }

  //  --  ERROR
  &.has-error {
    .f-input,
    .f-select > select {
      border-color: @red-400;
      background-image: url("../../Img/forms/icon-error.svg"), none;

      &:hover {
        border-color: @red-300;
        box-shadow: inset 0 0 1px @black-100, 0 0 2px @red-100;
      }
      &:focus {
        border-color: @red-500;
        box-shadow: inset 0 0 4px @black-050, 0 0 4px @red-200;
      }
    }

    .-message {
      color: @red-500;
    }
  }

  //  --  SUCCESS
  &.is-success {
    .f-input,
    .f-select select {
      border-color: @green-400;
      background-image: url("../../Img/forms/icon-success.svg"), none;

      &:hover {
        border-color: @green-300;
        box-shadow: inset 0 0 1px @black-100, 0 0 2px @green-100;
      }
      &:focus {
        border-color: @green-500;
        box-shadow: inset 0 0 4px @black-050, 0 0 4px @green-200;
      }
    }

    .-message {
      color: darken(@green-500,5%);
    }
  }

  //  --  DISABLED
  &.is-disabled {
    opacity: 0.75;
    cursor: not-allowed;

    .f-select > select {
      &:before,
      &:after { opacity: 0.3; }
    }
  }
}


//  $$  TEXTAREAS
//  ----------------------------------------------------------------------------
textarea.f-input {
  padding-top: @su-12;
  padding-bottom: @su-12;
  height: auto;
  resize: vertical;
}

//  $$  SELECT MENUS
//  ----------------------------------------------------------------------------
.f-select {
  position: relative;

  //  --  MENU ARROWS
  //      To customize the visual appearance of the select menu arrows, we need
  //      to recreate them on the wrapping .f-select div.
  //  --------------------------------------------------------------------------
  &:before,
  &:after {
    content: "";
    position: absolute;
    right: @su-12;
    pointer-events: none;

    border-width: 3px;
    border-style: solid;
    border-color: @black-700 transparent;
  }
  &:before {
    top: calc(~"50% - 6px");
    border-top-width: 0;
    border-bottom-width: 5px;
  }
  &:after {
    top: calc(~"50% + 1px");
    border-top-width: 5px;
    border-bottom-width: 0;
  }

  //  --  MENU
  //      Now we can style the visual appearance of the select menu;
  //  --------------------------------------------------------------------------
  > select {
    //  [1] Reset the appearance
    .appearance(none);

    //  [2] Update the styles
    padding: @su-8 @su-32 @su-8 @su-12;
    width: 100%;
    border-radius: @br-2;
    border: 1px solid @black-150;
    background-color: @white;
    transition: border-color 300ms @te-smooth, box-shadow 300ms @te-smooth, background-color 300ms @te-smooth;
  }
}

//  $$  FILE UPLOAD
//  ----------------------------------------------------------------------------
.f-input-file {
  display: block;
  margin: 0;
  padding: @su-8 0;
  font-size: @fs-11;
}

//  $$  CHECKBOXES & RADIOS
//  ----------------------------------------------------------------------------
//  --  Variables
@f-bx-focus:           0 0 2em/13 1px fade(@f-bx-bgc-blue, 50%);
@f-bx-hover:           0 0 2em/13 1px fade(@f-bx-bgc-blue, 70%);
@f-bx-bgc-blue:        @blue-500;
@f-bx-gray:            inset 0 0 0 1px @brc-dark;
@f-bx-blue:            inset 0 0 0 1px @f-bx-bgc-blue;
@f-bx-blue_light:      inset 0 0 0 1px fade(@f-bx-bgc-blue,50%);
@f-bx-white:           inset 0 0 0 3px @white;
@f-bx-clear:           0 0 0 0 fade(@white,0%);

.f-checkbox,
.f-radio {
  //  [1]   Check to see if we can use custom styles, if so reset the defaults
  //  --------------------------------------------------------------------------
  @supports (appearance: none) or (-webkit-appearance: none) {
    .appearance(none);

    &::-ms-check {
      display: none;
    }

    //  [2]  Now re-style the checkboxes and radios
    //  ------------------------------------------------------------------------
    width: @su-16 - 3;
    height: @su-16 - 3;
    background-color: @white;
    transition: background-color 300ms @te-smooth, border-radius 300ms @te-smooth, box-shadow 300ms @te-smooth;
    outline: 0;
    cursor: pointer;

    &:focus {
      outline: 0;
    }

    //  Sizes
    &._sm {
      width: @su-12;
      height: @su-12;
    }
    &._md {
      width: @su-16;
      height: @su-16;
    }
    &._lg {
      width: @su-16 + 3;
      height: @su-16 + 3;
    }
    &._xl {
      width: @su-24;
      height: @su-24;
    }
  }
}

//  --   Checkboxes
//  ----------------------------------------------------------------------------
.f-checkbox {
  @supports (appearance: none) or (-webkit-appearance: none) {
    border-radius: 0;
    box-shadow: @f-bx-clear, @f-bx-gray;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    &:checked {
      border-radius: @br-2 / 1;
      box-shadow: @f-bx-blue;
      background-color: @f-bx-bgc-blue;
      background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20version%3D%221.1%22%20viewBox%3D%220%200%203.1749997%203.175%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20transform%3D%22translate(-61.232%20-118.44)%22%3E%3Cpath%20d%3D%22m63.682%20119.01-1.1328%201.5957-0.63477-0.45117-0.21094%200.29687%200.93164%200.66211%201.3438-1.8906z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");

      &:hover {
        box-shadow: @f-bx-hover;
        background-color: darken(@f-bx-bgc-blue,5%);
      }
    }

    &:hover {
      box-shadow: @f-bx-hover, @f-bx-blue_light;
      background-color: fade(@f-bx-bgc-blue,10%);
    }

    &:active {
      box-shadow: @f-bx-blue;
      background-color: fade(@f-bx-bgc-blue,50%);
    }

    &:focus {
      box-shadow: @f-bx-focus, @f-bx-gray;

      &:checked,
      &:active {
        box-shadow: @f-bx-focus;
      }
      &:active {
        box-shadow: @f-bx-focus, @f-bx-blue;
      }
    }
  }
}

//  --   Radio Selects
//  ----------------------------------------------------------------------------
.f-radio {
  @supports (appearance: none) or (-webkit-appearance: none) {
    border-radius: @br-circle;
    box-shadow: @f-bx-clear, @f-bx-gray, @f-bx-white;

    &:checked {
      box-shadow: @f-bx-clear, @f-bx-blue, @f-bx-white;
      background-color: @f-bx-bgc-blue;

      &:hover {
        box-shadow: @f-bx-hover, @f-bx-blue, @f-bx-white;
        background-color: darken(@f-bx-bgc-blue,5%);
      }
    }

    &:hover {
      box-shadow: @f-bx-hover, @f-bx-blue_light, @f-bx-white;
      background-color: fade(@f-bx-bgc-blue,10%);
    }

    &:active {
      box-shadow: @f-bx-clear, @f-bx-blue, @f-bx-white;
      background-color: fade(@f-bx-bgc-blue,50%);
    }

    &:focus {
      box-shadow: @f-bx-focus, @f-bx-gray, @f-bx-white;

      &:checked,
      &:active {
        box-shadow: @f-bx-focus, @f-bx-blue, @f-bx-white;
      }
    }
  }
}


//  ============================================================================
//  $  LABELS
//  ============================================================================
.f-label {
  font-weight: 700;
  cursor: pointer;

  //  $$  STYLE MODIFICATIONS
  //  --------------------------------------------------------------------------
  &._muted {
    color: @fc-light;
  }

  //  --  Font Weights
  //      Sometimes it's necessary to adjust a label's default font-weight.
  &._fw-400 {
    font-weight: 400;
  }
  &._fw-700 {
    font-weight: 700;
  }

  //  $$  LABEL STATUS FLAG
  //  ----------------------------------------------------------------------------
  //      Is this form item required or optional? Flag the status for users.
  //      Default styling is optional.
  > .-status {
    font-size: 85%;
    font-style: italic;
    font-weight: 400;
    color: @fc-medium;

    &._required {
      color: @red-400;
    }
  }
}


//  ============================================================================
//  $ TYPE STYLES
//  ----------------------------------------------------------------------------
//  --  Help Text
.f-description {
  color: @fc-light;
  line-height: @lh-4;
}


//  ============================================================================
//  $ INPUT & BUTTON GROUPS
//  ----------------------------------------------------------------------------
.input-group,
.button-group {
    *,
    *:before,
    *:after { box-sizing: border-box; }

    position: relative;
    .flexbox();
}

//  --  INPUT GROUPS
//      Wrapping <div> that provides ammple white space around a unit of
//      form elements
.input-group {
    .flex-flow(column nowrap);
    margin-bottom: @su-24;

    //  If an input-group nested within another, remove the bottom margin.
    & > & { margin-bottom: 0; }


    > .f-label {
        //  If there's a label, we generally want a top margin on the item below.
        //  But ONLY on labels that are direct children.
        + * { margin-top: @su-8 - 2; }

        //  Except if help copy follows
        + .t-help { margin-top: @su-2; }

        //  If an input-group follows a label though, we want that top margin to be greater.
        + .input-group { margin-top: @su-16; }
    }


    //  Input Group Clusters
    &._clusters {
        .g-row + .g-row { margin-top: @su-8; }
        .input-group {
            margin-bottom: 0;
            .f-label { font-weight: 400; }
        }
    }

    //  If a select menu is directly against a fill, alter the border-radius
    .-fill + .f-select > select {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    [class^="btn"].is-last {
        .flex-order(100);
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

//  --  BUTTON GROUPS
//      Wrapping <div> for buttons / actions
.button-group {
    [class^="btn"] + [class^="btn"] { margin-left: @su-2; }

    &.g-column {
        [class^="btn"] + [class^="btn"] {
            margin-top: @su-8;
            margin-left: 0;
        }
    }

    .t-help {
        margin-top: @su-12;
        margin-bottom: 0;
    }

    //  Applies top border to the button container
    &.has-border {
        padding-top: @su-16 + @su-8;
        border-top: 1px solid lighten(@brc-light,5%);
    }
}


//  ============================================================================
//  $ OPTION TOGGLE
//  ----------------------------------------------------------------------------
.f-option-toggle {
  //  First hide the radio buttons
  .f-radio {
    position: absolute;
    left: -999em;
    opacity: 0;
  }

  //  Next modifictions to option cells
  .-option {
    margin-left: -1px;
    margin-right: -1px;

    //  Round the corners on the first and last elements
    &:first-of-type .f-label {
      border-radius: @su-2 0 0 @su-2;
    }
    &:last-of-type .f-label {
      border-radius: 0 @su-2 @su-2 0;
    }
  }

  //  Style the base label
  .f-label {
    padding: @su-8 @su-12;
    border: 1px solid @brc-light;
    background-color: @white;
    color: @fc-medium;
    transition: all 300ms @te-smooth;
    cursor: pointer;

    &:hover,
    &:active {
      color: @fc-dark;
      box-shadow: 0 0 8px fade(@powder-600,25%);
      background-color: @powder-025;
      border-color: @brc-dark;
      z-index: 1;
    }
  }

  //  If the label is selected, style it accordingly.
  .f-radio:checked + .f-label {
    z-index: 2;
    border-color: @powder-200;
    box-shadow: 0 0 8px fade(@powder-600,10%);
    background-color: @powder-100;
    color: @powder-700;

    &:hover,
    &:active {
      box-shadow: 0 0 8px fade(@powder-600,25%);
      border-color: darken(@powder-200,5%);
      background-color: darken(@powder-100,5%);
      color: @powder-800;
    }
  }

  //  $$  MODIFICATIONS
  //  --------------------------------------------------------------------------
  //  --  Primary
  //      When the toggle is the only one within a view and we want it to be
  //      visually dominating for the user.
  &._primary {
    .f-label:hover,
    .f-label:active {
      color: @blue-700;
      box-shadow: 0 0 8px fade(@blue-500,25%);
      background-color: @blue-050;
    }

    .f-radio:checked + .f-label {
      border-color: @blue-600;
      box-shadow: 0 0 8px fade(@blue-500,10%);
      background-color: @blue-500;
      color: @white;

      &:hover,
      &:active {
        border-color: @blue-700;
        box-shadow: 0 0 8px fade(@blue-500,25%);
        background-color: @blue-600;
        color: @blue-050;
      }
    }
  }

  //  --  Switch
  //      Used when the toggle represents an "on/off" choice for the user. A
  //      "off" state must be present to use this modifier.
  &._switch {
    .f-label:hover,
    .f-label:active {
      border-color: @brc-dark;
      box-shadow: 0 0 8px fade(@black-600,25%);
      background-color: @bgc-lightest;
    }

    .f-radio:checked + .f-label {
      &:not(._off) {
        border-color: @green-400;
        box-shadow: 0 0 8px fade(@green-400,10%);
        background-color: @green-400;
        color: @white;

        &:hover,
        &:active {
          border-color: @green-500;
          box-shadow: 0 0 8px fade(@green-400,25%);
          background-color: @green-500;
          color: @green-050;
        }
      }

      //  When the off state is selected, we don't it green. We want it to be
      //  gray instead.
      &._off {
        border-color: @brc-dark;
        box-shadow: 0 0 8px fade(@black-800,10%);
        background-color: @bgc-light;
        color: @fc-dark;

        &:hover,
        &:active {
          border-color: @brc-darker;
          box-shadow: 0 0 8px fade(@black-800,25%);
          background-color: @bgc-dark;
          color: darken(@fc-dark,5%);
        }
      }
    }
  }
}

//  ============================================================================
//  $ Chosen plugin (JS plugin)
//  ----------------------------------------------------------------------------
.container .chosen-container {
    margin-top: 0;

    &.chosen-container-active {
        border-width: 0;
        .chosen-choices {
            border-color: @blue-500;
            box-shadow: inset 0 0 4px @black-050, 0 0 5px fade(@blue-500,50%);
        }
    }

    .chosen-choices {
        .flexbox();
        padding: 0 1px;
        min-height: 38px;
        background-image: none;
        border-radius: @br-2;
        border-color: @brc-light;

        &:hover {
            border-color: fade(@blue-500,50%);
            box-shadow: inset 0 0 2px darken(@black-050,10%), 0 0 2px fade(fade(@blue-500,50%),20%);
        }
    }

    //  Restyle tags
    .chosen-choices {
        li.search-choice,
        li.search-field {
            display: inline-flex;
            align-items: center;
            margin: @su-4 1px;
            padding: @su-2 (@su-4 + 2);
        }
        li.search-choice {
            float: none;
            box-shadow: none;
            background-image: none;

            font-family: @ff-sans;
            font-size: @fs-12;
            color: @powder-600;
            background-color: @powder-100;
            border-color: transparent;
            border-radius: @br-2;

            &:first-child { margin-left: 3px; }

            .search-choice-close {
                position: relative;
                top: 0;
                right: -1px;
                margin-left: @su-4;
                transition: none;
            }
        }
    }
     li.search-field > input[type="text"] {
        padding: 0;
        margin: 0;
    }
}
