---
title: Colors
---

<div class="palette g-row _ff-wrap">
    {% for colors in site.data.stack-colors %}
    <div class="color g-col">
        <header class="{{ colors.color }}">
            <h2 class="-title">{{ colors.name }}</h2>
            <span class="-less">
                @{{ colors.color }}{% if colors.primary %}-{{ colors.primary }}{% endif %}
            </span>
        </header>
        <ol class="colors">
            {% for stop in colors.stops %}
            <li class="{{ colors.color }}-{{ stop.stop }}">
                <div class="g-row">
                    <div class="g-col -stop">
                        <strong>{{ stop.stop }}</strong>
                    </div>
                    <div class="g-col -less">
                        @{{ colors.color }}-{{ stop.stop }}
                    </div>
                    <div class="g-col g-column -value">
                        <div class="g-col -rgb">
                            rgb<span class="pa">(</span><span class="va">{{ stop.rgb }}</span><span class="pa">)</span>
                        </div>
                        <div class="g-col -hex">
                            {{ stop.hex }}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
    {% endfor %}
</div>
