@import "@stackoverflow/stacks/dist/css/stacks.css";

:root {
    --brand-color-orange: #ff5e00;
    --brand-color-orange-medium: #6e1527;
    --brand-color-orange-dark: #31070f;

    --brand-color-white: #ffffff;
    --brand-color-black: #201c1d;
    --brand-color-off-white: #f0efee;

    --brand-color-beige: #998b7a;

    --brand-color-blue: #5074ef;
    --brand-color-blue-light: #c6d1e1;
    --brand-color-blue-dark: #00165e;

    --brand-color-purple: #9e9cff;
    --brand-color-purple-dark: #390a91;

    --brand-color-pink: #f39fff;
    --brand-color-pink-dark: #4d1855;

    --brand-color-green: #85af24;
    --brand-color-green-dark: #253702;

    --brand-color-yellow: #ffcc01;
    --brand-color-yellow-dark: #413101;

    --brand-color-gray: #575757;
    --brand-color-gray-200: #dee0e3;
}

/* Add to Stacks classic eventually */

.bg-brand-orange {
    background: var(--brand-color-orange);
}
.bg-brand-orange-medium {
    background: var(--brand-color-orange-medium);
}
.bg-brand-orange-dark {
    background: var(--brand-color-orange-dark);
}

.bg-brand-white {
    background: var(--brand-color-white);
}
.bg-brand-black {
    background: var(--brand-color-black);
}
.bg-brand-off-white {
    background: var(--brand-color-off-white);
}

.bg-brand-beige {
    background: var(--brand-color-beige);
}

.bg-brand-blue {
    background: var(--brand-color-blue);
}
.bg-brand-blue-light {
    background: var(--brand-color-blue-light);
}
.bg-brand-blue-dark {
    background: var(--brand-color-blue-dark);
}

.bg-brand-purple {
    background: var(--brand-color-purple);
}
.bg-brand-purple-dark {
    background: var(--brand-color-purple-dark);
}

.bg-brand-pink {
    background: var(--brand-color-pink);
}
.bg-brand-pink-dark {
    background: var(--brand-color-pink-dark);
}

.bg-brand-green {
    background: var(--brand-color-green);
}
.bg-brand-green-dark {
    background: var(--brand-color-green-dark);
}

.bg-brand-yellow {
    background: var(--brand-color-yellow);
}
.bg-brand-yellow-dark {
    background: var(--brand-color-yellow-dark);
}

.bg-brand-gray {
    background: var(--brand-color-gray);
}
.bg-brand-gray-200 {
    background: var(--brand-color-gray-200);
}

/* Override Stacks defaults */
html,
body {
    --ff-sans:
        "Stack Sans Text", -apple-system, BlinkMacSystemFont,
        "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
    --ff-mono:
        "IBM Plex Mono", ui-monospace, "Cascadia Mono", "Segoe UI Mono",
        "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

@font-face {
    font-family: "Stack Sans Headline";
    src: url("/fonts/StackSansHeadline[wght].woff2") format("woff2-variations");
}

@font-face {
    font-family: "Stack Sans Text";
    src: url("/fonts/StackSansText[wght].woff2") format("woff2-variations");
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
}

.ff-stack-sans {
    font-family: "Stack Sans Text";
    font-weight: 400;
}
.ff-stack-sans-headline,
.ff-stack-sans-headline-notch {
    font-family: "Stack Sans Headline";
}
.ff-stack-sans-headline-notch {
    font-feature-settings: "ss01" 1 !important;
}

.fw-extralight {
    font-weight: 200;
}
.fw-light {
    font-weight: 300;
}
.fw-regular {
    font-weight: 400;
}
.fw-medium {
    font-weight: 500;
}
.fw-semibold {
    font-weight: 600;
}
.fw-bold,
.s-prose strong {
    font-weight: 700;
}

body {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Stack Sans Headline";
    font-weight: 400;
}
h1 {
    font-size: 72px;
    line-height: 106%;
    font-weight: 500;
    margin-top: 0;
}
h1 {
    font-feature-settings: "ss01" 1;
}
main,
footer {
    margin-left: 20%;
}

@media (max-width: 640px) {
    main,
    footer {
        margin-left: 0%;
    }
}

/* Document styles */

.doc h1 a,
.doc h2 a,
.doc h3 a,
.doc h4 a,
.doc h5 a {
    color: inherit;
    text-decoration: none;
}
.doc h1 svg,
.doc h2 svg,
.doc h3 svg,
.doc h4 svg,
.doc h5 svg {
    vertical-align: middle;
    margin-right: 4px;
}
.doc img {
    width: 100%;
    height: auto;
    display: block;
}
.doc .doc__grid:not(.doc__grid + .doc__grid):not(:has(+ .doc__grid)) {
    margin: 32px 0;
}
.doc section {
    border-top: 1px solid var(--brand-color-gray-200);
    position: relative;
    padding: 20px 0;
    margin: 20px 0;
}
.doc h1 a,
.doc h2 a,
.doc h3 a,
.doc h4 a {
    color: inherit !important;
}
.doc section[data-heading-rank="2"],
.doc section[data-heading-rank="3"] {
    margin-top: 32px;
}
.doc section[data-heading-rank="2"] > p {
    color: var(--fc-medium);
}
.doc section > section {
    border-top: 0;
    padding: 0;
    margin: 0;
}
.doc p:not(:has(img)),
.doc li {
    max-width: 800px;
}
.doc li {
    list-style-type: square;
}
.doc h2 {
    font-size: var(--_pr-h1-fs);
}

/* Style for some columns we want a strike through */

.column-strike:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    pointer-events: none;
    user-select: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 300 300'><line x1='0%' y1='100%' x2='100%' y2='0%' stroke='red' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:
        120% 120%,
        auto;
}

/* One off uses, find a replacement for these */

.badge {
    padding: 5px 10px;
    background: var(--brand-color-blue-light);
    font-weight: 400;
}

/* Agolia Docsearch */

.DocSearch-Container {
    z-index: 9999 !important;
}
.DocSearch-Footer {
    margin: 0;
}
