<section class="uikit-section" data-core-careers>
    <h2 id="toc-fonts">Fonts</h2>

    <section class="uikit-section">
        <h3 id="toc-regular">Primary Typeface</h3>
        <p>Stack Overflow's primary typeface is Arial. The following are examples of how they would appear in different sizes.</p>
        <div class="uikit-code uikit-has-preview">
{% highlight css linenos %}
@fontFamily-sans: Arial, 'Helvetica Neue', Helvetica, sans-serif;
{% endhighlight %}
            <div class="uikit-preview">
                <div class="uikit-font">
                    <small class="uikit-font-name">Sans-serif, 40px</small>
                    <span class="uikit-font" style="font-size:40px">Lorem ipsum dolor sit amet.</span>
                    <span class="uikit-font" style="font-size:40px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span class="uikit-font" style="font-size:40px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font">
                    <small>Sans-serif, 30px</small>
                    <span style="font-size:30px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:30px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:30px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font">
                    <small>Sans-serif, 20px</small>
                    <span style="font-size:20px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:20px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:20px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font">
                    <small>Sans-serif, 13px</small>
                    <span style="font-size:13px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:13px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:13px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font">
                    <small>Sans-serif, 10px</small>
                    <span style="font-size:10px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:10px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:10px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>
            </div>
        </div>
    </section>

    <section class="uikit-section">
        <h3 id="toc-code">Secondary Typeface</h3>
        <p>The secondary (or complimentary) typeface that Stack Overflow uses to pair with our primary typeface is Consolas.</p>
        <div class="uikit-code uikit-has-preview">
{% highlight css linenos %}
@code-font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
{% endhighlight %}
            <div class="uikit-preview">
                <div class="uikit-font uikit-font-monospace">
                    <small class="uikit-font-name">Monospace, 40px</small>
                    <span class="uikit-font" style="font-size:40px">Lorem ipsum dolor sit amet.</span>
                    <span class="uikit-font" style="font-size:40px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span class="uikit-font" style="font-size:40px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font uikit-font-monospace">
                    <small>Monospace, 30px</small>
                    <span style="font-size:30px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:30px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:30px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font uikit-font-monospace">
                    <small>Monospace, 20px</small>
                    <span style="font-size:20px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:20px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:20px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font uikit-font-monospace">
                    <small>Monospace, 13px</small>
                    <span style="font-size:13px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:13px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:13px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>

                <div class="uikit-font uikit-font-monospace">
                    <small>Monospace, 10px</small>
                    <span style="font-size:10px">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:10px; font-weight: bold;">Lorem ipsum dolor sit amet.</span>
                    <span style="font-size:10px; font-style: italic;">Lorem ipsum dolor sit amet.</span>
                </div>
            </div>
        </div>
    </section>
</section>