<section class="uikit-section" data-core>
        <h2 id="toc-helpers-special-styling">Helpers &amp; Special Styling</h2>
        <p>Below are some helper classes. Most of the examples are using <code>p</code> elements but they can be combined with any text elements.</p>

        <section class="uikit-section">
            <h3 id="toc-alignment">Alignment</h3>
            <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<p class="text-left">Lorem ipsum dolor sit amet (...)</p>
<p class="text-right">Lorem ipsum dolor sit amet (...)</p>
<p class="text-centered">Lorem ipsum dolor sit amet (...)</p>
{% endhighlight %}
                <div class="uikit-preview">
                    <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                    <p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                    <p class="text-centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                </div>
            </div>
        </section>

        <section class="uikit-section">
            <h3 id="toc-lead-text">Lead text</h3>
            <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<h1 class="lead">This is H1 header with .lead class</h1>
<h2 class="lead">This is H2 header with .lead class</h2>
<p class="lead">Lorem ipsum dolor sit amet (...)</p>
{% endhighlight %}
                <div class="uikit-preview">
                    <h1 class="lead">This is H1 header with .lead class</h1>
                    <h2 class="lead">This is H2 header with .lead class</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa?</p>
                </div>
            </div>
        </section>

        <section class="uikit-section">
            <h3 id="toc-other-classes">Other classes</h3>
            <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<p class="placeholder-text">Lorem ipsum dolor sit amet (...)</p>
<p class="help-text">Lorem ipsum dolor sit amet (...)</p>
<p class="success-text">Lorem ipsum dolor sit amet (...)</p>
<p class="error-text">Lorem ipsum dolor sit amet (...)</p>
{% endhighlight %}
                <div class="uikit-preview">
                    <p class="placeholder-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                    <p class="help-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                    <p class="success-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                    <p class="error-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quidem ea sunt dolores facilis omnis consectetur error accusamus nihil ipsa? Laudantium nostrum obcaecati maxime magnam nihil dolorem cum maiores in.</p>
                </div>
            </div>
        </section>
    </section>