//
//  STACK OVERFLOW
//  TYPOGRAPHY
//
//  TABLE OF CONTENTS
//  • LINKS
//  • UTILITY OVERRIDES
//
//  ============================================================================
//  $   LINKS
//  ----------------------------------------------------------------------------
//  --  BASE
a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: @link-color-hover;
    text-decoration: none;
  }
}


//  ============================================================================
//  $   HEADERS
//  ----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
}

//  ============================================================================
//  UTILITY OVERRIDES
//  Instead of re-adding the same text styles to unique class names, use these
//  utility classes for commonly used text decorations, sizes, styles,
//  and colors.
//  ============================================================================
//  $   TEXT
//  ============================================================================
//  $$  FONT SIZES
//  ----------------------------------------------------------------------------
.fs1            { font-size: @fs1; }    // 11px
.fs2            { font-size: @fs2; }    // 12px
.fs3            { font-size: @fs3; }    // 13px
.fs4            { font-size: @fs4; }    // 15px
.fs5            { font-size: @fs5; }    // 17px
.fs6            { font-size: @fs6; }    // 19px
.fs7            { font-size: @fs7; }    // 21px
.fs8            { font-size: @fs8; }    // 24px
.fs9            { font-size: @fs9; }    // 27px
.fs10           { font-size: @fs10; }   // 30px
.fs11           { font-size: @fs11; }   // 34px
.fs12           { font-size: @fs12; }   // 38px
.fs13           { font-size: @fs13; }   // 43px
.fs14           { font-size: @fs14; }   // 49px


//  $$  LINE HEIGHTS
//  ----------------------------------------------------------------------------
.lh1            { line-height: @lh1; }  // 1
.lh2            { line-height: @lh2; }  // 1.154
.lh3            { line-height: @lh3; }  // 1.308
.lh4            { line-height: @lh4; }  // 1.375
.lh5            { line-height: @lh5; }  // 1.615
.lh6            { line-height: @lh6; }  // 1.769
.lh7            { line-height: @lh7; }  // 1.923
.lh8            { line-height: @lh8; }  // 2


//  $$  TEXT STYLES
//  ----------------------------------------------------------------------------
//  --  Font Family
.ff-sans          { font-family: @ff-sans; }
.ff-serif         { font-family: @ff-serif; }
.ff-mono          { font-family: @ff-mono; }
.ff-inherit       { font-family: inherit; }

//  --  Font Weight
.fw-normal        { font-weight: 400; }
.fw-bold          { font-weight: 700; }

//  --  Font Styles
.fs-normal        { font-style: normal; }
.fs-italic        { font-style: italic; }
.fs-unset         { font-style: unset; }

//  --  Text Align
.ta-left          { text-align: left; }
.ta-center        { text-align: center; }
.ta-right         { text-align: right; }
.ta-justify       { text-align: justify; }
.ta-unset         { text-align: unset; }

//  --  Text Decoration
.td-none          { text-decoration: none; }
.td-dashed        { text-decoration: dashed underline; }
.td-underline     { text-decoration: underline; }

//  --  Text Transform
.tt-capitalize    { text-transform: capitalize; }
.tt-lowercase     { text-transform: lowercase; }
.tt-uppercase     { text-transform: uppercase; }
.tt-none          { text-transform: none; }
.tt-unset         { text-transform: unset; }

//  --  Text Truncate
.truncate {
  .wmx100;
  .overflow-hidden;
  .ws-nowrap;
  text-overflow: ellipsis;
}

//  --  Whitespace
.ws-normal        { white-space: normal; }
.ws-nowrap        { white-space: nowrap; }
.ws-pre           { white-space: pre; }
.ws-pre-wrap      { white-space: pre-wrap; }
.ws-pre-line      { white-space: pre-line; }
.ws-unset         { white-space: unset; }

//  --  Word Wrap
.ww-break-word    { word-wrap: break-word; }


//  $$  COLORS
//  ----------------------------------------------------------------------------
.tc-light          { color: @fc-light; }
.tc-medium         { color: @fc-medium; }
.tc-dark           { color: @fc-dark; }

.tc-orange         { color: @orange-400; }


//  ============================================================================
//  $   LISTS
//  ----------------------------------------------------------------------------
.list-reset {
  &,
  > li {
    .m0;
    .p0;
    .list-ls-none;
  }
}

//  --  List Style Types
.list-ls-none          { list-style: none; }
.list-ls-disc          { list-style-type: disc; }
.list-ls-circle        { list-style-type: circle; }
.list-ls-square        { list-style-type: square; }
.list-ls-decimal       { list-style-type: decimal; }
.list-ls-unset         { list-style-type: unset; }
