# Jekyll Site #
###############
_site/

# NPM #
###############
node_modules

# Compiled CSS/JS #
###############
/dist/css/
/dist/js/
/docs/assets/css/
/docs/assets/js/stacks.*
/docs/assets/js/controllers.js
/docs/assets/js/controllers.js.map
/docs/assets/js/library.*
/build/

# legacy compiled files -- these are no longer generated, but may still be lingering around
/lib/css/*.css

# Environment normalization #
###############
/docs/vendor/bundle
/docs/_includes/svg-icons
/docs/_includes/svg-spots
