*.md
.vscode/
dist/
# TODO: prettier breaks less files containing namespaced mixins with whitespaces
# BEFORE PRETTIER: #stacks-internals #responsify('.w25', { width: 25% !important; });
# AFTER PRETTIER:  #stacks-internals #responsify('.w25', { width: 25% !important; });;
# Using whitespaces between namespaces and mixins is deprecated: #stacks-internals #responsify()
# Instead we should use: #stacks-internals.responsify() which also doesn't bother prettier
# https://lesscss.org/features/#mixins-feature-namespaces
*.less
