---
layout: with-secondary-nav
title: Positioning
description: Positioning atomic classes allow you to change an element's position project quickly. Positions should <strong>only</strong> be declared with these classes. This is meant to help create consistency.
---
<section class="stacks-section">
    <h2 class="fl fl-jc-space-between fl-ai-center mb-0 mt-24 stacks-title mb-12">Position</h2>
    <h3 class="fl fl-jc-space-between fl-ai-center mb-0 mt-24 stacks-title _subtitle mb-12">Position Definitions</h3>
    <table class="table mb-32 _hover">
        <thead>
            <tr>
                <th class="-cell-3" scope="col">Class</th>
                <th class="-cell-3" scope="col">Output</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for utility in site.data.utility-definitions.position %}
              <tr>
                  <th scope="row" class="p-8 text-ff-mono text-fs-12">.{{ utility.class }}</th>
                  <td class="p-8 text-ff-mono text-fs-12">{{ utility.output }}</td>
                  <td>{{ utility.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="fl fl-jc-space-between fl-ai-center mb-0 mt-24 stacks-title _subtitle">Position Examples</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-static">…</div>
<div class="ps-relative">…</div>
<div class="ps-absolute">…</div>
<div class="ps-sticky">…</div>
<div class="ps-fixed">…</div>
<div class="ps-unset">…</div>
{% endhighlight %}
        <div class="-preview ps-relative">
            <div class="fl oy-scroll o-hidden w-100" style="height: 200px;">
                <div class="ps-static p-12 mt-48 bg-yellow-050 ba bac-yellow-3 text-ff-mono text-black-800" style="width: 120px; height: 180px;"><strong>.ps-static</strong></div>
                <div class="ps-relative p-12 mt-48 bg-yellow-050 ba bac-yellow-3 text-ff-mono text-black-800" style="width: 120px; height: 380px; top: 30px; right: 20px;"><strong>.ps-relative</strong><br/><br/>top: 30px;<br/>right: 20px;</div>
                <div class="ps-absolute p-12 bg-yellow-050 ba bac-yellow-3 text-ff-mono text-black-800" style="top:50px; right: 16px;  width: 120px; height: 180px;"><strong>.ps-absolute</strong><br/><br/>top: 50px;<br/>right: 0;</div>
                <div class="ps-sticky mt-48 p-12 bg-yellow-050 ba bac-yellow-3 text-ff-mono text-black-800" style="width: 120px; height: 180px; top: 60px;"><strong>.ps-sticky</strong><br/><br/>top: 60px;</div>
            </div>
        </div>
    </div>
</section>

<section class="stacks-section">
    <h2 class="fl fl-jc-space-between fl-ai-center mb-0 mt-24 stacks-title mb-12">Position Coordinates</h2>
    <h3 class="fl fl-jc-space-between fl-ai-center mb-0 mt-24 stacks-title _subtitle mb-12">Coordinate Definitions</h3>
    <table class="table mb-32 _hover">
        <thead>
            <tr>
                <th class="-cell-3" scope="col">Class</th>
                <th class="-cell-3" scope="col">Output</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for utility in site.data.utility-definitions.coordinates %}
              <tr>
                  <th scope="row" class="p-8 text-ff-mono text-fs-12">.{{ utility.class }}</th>
                  <td class="p-8 text-ff-mono text-fs-12">{{ utility.output }}</td>
                  <td>{{ utility.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="fl fl-jc-space-between fl-ai-center mb-0 mt-24 stacks-title _subtitle">Coordinate Examples</h3>
    <strong class="fl fl-jc-space-between fl-ai-center mb-0 mt-4 py-4 stacks-title text-fw-normal text-fs-15 text-black-400 bb bbc-black-3">Top</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute top-n-100">…</div>
<div class="ps-absolute top-n-50">…</div>
<div class="ps-absolute top-0">…</div>
<div class="ps-absolute top-50">…</div>
<div class="ps-absolute top-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl my-64 ps-relative w-100 bts-dashed btc-red-1 btw-3" style="height: 64px;">
                <div class="ps-absolute top-n-100 left-50 p-12 bg-yellow-050 ba bac-yellow-3 btw-3 btc-red-3 text-ff-mono text-black-800" style="width: 120px;"><strong>.top-n-100</strong></div>
                <div class="ps-absolute top-n-50 left-50 p-12 bg-yellow-050 ba bac-yellow-3 btw-3 btc-red-3 text-ff-mono text-black-800" style="margin-left: -24px; width: 120px;"><strong>.top-n-50</strong></div>
                <div class="ps-absolute top-0 left-50 p-12 bg-yellow-050 ba bac-yellow-3 btw-3 btc-red-3 text-ff-mono text-black-800" style="margin-left: -48px; width: 120px;"><strong>.top-0</strong></div>
                <div class="ps-absolute top-50 left-50 p-12 bg-yellow-050 ba bac-yellow-3 btw-3 btc-red-3 text-ff-mono text-black-800" style="margin-left: -72px; width: 120px;"><strong>.top-50</strong></div>
                <div class="ps-absolute top-100 left-50 p-12 bg-yellow-050 ba bac-yellow-3 btw-3 btc-red-3 text-ff-mono text-black-800" style="margin-left: -96px; width: 120px;"><strong>.top-100</strong></div>
            </div>
        </div>
    </div>

    <strong class="fl fl-jc-space-between fl-ai-center mb-0 mt-4 py-4 stacks-title text-fw-normal text-fs-15 text-black-400 bb bbc-black-3">Right</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute right-n-100">…</div>
<div class="ps-absolute right-n-50">…</div>
<div class="ps-absolute right-0">…</div>
<div class="ps-absolute right-50">…</div>
<div class="ps-absolute right-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl ps-relative w-30 brs-dashed brc-red-1 brw-3" style="margin-left: 35%; margin-right: 35%; height: 200px;">
                <div class="ps-absolute right-n-100 p-12 bg-yellow-050 ba bac-yellow-3 brw-3 brc-red-3 text-ff-mono text-black-800" style="width: 120px;"><strong>.right-n-100</strong></div>
                <div class="ps-absolute right-n-50 p-12 bg-yellow-050 ba bac-yellow-3 brw-3 brc-red-3 text-ff-mono text-black-800" style="margin-top: 24px; width: 120px;"><strong>.right-n-50</strong></div>
                <div class="ps-absolute right-0 p-12 bg-yellow-050 ba bac-yellow-3 brw-3 brc-red-3 text-ff-mono text-black-800" style="margin-top: 48px; width: 120px;"><strong>.right-0</strong></div>
                <div class="ps-absolute right-50 p-12 bg-yellow-050 ba bac-yellow-3 brw-3 brc-red-3 text-ff-mono text-black-800" style="margin-top: 72px; width: 120px;"><strong>.right-50</strong></div>
                <div class="ps-absolute right-100 p-12 bg-yellow-050 ba bac-yellow-3 brw-3 brc-red-3 text-ff-mono text-black-800" style="margin-top: 96px; width: 120px;"><strong>.right-100</strong></div>
            </div>
        </div>
    </div>

    <strong class="fl fl-jc-space-between fl-ai-center mb-0 mt-4 py-4 stacks-title text-fw-normal text-fs-15 text-black-400 bb bbc-black-3">Bottom</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute bottom-n-100">…</div>
<div class="ps-absolute bottom-n-50">…</div>
<div class="ps-absolute bottom-0">…</div>
<div class="ps-absolute bottom-50">…</div>
<div class="ps-absolute bottom-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl my-64 ps-relative w-100 bbs-dashed bbc-red-1 bbw-3" style="height: 64px;">
                <div class="ps-absolute bottom-n-100 left-50 p-12 bg-yellow-050 ba bac-yellow-3 bbw-3 bbc-red-3 text-ff-mono text-black-800" style="width: 120px;"><strong>.bottom-n-100</strong></div>
                <div class="ps-absolute bottom-n-50 left-50 p-12 bg-yellow-050 ba bac-yellow-3 bbw-3 bbc-red-3 text-ff-mono text-black-800" style="margin-left: -24px; width: 120px;"><strong>.bottom-n-50</strong></div>
                <div class="ps-absolute bottom-0 left-50 p-12 bg-yellow-050 ba bac-yellow-3 bbw-3 bbc-red-3 text-ff-mono text-black-800" style="margin-left: -48px; width: 120px;"><strong>.bottom-0</strong></div>
                <div class="ps-absolute bottom-50 left-50 p-12 bg-yellow-050 ba bac-yellow-3 bbw-3 bbc-red-3 text-ff-mono text-black-800" style="margin-left: -72px; width: 120px;"><strong>.bottom-50</strong></div>
                <div class="ps-absolute bottom-100 left-50 p-12 bg-yellow-050 ba bac-yellow-3 bbw-3 bbc-red-3 text-ff-mono text-black-800" style="margin-left: -96px; width: 120px;"><strong>.bottom-100</strong></div>
            </div>
        </div>
    </div>

    <strong class="fl fl-jc-space-between fl-ai-center mb-0 mt-4 py-4 stacks-title text-fw-normal text-fs-15 text-black-400 bb bbc-black-3">Left</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute left-n-100">…</div>
<div class="ps-absolute left-n-50">…</div>
<div class="ps-absolute left-0">…</div>
<div class="ps-absolute left-50">…</div>
<div class="ps-absolute left-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl ps-relative w-30 bls-dashed blc-red-1 blw-3" style="margin-left: 35%; margin-right: 35%; height: 200px;">
                <div class="ps-absolute left-n-100 p-12 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3 text-ff-mono text-black-800" style="width: 120px;"><strong>.left-n-100</strong></div>
                <div class="ps-absolute left-n-50 p-12 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3 text-ff-mono text-black-800" style="margin-top: 24px; width: 120px;"><strong>.left-n-50</strong></div>
                <div class="ps-absolute left-0 p-12 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3 text-ff-mono text-black-800" style="margin-top: 48px; width: 120px;"><strong>.left-0</strong></div>
                <div class="ps-absolute left-50 p-12 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3 text-ff-mono text-black-800" style="margin-top: 72px; width: 120px;"><strong>.left-50</strong></div>
                <div class="ps-absolute left-100 p-12 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3 text-ff-mono text-black-800" style="margin-top: 96px; width: 120px;"><strong>.left-100</strong></div>
            </div>
        </div>
    </div>
</section>
