---
layout: with-secondary-nav
title: Positioning
description: Positioning atomic classes allow you to change an element's position project quickly. Positions should <strong>only</strong> be declared with these classes. This is meant to help create consistency.
---
<section class="stacks-section">
    <h2 class="fl fl-jc-space-between fl-ai-center mb4 mt6 stacks-title">Position</h2>
    <h3 class="fl fl-jc-space-between fl-ai-center mb4 mt6 stacks-title _subtitle">Position Definitions</h3>
    <table class="table mb7 _hover">
        <thead>
            <tr>
                <th class="-cell3" scope="col">Class</th>
                <th class="-cell3" scope="col">Output</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for utility in site.data.utility-definitions.position %}
              <tr class="ff-mono fs2">
                  <th scope="row" class="p-8">.{{ utility.class }}</th>
                  <td class="p-8">{{ utility.output }}</td>
                  <td>{{ utility.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="fl fl-jc-space-between fl-ai-center mb0 mt6 stacks-title _subtitle">Position Examples</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-static">…</div>
<div class="ps-relative">…</div>
<div class="ps-absolute">…</div>
<div class="ps-sticky">…</div>
<div class="ps-fixed">…</div>
<div class="ps-unset">…</div>
{% endhighlight %}
        <div class="-preview ps-relative">
            <div class="fl oy-scroll o-hidden w100 ff-mono tc-black-800" style="height: 200px;">
                <div class="ps-static p4 mt8 bg-yellow-050 ba bac-yellow-3" style="width: 120px; height: 180px;"><strong>.ps-static</strong></div>
                <div class="ps-relative p4 mt8 bg-yellow-050 ba bac-yellow-3" style="width: 120px; height: 380px; top: 30px; right: 20px;"><strong>.ps-relative</strong><br/><br/>top: 30px;<br/>right: 20px;</div>
                <div class="ps-absolute p4 bg-yellow-050 ba bac-yellow-3" style="top:50px; right: 16px;  width: 120px; height: 180px;"><strong>.ps-absolute</strong><br/><br/>top: 50px;<br/>right: 0;</div>
                <div class="ps-sticky mt8 p4 bg-yellow-050 ba bac-yellow-3" style="width: 120px; height: 180px; top: 60px;"><strong>.ps-sticky</strong><br/><br/>top: 60px;</div>
            </div>
        </div>
    </div>
</section>

<section class="stacks-section">
    <h2 class="fl fl-jc-space-between fl-ai-center mb4 mt6 stacks-title">Position Coordinates</h2>
    <h3 class="fl fl-jc-space-between fl-ai-center mb4 mt6 stacks-title _subtitle">Coordinate Definitions</h3>
    <table class="table mb7 _hover">
        <thead>
            <tr>
                <th class="-cell3" scope="col">Class</th>
                <th class="-cell3" scope="col">Output</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for utility in site.data.utility-definitions.coordinates %}
              <tr class="ff-mono fs2">
                  <th scope="row" class="p-8">.{{ utility.class }}</th>
                  <td class="p-8">{{ utility.output }}</td>
                  <td>{{ utility.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="fl fl-jc-space-between fl-ai-center mb0 mt6 stacks-title _subtitle">Coordinate Examples</h3>
    <strong class="fl fl-jc-space-between fl-ai-center mb0 mt2 py2 stacks-title fw-normal fs15 tc-black-400 bb bbc-black-3">Top</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute top-n100">…</div>
<div class="ps-absolute top-n50">…</div>
<div class="ps-absolute top-0">…</div>
<div class="ps-absolute top-50">…</div>
<div class="ps-absolute top-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl my9 ps-relative w100 bts-dashed btc-red-1 btw3 ff-mono tc-black-800" style="height: 64px;">
                <div class="ps-absolute top-n100 left-50 p4 bg-yellow-050 ba bac-yellow-3 btw3 btc-red-3" style="width: 120px;"><strong>.top-n100</strong></div>
                <div class="ps-absolute top-n50 left-50 p4 bg-yellow-050 ba bac-yellow-3 btw3 btc-red-3" style="margin-left: -24px; width: 120px;"><strong>.top-n50</strong></div>
                <div class="ps-absolute top-0 left-50 p4 bg-yellow-050 ba bac-yellow-3 btw3 btc-red-3" style="margin-left: -48px; width: 120px;"><strong>.top-0</strong></div>
                <div class="ps-absolute top-50 left-50 p4 bg-yellow-050 ba bac-yellow-3 btw3 btc-red-3" style="margin-left: -72px; width: 120px;"><strong>.top-50</strong></div>
                <div class="ps-absolute top-100 left-50 p4 bg-yellow-050 ba bac-yellow-3 btw3 btc-red-3" style="margin-left: -96px; width: 120px;"><strong>.top-100</strong></div>
            </div>
        </div>
    </div>

    <strong class="fl fl-jc-space-between fl-ai-center mb0 mt2 py2 stacks-title fw-normal fs15 tc-black-400 bb bbc-black-3">Right</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute right-n100">…</div>
<div class="ps-absolute right-n50">…</div>
<div class="ps-absolute right-0">…</div>
<div class="ps-absolute right-50">…</div>
<div class="ps-absolute right-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl ps-relative w-30 brs-dashed brc-red-1 brw3 ff-mono tc-black-800" style="margin-left: 35%; margin-right: 35%; height: 200px;">
                <div class="ps-absolute right-n100 p4 bg-yellow-050 ba bac-yellow-3 brw3 brc-red-3" style="width: 120px;"><strong>.right-n100</strong></div>
                <div class="ps-absolute right-n50 p4 bg-yellow-050 ba bac-yellow-3 brw3 brc-red-3" style="margin-top: 24px; width: 120px;"><strong>.right-n50</strong></div>
                <div class="ps-absolute right-0 p4 bg-yellow-050 ba bac-yellow-3 brw3 brc-red-3" style="margin-top: 48px; width: 120px;"><strong>.right-0</strong></div>
                <div class="ps-absolute right-50 p4 bg-yellow-050 ba bac-yellow-3 brw3 brc-red-3" style="margin-top: 72px; width: 120px;"><strong>.right-50</strong></div>
                <div class="ps-absolute right-100 p4 bg-yellow-050 ba bac-yellow-3 brw3 brc-red-3" style="margin-top: 96px; width: 120px;"><strong>.right-100</strong></div>
            </div>
        </div>
    </div>

    <strong class="fl fl-jc-space-between fl-ai-center mb0 mt2 py2 stacks-title fw-normal fs15 tc-black-400 bb bbc-black-3">Bottom</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute bottom-n100">…</div>
<div class="ps-absolute bottom-n50">…</div>
<div class="ps-absolute bottom-0">…</div>
<div class="ps-absolute bottom-50">…</div>
<div class="ps-absolute bottom-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl my9 ps-relative w100 bbs-dashed bbc-red-1 bbw3 ff-mono tc-black-800" style="height: 64px;">
                <div class="ps-absolute bottom-n100 left-50 p4 bg-yellow-050 ba bac-yellow-3 bbw3 bbc-red-3" style="width: 120px;"><strong>.bottom-n100</strong></div>
                <div class="ps-absolute bottom-n50 left-50 p4 bg-yellow-050 ba bac-yellow-3 bbw3 bbc-red-3" style="margin-left: -24px; width: 120px;"><strong>.bottom-n50</strong></div>
                <div class="ps-absolute bottom-0 left-50 p4 bg-yellow-050 ba bac-yellow-3 bbw3 bbc-red-3" style="margin-left: -48px; width: 120px;"><strong>.bottom-0</strong></div>
                <div class="ps-absolute bottom-50 left-50 p4 bg-yellow-050 ba bac-yellow-3 bbw3 bbc-red-3" style="margin-left: -72px; width: 120px;"><strong>.bottom-50</strong></div>
                <div class="ps-absolute bottom-100 left-50 p4 bg-yellow-050 ba bac-yellow-3 bbw3 bbc-red-3" style="margin-left: -96px; width: 120px;"><strong>.bottom-100</strong></div>
            </div>
        </div>
    </div>

    <strong class="fl fl-jc-space-between fl-ai-center mb0 mt2 py2 stacks-title fw-normal fs15 tc-black-400 bb bbc-black-3">Left</strong>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="ps-absolute left-n100">…</div>
<div class="ps-absolute left-n50">…</div>
<div class="ps-absolute left-0">…</div>
<div class="ps-absolute left-50">…</div>
<div class="ps-absolute left-100">…</div>
{% endhighlight %}
        <div class="-preview">
            <div class="fl ps-relative w-30 bls-dashed blc-red-1 blw-3 ff-mono tc-black-800" style="margin-left: 35%; margin-right: 35%; height: 200px;">
                <div class="ps-absolute left-n100 p4 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3" style="width: 120px;"><strong>.left-n100</strong></div>
                <div class="ps-absolute left-n50 p4 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3" style="margin-top: 24px; width: 120px;"><strong>.left-n50</strong></div>
                <div class="ps-absolute left-0 p4 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3" style="margin-top: 48px; width: 120px;"><strong>.left-0</strong></div>
                <div class="ps-absolute left-50 p4 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3" style="margin-top: 72px; width: 120px;"><strong>.left-50</strong></div>
                <div class="ps-absolute left-100 p4 bg-yellow-050 ba bac-yellow-3 blw-3 blc-red-3" style="margin-top: 96px; width: 120px;"><strong>.left-100</strong></div>
            </div>
        </div>
    </div>
</section>
