---
layout: with-secondary-nav
title: Sizing
description: Sizing atomic classes allow you to quickly an element's size or max size. Sizing classes provide percentage values and max-sizes are REM values. These should be used when possible to help create consistency.
---
<section class="stacks-section">
    <h2 class="fl fl-jc-space-between fl-ai-center mb12 mt6 stacks-title">Class Definitions</h2>
    <h3 class="fl fl-jc-space-between fl-ai-center mb12 mt6 stacks-title _subtitle">Sizes</h3>
    <table class="table mb32 _hover">
        <thead>
            <tr>
                <th class="-cell3" scope="col">Class</th>
                <th class="-cell2" scope="col">Width Class</th>
                <th class="-cell2" scope="col">Height Class</th>
                <th scope="col">Output</th>
            </tr>
        </thead>
        <tbody>
            {% for size in site.data.utility-definitions.sizing %}
              <tr class="ff-mono fs2">
                  <th scope="row" class="p3">.{{ size.class }}</th>
                  <td class="p3">.w{{ size.value }}</td>
                  <td class="p3">.h{{ size.value }}</td>
                  <td class="p3">{{ size.value }}%</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="fl fl-jc-space-between fl-ai-center mb12 mt6 stacks-title _subtitle">Max Sizes</h3>
    <table class="table mb32 _hover">
        <thead>
            <tr>
                <th class="-cell3" scope="col">Class</th>
                <th class="-cell2" scope="col">Width Class</th>
                <th class="-cell2" scope="col">Height Class</th>
                <th class="-cell2" scope="col">Output</th>
                <th scope="col">Output in Pixels</th>
            </tr>
        </thead>
        <tbody>
            {% for size in site.data.utility-definitions.max-size %}
            <tr class="ff-mono fs2">
                <th scope="row" class="p3">.{{ size.class }}</th>
                {% if size.value == 100 %}
                    <td class="p3">.wmx{{ size.name }}</td>
                    <td class="p3">.hmx{{ size.name }}</td>
                    <td class="p3">{{ size.value }}%</td>
                    <td class="p3 tc-black-350">N/A</td>
                {% else %}
                    <td class="p3">.wmx{{ size.name }}</td>
                    <td class="p3">.hmx{{ size.name }}</td>
                    <td class="p3">{{ size.value }}rem</td>
                    <td class="p3">{{ size.output }}px</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="stacks-section">
    <h2 class="fl fl-jc-space-between fl-ai-center mb0 mt6 stacks-title _subtitle">Examples</h2>
    <h3 class="fl fl-jc-space-between fl-ai-center mb0 mt2 py2 stacks-title fw-normal fs4 tc-black-400 bb bbc-black-3">Width</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="w0">…</div>
<div class="w10">…</div>
<div class="w20">…</div>
<div class="w25">…</div>
<div class="w30">…</div>
<div class="w40">…</div>
<div class="w50">…</div>
<div class="w60">…</div>
<div class="w70">…</div>
<div class="w75">…</div>
<div class="w80">…</div>
<div class="w90">…</div>
<div class="w100">…</div>
{% endhighlight %}
        <div class="-preview ps-relative">
            <div class="fl gs3 fl-col-nowrap w100 tc-black-800 ff-mono">
                <div class="fl">
                    <div class="p5 w100 bg-orange-050 ba bac-orange-1">.w100</div>
                </div>
                <div class="fl">
                    <div class="p5 mr2 w10 bg-orange-050 ba bac-orange-1">.w10</div>
                    <div class="p5 ml2 w90 bg-orange-050 ba bac-orange-1">.w90</div>
                </div>
                <div class="fl">
                    <div class="p5 mr2 w20 bg-orange-050 ba bac-orange-1">.w20</div>
                    <div class="p5 ml2 w80 bg-orange-050 ba bac-orange-1">.w80</div>
                </div>
                <div class="fl">
                    <div class="p5 mr2 w25 bg-orange-050 ba bac-orange-1">.w25</div>
                    <div class="p5 ml2 w75 bg-orange-050 ba bac-orange-1">.w75</div>
                </div>
                <div class="fl">
                    <div class="p5 mr2 w30 bg-orange-050 ba bac-orange-1">.w30</div>
                    <div class="p5 ml2 w70 bg-orange-050 ba bac-orange-1">.w70</div>
                </div>
                <div class="fl">
                    <div class="p5 mr2 w40 bg-orange-050 ba bac-orange-1">.w40</div>
                    <div class="p5 ml2 w60 bg-orange-050 ba bac-orange-1">.w60</div>
                </div>
                <div class="fl">
                    <div class="p5 mr2 w50 bg-orange-050 ba bac-orange-1">.w50</div>
                    <div class="p5 ml2 w50 bg-orange-050 ba bac-orange-1">.w50</div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="fl fl-jc-space-between fl-ai-center mb0 mt2 py2 stacks-title fw-normal fs4 tc-black-400 bb bbc-black-3">Height</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="h0">…</div>
<div class="h10">…</div>
<div class="h20">…</div>
<div class="h25">…</div>
<div class="h30">…</div>
<div class="h40">…</div>
<div class="h50">…</div>
<div class="h60">…</div>
<div class="h70">…</div>
<div class="h75">…</div>
<div class="h80">…</div>
<div class="h90">…</div>
<div class="h100">…</div>
{% endhighlight %}
        <div class="-preview ps-relative">
            <div class="fl fl-inline gs3 w100 tc-black-800 ff-mono" style="height: 300px;">
                <div class="-cell fl-col-nowrap">
                    <div class="p5 h100 bg-orange-050 ba bac-orange-1">.h100</div>
                </div>
                <div class="-cell fl-col-nowrap">
                    <div class="px-16 py3 mb2 h10 bg-orange-050 ba bac-orange-1">.h10</div>
                    <div class="p5 mt2 h90 bg-orange-050 ba bac-orange-1">.h90</div>
                </div>
                <div class="-cell fl-col-nowrap">
                    <div class="p5 mb2 h20 bg-orange-050 ba bac-orange-1">.h20</div>
                    <div class="p5 mt2 h80 bg-orange-050 ba bac-orange-1">.h80</div>
                </div>
                <div class="-cell fl-col-nowrap">
                    <div class="p5 mb2 h25 bg-orange-050 ba bac-orange-1">.h25</div>
                    <div class="p5 mt2 h75 bg-orange-050 ba bac-orange-1">.h75</div>
                </div>
                <div class="-cell fl-col-nowrap">
                    <div class="p5 mb2 h30 bg-orange-050 ba bac-orange-1">.h30</div>
                    <div class="p5 mt2 h70 bg-orange-050 ba bac-orange-1">.h70</div>
                </div>
                <div class="-cell fl-col-nowrap">
                    <div class="p5 mb2 h40 bg-orange-050 ba bac-orange-1">.h40</div>
                    <div class="p5 mt2 h60 bg-orange-050 ba bac-orange-1">.h60</div>
                </div>
                <div class="-cell fl-col-nowrap">
                    <div class="p5 mb2 h50 bg-orange-050 ba bac-orange-1">.h50</div>
                    <div class="p5 mt2 h50 bg-orange-050 ba bac-orange-1">.h50</div>
                </div>
            </div>
        </div>
    </div>
</section>
