---
layout: with-secondary-nav
title: Spacing
description: Stacks provides utility classes to override margin and padding.
---
<section class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center stacks-title">Margin</h2>
    <p class="stacks-p _section">Immutable margin utilities are based on our global white space scale. These can dramatically help reduce the size of large stylesheets and allow for greater flexibility and quicker iteration when designing in the browser.</p>
    <p class="stacks-p _section">Margin should never be declared outside of these utilities. This is meant to help create consistency and avoid magic numbers. If, for some reason, the default white space scale does not suit your design, customize and extend it before use.</p>

    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Margin Class Convention</h3>
    <table class="table mb48 _hover">
        <thead>
            <tr>
                <th class="-cell-2" scope="col">Abbreviation</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for spacing in site.data.spacing-definitions.margin %}
              <tr>
                  <th scope="row">{{ spacing.term }}</th>
                  <td>{{ spacing.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Margin Classes</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="mt8 mr4 mb32 ml64">
  …
</div>
{% endhighlight %}
        <div class="-preview">
            <div class="mt8 mr4 mb32 ml64 bg-orange-100 p12 ba bac-orange-3">
                Example div with different margins applied
            </div>
        </div>
    </div>
    <table class="table mb32 _hover">
        <thead>
            <tr>
                <th scope="col">Prefix</th>
                <th scope="col" class="ta-center">0</th>
                <th scope="col" class="ta-center">2</th>
                <th scope="col" class="ta-center">4</th>
                <th scope="col" class="ta-center">8</th>
                <th scope="col" class="ta-center">12</th>
                <th scope="col" class="ta-center">16</th>
                <th scope="col" class="ta-center">24</th>
                <th scope="col" class="ta-center">32</th>
                <th scope="col" class="ta-center">48</th>
                <th scope="col" class="ta-center">64</th>
            </tr>
        </thead>
        <tbody>
          {% for class in site.data.spacing-classes.margin %}
          {% assign prefix-value = class.values | split: ", " %}
              <tr>
                  <th scope="row" class="-cell1">{{ class.prefix }}</th>
                  {% for values in prefix-value %}
                  <td class="ta-center"><code>.{{ class.prefix }}{{ values }}</code></td>
                  {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Additional Margin Classes</h3>
    <p class="stacks-p _section">In order to the standard margin classes above, there a few additional margin-only classes available: negative margin and auto classes. Negative margin classes apply only to the x-axis (margin-left, margin-right) and can be used to offset margins and padding of child elements. The auto classes apply only to x-axis as well and can be used to reset the left and right margins.</p>
    <table class="table mb48 _hover">
        <thead>
            <tr>
                <th scope="col" class="-cell3">Type</th>
                <th scope="col">Values</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Negative Margin</th>
                <td>
                    <code>.mxn2</code>,
                    <code>.mxn3</code>,
                    <code>.mxn4</code>,
                    <code>.mxn5</code>,
                    <code>.mxn6</code>,
                    <code>.mxn7</code>,
                    <code>.mxn8</code>,
                    <code>.mxn9</code>
                </td>
            </tr>
            <tr>
                <th scope="row">Auto Margin</th>
                <td>
                    <code>.m-auto</code>,
                    <code>.ml-auto</code>,
                    <code>.mr-auto</code>,
                    <code>.mx-auto</code>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<section class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center stacks-title">Padding</h2>
    <p class="stacks-p _section">Immutable padding utilities are based on a global white space scale defined with custom properties. These can dramatically help reduce the size of large stylesheets and allow for greater flexibility and quicker iteration when designing in the browser.</p>
    <p class="stacks-p _section">Padding should never be declared outside of these utilities. This is meant to help create consistency and avoid magic numbers. If, for some reason, the default white space scale does not suit your design, customize and extend it before use.</p>

    <h4 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle-sm">Padding Class Convention</h4>
    <table class="table mb48 _hover">
        <thead>
            <tr>
                <th class="-cell-2" scope="col">Abbreviation</th>
                <th scope="col">Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for spacing in site.data.spacing-definitions.padding %}
              <tr>
                  <th scope="row">{{ spacing.term }}</th>
                  <td>{{ spacing.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle-sm">Padding Classes</h4>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="pt4 pr64 pb64 pl64">
  …
</div>
{% endhighlight %}
        <div class="-preview">
            <div class="pt4 pr64 pb64 pl64 bg-orange-100 p12 ba bac-orange-3">
                Example div with different paddings applied
            </div>
        </div>
    </div>
    <table class="table mb32 _hover">
        <thead>
            <tr>
                <th scope="col">Prefix</th>
                <th scope="col" class="ta-center">0</th>
                <th scope="col" class="ta-center">2</th>
                <th scope="col" class="ta-center">4</th>
                <th scope="col" class="ta-center">8</th>
                <th scope="col" class="ta-center">12</th>
                <th scope="col" class="ta-center">16</th>
                <th scope="col" class="ta-center">24</th>
                <th scope="col" class="ta-center">32</th>
                <th scope="col" class="ta-center">48</th>
                <th scope="col" class="ta-center">64</th>
            </tr>
        </thead>
        <tbody>
          {% for class in site.data.spacing-classes.padding %}
          {% assign prefix-value = class.values | split: ", " %}
              <tr>
                  <th scope="row" class="-cell1">{{ class.prefix }}</th>
                  {% for values in prefix-value %}
                   <td class="ta-center"><code>.{{ class.prefix }}{{ values }}</code></td>
                  {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
