---
layout: with-secondary-nav
title: Typography
description: Stacks provides utility classes to override default styling of typography. Change typographic weights, styles, and alignment with these utility styles.
---
<section id="typography-basic" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Basic Styles</h2>
    <p class="stacks-p _section">These styles should only be used as overrides. They shouldn’t replace standard semantic uses of <code class="stacks-code">strong</code> or <code class="stacks-code">em</code> tags.</p>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<p class="fw-normal">Font Weight: Normal</p>
<p class="fw-bold">Font Weight: Bold</p>
…
<p class="fs-normal">Font Style: Normal</p>
<p class="fs-italic">Font Style: Italic</p>
<p class="fs-unset">Font Style: Unset</p>
…
<p class="tt-capitalize">Text Transform: Capitalize</p>
<p class="tt-lowercase">Text Transform: Lowercase</p>
<p class="tt-uppercase">Text Transform: Uppercase</p>
<p class="tt-none">Text Transform: None</p>
<p class="tt-unset">Text Transform: Unset</p>
…
<a class="td-dashed">Text Decoration: Dashed</a>
<a class="td-underline">Text Decoration: Underline</a>
<a class="td-none">Text Decoration: None</a>
{% endhighlight %}
        <div class="-preview">
            <p><strong>Font Weight:</strong> Normal</p>
            <p><strong>Font Weight:</strong> <span class="fw-bold">Bold</span></p>
…
            <p><strong>Font Style:</strong> <span class="fs-normal">Normal</span></p>
            <p><strong>Font Style:</strong> <span class="fs-italic">Italic</span></p>
            <p><strong>Font Style:</strong> <span class="fs-unset">Unset</span></p>
…
            <p><strong>Text Transform:</strong> <span class="tt-capitalize">Capitalize</span></p>
            <p><strong>Text Transform:</strong> <span class="tt-lowercase">Lowercase</span></p>
            <p><strong>Text Transform:</strong> <span class="tt-uppercase">Uppercase</span></p>
            <p><strong>Text Transform:</strong> <span class="tt-none">None</span></p>
            <p><strong>Text Transform:</strong> <span class="tt-unset">Unset</span></p>
…
            <p><strong>Text Decoration:</strong> <a><span class="td-dashed">Dashed</span></a></p>
            <p><strong>Text Decoration:</strong> <a><span class="td-underline">Underline</span></a></p>
            <p><strong>Text Decoration:</strong> <a><span class="td-none">None</span></a></p>
        </div>
    </div>
</section>

<section id="typography-layout" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Layout</h2>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<p class="ta-left">Text Align: Left</p>
<p class="ta-center">Text Align: Center</p>
<p class="ta-right">Text Align: Right</p>
<p class="ta-justify">Justify: …</p>
<p class="ta-unset">Text Align: Unset</p>
…
<p class="ws-normal">White-space: Normal</p>
<p class="ws-nowrap">White-space: Nowrap</p>
<p class="ws-pre">White-space: Pre</p>
<p class="ws-pre-wrap">White-space: Pre-wrap</p>
<p class="ws-pre-line">White-space: Pre-line</p>
<p class="ws-unset">White-space: Unset</p>
…
<p class="ww-break-word">Break word</p>
…
<p class="truncate">Truncate: …</p>
{% endhighlight %}
        <div class="-preview">
            <p class="ta-left"><strong>Text Align:</strong> Left</p>
            <p class="ta-center"><strong>Text Align:</strong> Center</p>
            <p class="ta-right"><strong>Text Align:</strong> Right</p>
            <p class="ta-justify"><strong>Text Align:</strong> Justify — Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="ta-unset"><strong>Text Align:</strong> Unset</p>
            <br />
            <p class="ws-normal"><strong>White-space:</strong> Normal</p>
            <p class="ws-nowrap"><strong>White-space:</strong> Nowrap</p>
            <p class="ws-pre"><strong>White-space:</strong> Pre</p>
            <p class="ws-pre-wrap"><strong>White-space:</strong> Pre-wrap</p>
            <p class="ws-pre-line"><strong>White-space:</strong> Pre-line</p>
            <p class="ws-unset"><strong>White-space:</strong> Unset</p>
            <br />
            <p class="ww-break-word"><strong>Word Wrap:</strong> Break word</p>
            <br />
            <p class="truncate"><strong>Truncate:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
</section>

<section id="typography-font" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Fonts</h2>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<p class="ff-sans">…</p>
<p class="ff-serif">…</p>
<p class="ff-mono">…</p>
<p class="ff-inherit">…</p>
{% endhighlight %}
        <div class="-preview">
            <p class="ff-sans fs-subheading">Sans Serif</p>
            <p class="ff-serif fs-subheading">Serif</p>
            <p class="ff-mono fs-subheading">Mono</p>
            <p class="ff-inherit fs-subheading">Inherit</p>
        </div>
    </div>
</section>

<section id="typography-scale" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Type Sizes</h2>
    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Type Class Definitions</h3>
    <table class="table mb32 _hover">
        <thead>
            <tr>
                <th class="-cell2" scope="col">Class</th>
                <th scope="col">Size</th>
            </tr>
        </thead>
        <tbody>
            {% for term in site.data.type-definitions.fontsize %}
              <tr>
                  <th scope="row"><code class="stacks-code">.fs-{{ term.term }}</code></th>
                  <td>{{ term.define }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Type Examples</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<p class="fs-fine">…</p>
<p class="fs-caption">…</p>
<p class="fs-body1">…</p>
<p class="fs-body2">…</p>
<p class="fs-body3">…</p>
<p class="fs-subheading">…</p>
<p class="fs-title">…</p>
<p class="fs-headline1">…</p>
<p class="fs-headline2">…</p>
<p class="fs-display1">…</p>
<p class="fs-display2">…</p>
<p class="fs-display3">…</p>
<p class="fs-display4">…</p>
{% endhighlight %}
        <div class="-preview grid fl-col-nowrap gs16">
            {% for term in site.data.type-definitions.fontsize %}
            <div class="grid">
                <div class="grid-cell-2 fc-light fs-caption fw-bold">{{ term.label }}</div>
                <div class="grid-cell fs-{{ term.term }} lh-xs">{{ term.define }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="typography-spacing" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Type Spacing</h2>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<p class="lh-xs">…</p>
<p class="lh-s">…</p>
<p class="lh-m">…</p>
<p class="lh-l">…</p>
<p class="lh-xl">…</p>
<p class="lh-xxl">…</p>
{% endhighlight %}
        <div class="-preview">
            <p class="lh-xs"><strong>Line Height 1:</strong> This sets the <code class="stacks-code">line-height</code> value to <code class="stacks-code">1</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="lh-s"><strong>Line Height 2:</strong> This sets the <code class="stacks-code">line-height</code> value to <code class="stacks-code">1.13</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="lh-m"><strong>Line Height 3:</strong> This sets the <code class="stacks-code">line-height</code> value to <code class="stacks-code">1.26</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="lh-l"><strong>Line Height 4:</strong> This sets the <code class="stacks-code">line-height</code> value to <code class="stacks-code">1.4</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="lh-xl"><strong>Line Height 5:</strong> This sets the <code class="stacks-code">line-height</code> value to <code class="stacks-code">1.53</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="lh-xxl"><strong>Line Height 6:</strong> This sets the <code class="stacks-code">line-height</code> value to <code class="stacks-code">1.67</code>. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</section>

<section id="typography-scale" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Type Colors</h2>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<p class="fc-light">…</p>
<p class="fc-medium">…</p>
<p class="fc-dark">…</p>
{% endhighlight %}
        <div class="-preview">
            <p class="fc-light fs-body2"><strong>Color:</strong> Light</p>
            <p class="fc-medium fs-body2"><strong>Color:</strong> Medium</p>
            <p class="fc-dark fs-body2"><strong>Color:</strong> Dark</p>
        </div>
    </div>
</section>

<section id="typography-list-styling" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title"class="toc-list-styling">List Styling</h2>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<ol class="list-reset">
  …
</ol>
<ul class="list-ls-none">
  …
</ul>
<ul class="list-ls-disc">
  …
</ul>
<ul class="list-ls-circle">
  …
</ul>
<ul class="list-ls-square">
  …
</ul>
<ol class="list-ls-decimal">
  …
</ol>
<ul class="list-ls-unset">
  …
</ul>
{% endhighlight %}
        <div class="-preview">
            <ol class="list-reset">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ol>
            <br />
            <ul class="list-ls-none">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ul>
            <br />
            <ul class="list-ls-disc">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ul>
            <br />
            <ul class="list-ls-circle">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ul>
            <br />
            <ul class="list-ls-square">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ul>
            <br />
            <ol class="list-ls-decimal">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ol>
            <br />
            <ul class="list-ls-unset">
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
                <li>List item 4</li>
                <li>List item 5</li>
            </ul>
        </div>
    </div>
</section>
