//
//  STACKS
//  All the CSS related to Stacks ONLY.
//
//  TABLE OF CONTENTS
//  • IMPORTS
//  • UNIVERSAL SETTINGS
//  • SITE LAYOUT
//  • CODE STYLE
//
//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "base";            //  These are actual styles used in SO projects
@import "syntax";


//  ============================================================================
//  $   UNIVERSAL SETTINGS
//  ----------------------------------------------------------------------------
.svg-icon {
    fill: currentColor;
    //vertical-align: bottom; // Make icons play nicely while inline with text by default
}

//  ============================================================================
//  $   SITE LAYOUT
//  ============================================================================
//  $   CSS GRID
//      This is supported by all modern browsers except IE11 and Edge.
//      IE11 and Edge support the old spec prefixed. Microsoft is working
//      on shipping the new spec soon. Dated Jun 2017
//
//      Official Status:
//      https://developer.microsoft.com/en-us/microsoft-edge/platform/status/gridupdate/
//  ============================================================================
//      Fall forward. If a browser supports CSS Grids, then use the following
//      CSS. Otherwise they'll ignore it and we can use flexbox instead. This
//      mainly means IE11 and Edge won't be supported for Grids.
//  ----------------------------------------------------------------------------
@content-width:       (unit(780 / @body-fs)) * 1em;  // Target width: 780px;
@nav-width:           (unit(234 / @body-fs)) * 1em;  // Target width: 234px;

@supports (grid-auto-rows: 1px) {
    .grid-container {
        display: grid;
        grid-template-columns: @nav-width @content-width;
        grid-template-areas: "nav main";
        grid-gap: 0;
        height: 100%;

        //  Specific class names that assign template areas
        .stacks-content {
            grid-column: main;
        }
        .stacks-nav-primary {
            grid-column: nav;
        }
        .stacks-nav-secondary {
            grid-column: subnav;
        }

        .stacks-nav-primary,
        .stacks-nav-secondary {
            position: -webkit-sticky; // Needed for Safari
            position: sticky;
            top: 0;
            height: 100vh;
        }

        //  For when we want a secondary navigation
        &._nav-secondary {
            grid-template-columns: @nav-width @nav-width @content-width;
            grid-template-areas: "nav subnav main";
        }
        &._home {
            grid-template-columns: @nav-width 1fr;
        }
    }
}

.stacks-section {
    max-width: @content-width; // Needed for Safari
}


//  ============================================================================
//  $   NAV STYLES
//  ============================================================================
//  $$  NAV: RESET LIST
//  ----------------------------------------------------------------------------
.nav {
    &,
    .-item {
        .list-reset;
    }

    .-link {
        position: relative;
        padding: @su4 @su4 @su4 @su24;
    }
}

//  $$  NAV: MENU ITEM
//  ----------------------------------------------------------------------------
.nav .-item {
    //  If a submenu is open flip the icon
    &.is-open .-icon {
        transform: rotate(180deg) translateY(-1px);
    }

    //  If a submenu item is active…
    &.is-active .-link {
        background-color: @orange-300;
        color: @white;

        &:hover {
            background-color: @orange-400;
            color: @white;
        }
    }

    //  If a submenu item is the last one…
    &:last-child {
        padding-bottom: @su8;
    }
}

//  $$  NAV: SECTIONS
//  ----------------------------------------------------------------------------
.-section {
    font-size: @fs12;
    color: @fc-medium;
}

//  $$  NAV: LINKS
//  ----------------------------------------------------------------------------
.nav {
    .-link {
        background-color: fade(@black-050,0%);
        font-size: @fs12;
        line-height: @lh-l;
        color: @fc-light;
        transition: all 600ms @te-smooth;

        &:hover {
            background-color: fade(@black-050,50%);
            color: @fc-dark;
        }
    }
    &._secondary {
        .-link {
            color: @fc-medium;
        }
        .nav .-link {
            padding-left: @su32;
            color: @fc-light;
        }
    }
}

.-repo-meta a {
    color: @black-400;
    transition: all 300ms @te-smooth-quick;

    &:hover {
        color: @fc-dark;
    }
}

//  ============================================================================
//  $  NESTED NAV
//  ----------------------------------------------------------------------------
//  Scrollspy styling
// .stacks-nav-secondary .active > .-link {
//     box-shadow: inset -2px 0 0 @orange-400;
//     color: @fc-dark;
// }

// Make icons slightly smaller
.nav .-icon .svg-icon {
    width: @su12;
    height: @su12;
}


//  ============================================================================
//  $   TYPE STYLES
//  ============================================================================
//  $$  TITLES
//  ----------------------------------------------------------------------------
.stacks-title {
    font-size: @fs21;
    line-height: @lh-l;
    color: @fc-dark;

    .-anchor {
        .fl-inline;
        .fl0;
        .fl-jc-center;
        .fl-ai-center;
        width: @su24;
        height: @su24;
        background-color: @white;
        color: @fc-light;
        transition: all 300ms @te-smooth;

        &:hover {
            background-color: @blue-100;
            color: @blue-700;
        }
    }

    &._subtitle {
        margin-bottom: @su12;
        font-size: @fs17;
        color: @fc-medium;
    }
    &._subtitle-sm {
        font-size: @fs15;
        color: @fc-light;
    }
}

.stacks-subttitle {
    .grid;
    .fl-jc-space-between;
    .fl-ai-center;

    margin-top: @su12;
    margin-bottom: @su12;
    padding-left: @su12;
    padding-right: @su12;
    border-bottom: 1px solid @black-100;

    font-size: @fs21;
    font-weight: 400;
    color: @fc-light;
}

.stacks-page-category {
    position: relative;
    margin: @su24;
    padding-bottom: @su8;

    font-size: @fs12;
    text-transform: uppercase;
    color: @orange-400;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: @su24;
        height: @su2;
        background-color: @bgc-darker;
    }

}

//  ============================================================================
//  $$  PARAGRAPHS
//  ----------------------------------------------------------------------------
.stacks-p {
    margin: 0 0 1em;
    line-height: @lh;
    color: @fc-medium;

    &._intro {
        margin-bottom: @su24;
        padding-top: @su4;
        font-size: @fs21;
    }
    &._page    { font-size: @fs19; }
    &._section { font-size: @fs17; }

    strong {
        color: @fc-dark;
    }
}

//  ============================================================================
//  $$  LISTS
//  ----------------------------------------------------------------------------
.stacks-list {
    margin: 0 0 1em;
    line-height: @lh;
    color: @fc-medium;

    &._section { font-size: @fs17; }

    strong {
        color: @fc-dark;
    }
}

//  --   Code Tag
//  ----------------------------------------------------------------------------
.stacks-code,
.stacks-p code.highlighter-rouge /* markdown-created code spans */ {
    margin: 0 @su2;
    padding: @su2 @su4;
    border-radius: @br2;
    border: 1px solid @black-050;
    background-color: @black-050;

    font-size: @fs12;
    font-family: @ff-mono;
    color: @fc-medium;

    vertical-align: middle;
    white-space: nowrap;
}


//  ============================================================================
//  $   CODE STYLES
//  ----------------------------------------------------------------------------
.stacks-code-preview {
    margin-top: @su16;
    box-shadow: 0 @su2 @su8 fade(@black-050, 50%);

    // Actual code highlight
    .highlight {
        // Reset margins
        &,
        pre {
            margin: 0;
            font-size: @fs13;
            font-family: @ff-mono;
            line-height: @lh-l;
            color: #C5C8C6;
        }

        > pre {
            background-color: @black-800;
            border-top-left-radius: @br1;
            border-top-right-radius: @br1;
            .btr1;
            overflow: auto;
        }

        .gutter.gl {
            padding-top: @su12;
            padding-right: @su8;
            padding-bottom: @su12;
            background: @black-750;
            min-width: @su32;

            pre {
                color: #7A7D80;
            }
        }

        .code {
            padding-left: @su12;
        }
    }

    //  Preview area
    .-preview {
        padding: @su16;
        border-bottom-left-radius: @br1;
        border-bottom-right-radius: @br1;
        border: 1px solid @black-100;
        border-top-width: 0;
    }

    //  If there's no preview. We're only showing code.
    &._preview-none .highlight pre {
        border-radius: @br1;
    }
}


//  ============================================================================
//  $   CARD STYLES
//  ----------------------------------------------------------------------------
//  --   Preview Area
.card.stacks-preview .-preview {
    min-height: 4em;
    background-color: @black-025;
    box-shadow: inset 0 -1px 0 @black-050;
    color: @fc-medium;

    .svg-icon {
        max-width: 90%;
    }
}


//  ============================================================================
//  $   GRID
//      Used to showcase grid layouts and cells
//  ----------------------------------------------------------------------------
@grid-background:            @orange-050;
@grid-cell-background:       @orange-300;

.stacks-grid {
    font-family: @ff-mono;
    font-size: @fs12;
    font-color: @fc-dark;

    &._helper-ac .grid,
    &._helper-as .grid {
        max-height: 128px;
    }

    &._helper-order .stacks-grid-wrapper {
        .grid-cell:not(.fl-first):not(.fl-last) { opacity: 0.5; }
    }
}

.stacks-grid-wrapper {
    margin-top: @su24;
    margin-bottom: @su24;
    overflow: hidden;

    &:first-of-type { margin-top: 0; }
    &:last-of-type  { margin-bottom: 0; }

    .grid,
    [class*="grid-cell"] {
        padding: @su8;
        background-color: @grid-background;

        .grid,
        [class*="grid-cell"] {
            background-color: @grid-cell-background;

            .grid,
            [class*="grid-cell"] {
                background-color: spin(desaturate(darken(@grid-cell-background,5%),5%),-5);
            }
        }
    }
}

.stacks-grid-example {
    .fl-box;
    .fl-center;
    height: 100%;
}

//  ============================================================================
//  $   COLORS
//  ----------------------------------------------------------------------------
.stacks-swatch {
    width: @su32;
    height: @su32;
}

//  ============================================================================
//  $   Help Button
//  ----------------------------------------------------------------------------
.button-help {
    position: fixed;
    bottom: @su32;
    right: @su32;
    color: @orange-400;

    &:hover {
        color: @orange-600;
    }
}
