//
//  STACKS
//  All the CSS related to Stacks ONLY.
//
//  TABLE OF CONTENTS
//  • IMPORTS
//  • UNIVERSAL SETTINGS
//  • SITE LAYOUT
//  • CODE STYLE
//
//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "base";            //  These are actual styles used in SO projects
@import "syntax";


//  ============================================================================
//  $   UNIVERSAL SETTINGS
//  ----------------------------------------------------------------------------
.svg-icon {
  fill: currentColor;
}

//  ============================================================================
//  $   SITE LAYOUT
//  ============================================================================
//  $   CSS GRID
//      This is supported by all modern browsers except IE11 and Edge.
//      IE11 and Edge support the old spec prefixed. Microsoft is working
//      on shipping the new spec soon. Dated Jun 2017
//
//      Official Status:
//      https://developer.microsoft.com/en-us/microsoft-edge/platform/status/gridupdate/
//  ============================================================================
//      Fall forward. If a browser supports CSS Grids, then use the following
//      CSS. Otherwise they'll ignore it and we can use flexbox instead. This
//      mainly means IE11 and Edge won't be supported for Grids.
//  ----------------------------------------------------------------------------
@content-width:       60em;
@nav-width:           18em;

@supports (grid-auto-rows: 1px) {
  .grid-container {
    display: grid;
    grid-template-columns: @nav-width @content-width;
    grid-template-areas: "nav main";
    grid-gap: 0;
    .h100;

    //  Specific class names that assign template areas
    .stacks-content {
      grid-column: main;
    }
    .stacks-nav-primary {
      grid-column: nav;
    }
    .stacks-nav-secondary {
      grid-column: subnav;
    }

    .stacks-nav-primary,
    .stacks-nav-secondary {
      position: -webkit-sticky; // Needed for Safari
      position: sticky;
      top: 0;
      height: 100vh;
    }

    //  For when we want a secondary navigation
    &._nav-secondary {
      grid-template-columns: @nav-width @nav-width @content-width;
      grid-template-areas: "nav subnav main";
    }
    &._home {
      grid-template-columns: @nav-width 1fr;
    }
  }
}

.stacks-section {
  .pt16;
  max-width: @content-width; // Needed for Safari
}


//  ============================================================================
//  $   NAV STYLES
//  ============================================================================
//  $$  NAV: RESET LIST
//  ----------------------------------------------------------------------------
.nav {
  &,
  .-item {
    .list-reset;
  }
}

//  $$  NAV: MENU ITEM
//  ----------------------------------------------------------------------------
.nav .-item {
  //  If a submenu is open…
  &.is-open {
    // background-color: @black-050;

    //  Flip icon
    .-icon {
      transform: rotate(180deg) translateY(-1px);
    }
  }

  //  If a submenu item is active…
  &.is-active .-link {
    .bg-orange-300;
    .tc-white;

    //  Add small extension to the end of the background color…
    &:before {
      content: "";
      .ps-absolute;
      .top-0;
      .bottom-0;
      .right-0;
      margin-right: -(@su3);
      width: @su3;
      .bg-orange-300;
    }

    &:hover,
    &:hover:before {
      .bg-orange-400;
      .tc-white;
    }
  }

  //  If a submenu item is the last one…
  &:last-child {
    .pb8;
  }
}

.nav._secondary .nav .-link {
  .ml8;
  width: calc(~"100% - @{su3}");
}


//  $$  NAV: SECTIONS
//  ----------------------------------------------------------------------------
.-section {
  font-size: @fs2;
  color: @black-700;
}

//  $$  NAV: LINKS
//  ----------------------------------------------------------------------------
.nav .-link {
  background-color: fade(@black-050,0%);
  font-size: @fs3;
  line-height: @lh6;
  color: @black-400;
  transition: all 300ms @te-smooth-quick;

  &:hover {
    background-color: fade(@black-050,50%);
    color: @fc-dark;
  }
}

.-repo-meta {
  a {
    color: @black-400;
    transition: all 300ms @te-smooth-quick;

    &:hover {
      color: @fc-dark;
    }
  }
}

//  ============================================================================
//  $  NESTED NAV
//  ----------------------------------------------------------------------------
.nav .nav {
  .-link {
    font-size: @fs2;
    line-height: @lh4;

    &:hover {
      color: @black-600;
      background-color: @black-050;
    }
  }
}

//  Scrollspy styling
.stacks-nav-secondary .active {
  > .-link {
    box-shadow: inset -2px 0 0 @orange-400;
    color: @fc-dark;
  }
}

.nav {
  // Make icons slightly smaller
  .-icon .svg-icon {
    width: 12px;
    height: 12px;
  }
}

.-title._border {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: @su3;
    bottom: 0;
    width: @su6;
    height: @su1;
    background-color: @bgc-darker;
  }
}


//  ============================================================================
//  $   TYPE STYLES
//  ============================================================================
//  $$  TITLES
//  ----------------------------------------------------------------------------
.stacks-title {
  font-size: @fs7;
  line-height: @lh6;
  color: @fc-dark;

  .-anchor {
    .flexbox(inline);
    .flex(0 auto);
    .justify-content(center);
    .align-items(center);
    width: @su6;
    height: @su6;
    background-color: @white;
    color: @fc-light;
    transition: all 300ms @te-smooth;

    &:hover {
      background-color: @blue-100;
      color: @blue-700;
    }
  }

  &._subtitle {
    font-size: @fs5;
    color: @fc-medium;
  }
  &._subtitle-sm {
    font-size: @fs4;
    color: lighten(@fc-medium,10%);
  }
}

//  ============================================================================
//  $$  PARAGRAPHS
//  ----------------------------------------------------------------------------
.stacks-p {
  margin: 0 0 1em;
  line-height: @lh3;
  color: @fc-medium;

  &._intro   { font-size: @fs7; }
  &._page    { font-size: @fs5; }
  &._section { font-size: @fs4; }

  strong {
    color: @fc-dark;
  }
}

//  ============================================================================
//  $$  LISTS
//  ----------------------------------------------------------------------------
.stacks-list {
  margin: 0 0 1em;
  line-height: @lh4;
  color: @fc-medium;

  &._section { font-size: @fs4; }

  strong {
    color: @fc-dark;
  }
}

//  --   Code Tag
//  ----------------------------------------------------------------------------
.stacks-code,
.stacks-p code.highlighter-rouge /* markdown-created code spans */ {
  margin: 0 @su1;
  padding: @su1 (@su2 + 1) (@su2 - 1);
  border-radius: @br2;
  box-shadow: inset 1px 1px 0 fade(@red-400,25%), inset -1px -1px 0 fade(@red-400,25%);
  background-color: fade(@bgc-lightest,75%);
  font-size: @fs2;
  font-weight: 700;
  color: @red-400;
}


//  ============================================================================
//  $   CODE STYLES
//  ----------------------------------------------------------------------------
.stacks-code-preview {
  margin-top: @su5;
  margin-bottom: @su7;
  box-shadow: 0 2px 8px fade(@bgc-lightest,50%);

  // Actual code highlight
  .highlight {
    // Reset margins
    &,
    pre {
      margin: 0;
      font-size: @fs3 + 1;
      font-family: @ff-mono;
      line-height: @lh6;
      color: #C5C8C6;
    }

    > pre {
      background-color: @black-800;
      .btr1;
      overflow: auto;
    }

    .gutter.gl {
      padding-top: @su4;
      padding-right: @su3;
      padding-bottom: @su4;
      background: @black-750;
      min-width: @su7;

      pre {
        color: #7A7D80;
      }
    }

    .code {
      padding-left: @su4;
    }
  }

  //  Preview area
  .-preview {
    .p16;
    .bbr1;
    .ba;
    .bac-black-3;
    .btw0;
  }

  //  If there's no preview. We're only showing code.
  &._preview-none .highlight pre {
    .bar1;
  }
}


//  ============================================================================
//  $   CARD STYLES
//  ----------------------------------------------------------------------------
.card.stacks-preview {
  //  --   Preview Area
  .-preview {
    min-height: 4em;
    background-color: @black-025;
    box-shadow: inset 0 -1px 0 @black-050;
    color: @fc-medium;

    .svg-icon {
      max-width: 90%;
    }
  }
}


//  ============================================================================
//  $   GRID
//      Used to showcase grid layouts and cells
//  ----------------------------------------------------------------------------
@grid-background:            @orange-050;
@grid-cell-background:       @orange-300;

.stacks-grid {
  .ff-mono;
  .fs2;
  .tc-black-800;

  &._helper-ac .grid,
  &._helper-as .grid {
    max-height: 128px;
  }

  &._helper-order .stacks-grid-wrapper {
    .grid-cell:not(.fl-first):not(.fl-last) { opacity: 0.5; }
  }
}

.stacks-grid-wrapper {
  .my24;
  .overflow-hidden;

  &:first-of-type { .mt0; }
  &:last-of-type  { .mb0; }

  .grid,
  [class*="grid-cell"] {
    .p8;
    background-color: @grid-background;

    .grid,
    [class*="grid-cell"] {
      background-color: @grid-cell-background;

      .grid,
      [class*="grid-cell"] {
        background-color: spin(desaturate(darken(@grid-cell-background,5%),5%),-5);
      }
    }
  }
}

.stacks-grid-example {
  .fl-box;
  .fl-center;
  .h100;
}

//  ============================================================================
//  $   COLORS
//  ----------------------------------------------------------------------------
.stacks-swatch {
  width: @su7;
  height: @su7;
}
