//
//  BUTTONS
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • BASE STYLE
//  • STYLE VARIATIONS
//  • LAYOUTS & SIZES
//
//  ============================================================================
//  $   VARIABLES
//      The base styles are set in _var.less. Each community can reset these
//      variables within their all.less.
//  ===========================================================================
//  $   BASE STYLE
//  ---------------------------------------------------------------------------
input[type="submit"],
input[type="button"],
button, .button, .btn, [class*="btn-"] {
    display: inline-block;
    position: relative;
    padding: 0.615384615em 1em;
    vertical-align: middle;
    min-height: 2.461538462em;
    box-sizing: border-box;

    font-weight: @btn-font-weight;
    font-family: inherit;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border-radius: @btn-border-radius;
    border: @btn-border-width solid transparent;

    cursor: pointer;
    outline: none;
    touch-action: manipulation; // Not supported in FF and Safari
    transition: all @btn-transition-duration ease-in;

    &:hover, &:focus {
        text-decoration: none;
        transition: all @btn-transition-duration ease-in-out;
        outline: none;
    }

    &[disabled], &._disabled {
        cursor: default;
        pointer-events: none;
        box-shadow: none;
        opacity: 1;

        &:hover {
            cursor: default;
            box-shadow: none;
        }
    }
}

//  =============================================================================
//  $   BUTTON STYLES / TYPES
//  =============================================================================
//  $$  Primary Button Style
//  -----------------------------------------------------------------------------
input[type="submit"],
input[type="button"],
button, .button, a.button, a.button:visited,
.btn {
    color: @white;
    background-color: @btn-primary;
    border-color: darken(@btn-primary,10%);
    box-shadow: inset 0 1px 0 lighten(@btn-primary,20%);

    &:hover, &:focus {
        color: fadeout(@white,10%);
        background-color: darken(@btn-primary,10%);
        border-color: darken(@btn-primary,20%);
        box-shadow: inset 0 1px 0 lighten(@btn-primary,10%);
    }
    &[disabled], &._disabled {
        color: @white;
        background-color: desaturate(lighten(@btn-primary,35%),70%);
        border-color: desaturate(lighten(@btn-primary,30%),70%);
    }
}

//  -----------------------------------------------------------------------------
//  $$  Secondary Button Style
//  -----------------------------------------------------------------------------
input[type="submit"].btn-secondary,
input[type="button"].btn-secondary,
button.btn-secondary,
.btn-secondary {
    color: darken(@btn-secondary,50%);
    background-color: @btn-secondary;
    border-color: darken(@btn-secondary,20%);
    box-shadow: inset 0 1px 0 lighten(@btn-secondary,5%);

    &:hover, &:focus {
        color: darken(@btn-secondary,60%);
        background-color: darken(@btn-secondary,10%);
        border-color: darken(@btn-secondary,40%);
        box-shadow: inset 0 1px 0 @btn-secondary;
    }

    &[disabled], &._disabled {
        color: desaturate(darken(@btn-secondary,25%),30%);
        background-color: spin(desaturate(lighten(@btn-secondary,5%),30%),5);
        border-color: spin(desaturate(darken(@btn-secondary,5%),30%),5);
    }
}

//  -----------------------------------------------------------------------------
//  $$  Outlined Button Style
//  -----------------------------------------------------------------------------
input[type="submit"].btn-outlined,
input[type="button"].btn-outlined,
button.btn-outlined,
.btn-outlined {
    color: @btn-outlined;
    background-color: fade(@btn-outlined,0%);
    border-color: lighten(@btn-outlined,10%);
    box-shadow: none;

    &:hover, &:focus {
        color: darken(@btn-outlined,10%);
        background-color: lighten(@btn-outlined,55%);
        border-color: @btn-outlined;
        box-shadow: none;
    }

    &[disabled], &._disabled {
        color: spin(desaturate(lighten(@btn-outlined,25%),95%),5);
        background-color: spin(desaturate(lighten(@btn-outlined,55%),95%),5);
        border-color: spin(desaturate(lighten(@btn-outlined,45%),95%),10);
    }

    //  --  When you want to turn the outlined button red
    &.-warning {
        color: @btn-warning;
        background-color: fade(@btn-warning,0%);
        border-color: lighten(@btn-warning,10%);

        &:hover, &:focus {
            color: darken(@btn-warning,10%);
            background-color: lighten(@btn-warning,45%);
            border-color: @btn-warning;
        }

        &[disabled], &._disabled {
            color: spin(desaturate(lighten(@btn-warning,15%),95%),5);
            background-color: spin(desaturate(lighten(@btn-warning,45%),95%),5);
            border-color: spin(desaturate(lighten(@btn-warning,35%),95%),10);
        }
    }

    //  --  When you want to invert the outlined button to white.
    //      This is used primarily on darker backgrounds.
    &.white, &.-white {
        color: @white;
        background-color: fade(@white,0%);
        border-color: @white;

        &:hover, &:focus {
            color: fade(@white,95%);
            background-color: fade(@white,10%);
            border-color: fade(@white,60%);
        }
        &[disabled], &._disabled { opacity: 0.5; }
    }

    //  --  When you want to invert the outlined button to white.
    //      This is used primarily on darker backgrounds.
    &.gray, &.-gray {
        color: @black-400;
        background-color: @white;
        border-color: @black-150;

        &:hover, &:focus {
            background-color: @black-050;
        }
        &[disabled], &._disabled {
            opacity: 0.5;
        }
    }

}

//  -----------------------------------------------------------------------------
//  $$  Clear Button Style
//  -----------------------------------------------------------------------------
input[type="submit"].btn-clear,
input[type="button"].btn-clear,
button.btn-clear,
.btn-clear {
    color: @btn-clear;
    background-color: fade(@btn-clear,0%);
    border-color: transparent;
    box-shadow: none;

    &:hover, &:focus {
        color: darken(@btn-clear,10%);
        background-color: fade(@btn-clear,10%);
        border-color: transparent;
        box-shadow: none;
    }

    &[disabled], &._disabled {
        color: spin(desaturate(lighten(@btn-clear,25%),95%),5);
        background-color: spin(desaturate(lighten(@btn-clear,55%),95%),5);
        border-color: transparent;
    }

    //  --  When you want to turn a clear button red
    &.-warning {
        color: @btn-warning;
        background-color: fade(@btn-warning,0%);
        border-color: fade(@btn-warning,0%);

        &:hover, &:focus {
            color: darken(@btn-warning,10%);
            background-color: lighten(@btn-warning,45%);
            border-color: lighten(@btn-warning,45%);
        }

        &[disabled], &._disabled {
            color: spin(desaturate(lighten(@btn-warning,15%),95%),5);
            background-color: spin(desaturate(lighten(@btn-warning,45%),95%),5);
            border-color: spin(desaturate(lighten(@btn-warning,45%),95%),5);
        }
    }

    //  --  When you want to invert the outlined button to white.
    //      This is used primarily on darker backgrounds.
    &.white, &.-white {
        color: @white;
        background-color: fade(@white,0%);
        border-color: transparent;

        &:hover, &:focus {
            color: fade(@white,95%);
            background-color: fade(@white,5%);
            border-color: transparent;
        }

        &[disabled], &._disabled { opacity: 0.5; }
    }
}

//  -----------------------------------------------------------------------------
//  $$  Confirm Button Style
//  -----------------------------------------------------------------------------
input[type="submit"].btn-confirm,
input[type="button"].btn-confirm,
button.btn-confirm,
.btn-confirm {
    color: @white;
    background-color: @btn-confirm;
    border-color: darken(@btn-confirm,10%);
    box-shadow: inset 0 1px 0 lighten(@btn-confirm,20%);

    &:hover, &:focus {
        color: fadeout(@white,10%);
        background-color: darken(@btn-confirm,10%);
        border-color: darken(@btn-confirm,20%);
        box-shadow: inset 0 1px 0 lighten(@btn-confirm,10%);
    }

    &[disabled], &._disabled {
        color: desaturate(lighten(@btn-confirm,15%),25%);
        background-color: desaturate(lighten(@btn-confirm,30%),20%);
        border-color: desaturate(lighten(@btn-confirm,25%),25%);
    }
}


//  -----------------------------------------------------------------------------
//  $$  Warning Button Style
//  -----------------------------------------------------------------------------
input[type="submit"].btn-warning,
input[type="button"].btn-warning,
button.btn-warning,
.btn-warning {
    color: @white;
    background-color: lighten(@btn-warning,10%);
    border-color: darken(@btn-warning,10%);
    box-shadow: inset 0 1px 0 lighten(@btn-warning,30%);

    &:hover, &:focus {
        color: fadeout(@white,10%);
        background-color: @btn-warning;
        border-color: darken(@btn-warning,20%);
        box-shadow: inset 0 1px 0 lighten(@btn-warning,10%);
    }

    &[disabled], &._disabled {
        color: @white;
        background-color: desaturate(lighten(@btn-warning,25%),30%);
        border-color: desaturate(lighten(@btn-warning,25%),50%);
    }
}

//  -----------------------------------------------------------------------------
//  $$  Icon Button Style
//  -----------------------------------------------------------------------------
input[type="submit"].btn-icon,
input[type="button"].btn-icon,
button.btn-icon,
.btn-icon {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover, &:focus {
        color: inherit;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
    }

    &.-gray {
        color: @black-500;
        background-color: @black-100;
        border-color: @black-300;

        &:hover, &:focus {
            color: @black-600;
            background-color: @black-150;
            border-color: @black-350;
        }
    }
}

//  -----------------------------------------------------------------------------
//  $$  Loaders
input[type=submit],
input[type=button],
button, .button, a.button, a.button:visited,
.btn, .btn:visited, .btn-secondary, .btn-outlined, .btn-clear, .btn-confirm, .btn-warning, .btn-icon {
    &.loading {
        pointer-events: none;

        &:before {
            //&:extend(.spinner);
            float: left;
            left: -4px;
            content: "";
        }

        .btn-secondary&:before,
        .btn-outlined&:before,
        .btn-clear&:before {
            border-top-color: @powder-200;
            border-right-color: @powder-200;
            border-bottom-color: @powder-200;
            border-left-color: @powder-400;
        }
    }
}

//  =============================================================================
//  $  LAYOUT & SIZES
//  -----------------------------------------------------------------------------
input[type="submit"],
input[type="button"],
button, .button,
.btn, [class*="btn-"]  {
    &._block {
        display: block;
        margin-bottom: 0.5em;
        width: 100%;

        & + & { margin-left: 0; }
    }
    &._hide { display: none; }
    &._show { display: inline-block; }

    &._xlarge  { font-size: ceil(@body-font-size * 1.84); }
    &._large {
        padding-left: 2em;
        padding-right: 2em;
        font-size: ceil(@body-font-size * 1.38);
    }
    &._medium  { font-size: ceil(@body-font-size * 1.15); }
    &._small   { font-size: ceil(@body-font-size * 0.92); }

    &._left    { float: left; }
    &._right {
        float: right;
        margin-right: 2px;
        &:first-of-type { margin-right: 0; }
    }
}
