//
//  STACK OVERFLOW
//  TYPOGRAPHY
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • LINK STYLES
//  • TEXT STYLES: BASE
//  • TEXT STYLES: CUSTOM
//  • PARAGRAPH STYLES: BASE
//  • PARAGRAPH STYLES: CUSTOM
//  • CODE STYLES
//  • HEADER STYLES: BASE
//  • HEADER STYLES: CUSTOM
//  • BLOCKQUOTES
//
//  ============================================================================
//  $ LINK STYLES
//  ----------------------------------------------------------------------------
//  --  BASE
a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: @link-color-hover;
    text-decoration: none;
  }
}
