//
//  STACK OVERFLOW
//  TYPOGRAPHY
//
//  TABLE OF CONTENTS
//  • VARIABLES
//  • LINK STYLES
//  • ATOMIC OVERRIDES
//
//  ============================================================================
//  $ LINK STYLES
//  ----------------------------------------------------------------------------
//  --  BASE
a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: @link-color-hover;
    text-decoration: none;
  }
}

// Use <b> and <strong> to bold text. If specificity issues persist, use these
// classes <b class="text-bold">
.t-decoration-none { text-decoration: none; }

.t-bold      { font-weight: 700; }
.t-normal    { font-weight: normal; }
.t-italic    { font-style: italic; }
.t-uppercase { text-transform: uppercase; }

.t-left-align  { text-align: left; }
.t-center      { text-align: center; }
.t-right-align { text-align: right; }
.t-justify     { text-align: justify; }

.t-no-wrap    { white-space: nowrap; }
.t-break-word { word-wrap: break-word; }

.t-list-style-none { list-style: none; }
.t-underline { text-decoration: underline; }

.t-truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.t-list-reset {
  list-style: none;
  padding-left: 0;
}

.t-fs-11 { font-size: @fs-11; }
.t-fs-12 { font-size: @fs-12; }
.t-fs-13 { font-size: @fs-13; }
.t-fs-15 { font-size: @fs-15; }
.t-fs-17 { font-size: @fs-17; }
.t-fs-19 { font-size: @fs-19; }
.t-fs-21 { font-size: @fs-21; }
.t-fs-24 { font-size: @fs-24; }
.t-fs-27 { font-size: @fs-27; }
.t-fs-30 { font-size: @fs-30; }
.t-fs-34 { font-size: @fs-34; }
.t-fs-38 { font-size: @fs-38; }
.t-fs-43 { font-size: @fs-43; }
.t-fs-49 { font-size: @fs-49; }

.t-lh-1x { line-height: @lh-1x; }
.t-lh-2  { line-height: @lh-2; }
.t-lh-4  { line-height: @lh-4; }
.t-lh-6  { line-height: @lh-6; }
.t-lh-8  { line-height: @lh-8; }
.t-lh-10 { line-height: @lh-10; }
.t-lh-12 { line-height: @lh-12; }
.t-lh-2x { line-height: @lh-2x; }
