//  ============================================================================
//  $   TYPE VARIABLES
//      These are the Stacks type variables. These should be used in place of
//      hard-coded values within CSS declarations.
//  ============================================================================
//  $   FONT FAMILY (ff-)
//  ----------------------------------------------------------------------------
@ff-sans: 	Arial, "Helvetica Neue", Helvetica, sans-serif;
@ff-serif: 	Georgia, Times New Roman, Times, serif;
@ff-mono: 	Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;


//  ============================================================================
//  $   FONT SIZES (fs-)
//  ----------------------------------------------------------------------------
@fs-11:     11px; //  0.733rem
@fs-12:     12px; //  0.800rem
@fs-13:     13px; //  0.867rem
@fs-15:     15px; //  1.000rem
@fs-17:     17px; //  1.133rem
@fs-19:     19px; //  1.267rem
@fs-21:     21px; //  1.400rem
@fs-24:     24px; //  1.600rem
@fs-27:     27px; //  1.800rem
@fs-30:     30px; //  2.000rem
@fs-34:     34px; //  2.267rem
@fs-38:     38px; //  2.533rem
@fs-43:     43px; //  2.867rem
@fs-49:     49px; //  3.267rem


//  ============================================================================
//  $   LINE HEIGHT (lh-)
//  ----------------------------------------------------------------------------
// Need to remove the unit off the font-size to make line-height unitless
@lh-unit:   unit(@sen-fs);

// Now the various line-height variables
@lh-1x:     @lh-unit / @lh-unit;          // 1
@lh-2:      (@lh-unit + 2) / @lh-unit;    // 1.125
@lh-4:      (@lh-unit + 4) / @lh-unit;    // 1.25
@lh-6:      (@lh-unit + 6) / @lh-unit;    // 1.375
@lh-8:      (@lh-unit + 8) / @lh-unit;    // 1.5
@lh-10:     (@lh-unit + 10) / @lh-unit;   // 1.625
@lh-12:     (@lh-unit + 12) / @lh-unit;   // 1.75
@lh-2x:     (@lh-unit / @lh-unit) * 2;    // 2


//  ============================================================================
//  $   TEXT COLORS
//  ----------------------------------------------------------------------------
@fc-dark:      @black-800;
@fc-medium:    @black-600;
@fc-light:     @black-350;

@copy_muted-color:    @black-400;
