<nav class="stacks-nav-primary bg-black-025 grid-box _col">
    <header class="-cell _fl-0 p-24 pb-0 -logo">
        <a href="{{ site.baseurl }}" title="{{ site.title }}">
            <svg role="icon" class="svg-icon iconLogoGlyphMedium" width="32" height="37" viewBox="0 0 32 37"><g><path fill="#BCBBBB" d="M26 33v-9h4v13H0V24h4v9z"/><path d="M23.1 25.99l.68-2.95-16.1-3.35L7 23l16.1 2.99zM9.1 15.2l15 7 1.4-3-15-7-1.4 3zm4.2-7.4L26 18.4l2.1-2.5L15.4 5.3l-2.1 2.5zM21.5 0l-2.7 2 9.9 13.3 2.7-2L21.5 0zM7 30h16v-3H7v3z" fill="#F48024"/></g></svg>
        </a>
    </header>
    <ul role="navigation" class="grid-box _col list-reset nav stacks-nav-primary">
        {% for entry in site.data.nav %}
            {% assign sublinks = entry.sublinks %}
            {% assign menu-open = "is-open " %}
            {% assign submenu-active = "" %}
            <!-- {% if page.url contains entry.url %}
              {% assign menu-open = "is-open " %}
            {% endif %} -->

            {% if sublinks %}
                <li class="grid-box _col _fl-0 mb-4 -item _dropdown {{ menu-open }}js-subnav-section">
                    <span class="grid-box _ac-center pl-24 pr-12 py-4 -section" title="{{ entry.title }}">
                        <span class="-cell -label">{{ entry.title }}</span>
                        <!-- <span class="-cell _fl-0 _ai-center -icon js-subnav-toggle"><svg role="icon" class="svg-icon iconArrowDown" width="18" height="18" viewBox="0 0 18 18"><path d="M1 5h16l-8 8z"/></svg></span> -->
                    </span>
                    <!-- To hide menus by default, add this into nav class below: {% unless page.url contains entry.url %}
                      ut-ds-none{% endunless %} -->
                    <ul class="grid-box _col _fl-0 _ds-inline list-reset nav js-subnav-menu">
                        {% for sublink in sublinks %}
                            {% assign pageURL = page.url | remove_first:"/" | remove: ".html" %}
                            {% if pageURL == sublink.url %}
                              {% assign submenu-active = " is-active" %}
                            {% else %}
                              {% assign submenu-active = "" %}
                            {% endif %}
                            <li class="-cell -item{{ submenu-active }}">
                                <a class="pl-24 pr-12 -link" href="{{ site.baseurl }}/{{ sublink.url }}" title="{{ sublink.title }}">{{ sublink.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="-cell -item">
                    <a class="-link" href="{{ site.baseurl }}/{{ entry.url }}" title="{{ entry.title }}">{{ entry.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
