<section id="uikit-sidebar">
  <div class="uikit-logo">
    <a href="{{ site.baseurl }}/index.html">
      <svg role="icon" class="iconLogoGlyph" width="25" height="30" viewBox="0 0 25 30">
        <g fill="none">
          <path fill="#BCBBBB" d="M21 27v-8h3v11H0V19h3v8z"></path>
          <path fill="#F48024" d="M5.402 19.101l13.561 1.96.164-2.38-13.256-2.547-.469 2.967zM7.2 12.3l12 5.6 1.1-2.4-12-5.6-1.1 2.4zm3.4-5.9l10.2 8.5 1.7-2-10.2-8.5-1.7 2zM17.1.2L15 1.8l7.9 10.6 2.1-1.6L17.1.2zM5 25h14v-3H5v3z"></path>
        </g>
      </svg>
    </a>
  </div>

  <nav id="uikit-nav" role="navigation" class="uikit-nav">
    <ul class="list-reset">
      {% for entry in site.data.nav %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
          <li class="-item">
            <span class="root">{{ entry.title }}</span>
            <ul class="list-reset">
                {% for sublink in sublinks %}
                    {% capture current_url %}/{{ sublink.url }}.html{% endcapture %}
                    <li {% if page.url == current_url %}class="current"{% endif %}><a href="{{ site.baseurl }}/{{ sublink.url }}">{{ sublink.title }}</a></li>
                {% endfor %}
            </ul>
          </li>
        {% else %}
          <li><a href="{{ site.baseurl }}/{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</section>
