---
layout: with-secondary-nav
title: Icons
description: All system icons are inline SVG files, invoked via a Razor helper. The helper will insert a properly formatted and minified SVG file into your view. All icons are managed and stored within the <a href="https://gh.stackoverflow.com/Design/Icons">Design/Icons</a> repository.
---

<section class="stacks-section">
  <h2 class="fl fl-jc-space-between fl-ai-center mb0 stacks-title">Using the Icon Helper</h2>
  <p class="stacks-p _section">The SVG Razor helper function should be used for all system icons in lieu of SVG sprite sheets or raster image assets. This ensures a single source of truth for all icons. The SVG helper is invoked by `@Svg.` and then adding the icon name, like so:</p>

  <div class="stacks-code-preview _preview-none">
{% highlight html linenos %}
<div class="example">
  @Svg.Search
</div>
{% endhighlight %}
  </div>
</section>

<section class="stacks-section mb7">
  <h2 class="fl fl-jc-space-between fl-ai-center mb0 stacks-title">Icon Set</h2>
  <p class="fs2 tc-medium"><em>Last updated August 1, 2017</em></p>

  <div class="fl fl-wrap gs3 _cell4 iconset">
      {% assign icon_sort = site.data.icons | sort: "title" %}
      {% for icon in icon_sort %}
      <div class="fl fl-col-nowrap fl-inline card stacks-preview -item">
          <div class="-cell fl2 fl-xy-center p3 -preview">
              {% include_relative {{ icon.helper | prepend: "svg-icons/" | append: ".svg" }} %}
          </div>
          <div class="fl fl-col-nowrap fl0 fl-ai-center p3 -content">
              <h2 class="-cell -title fs2 m0">{{ icon.title }}</h2>
              <code class="-cell fs1">@Svg.{{ icon.helper }}</code>
          </div>
      </div>
      {% endfor %}
  </div>
</section>

<section class="stacks-section">
  <h2 class="fl fl-jc-space-between fl-ai-center mb0 stacks-title">Need an icon?</h2>
  <p class="stacks-p _section">If an icon you need isn't listed above, please do one of the following two options:</p>
  <ol class="stacks-list _section">
    <li><a href="https://gh.stackoverflow.com/Design/Icons/issues/new">Submit a request</a> outlining the desired icon, the icon's intended purposed, and where it will be used.</li>
    <li>If the icon is ready, <a href="https://gh.stackoverflow.com/Design/Icons/compare">submit a pull request</a> to have it to be reviewed. Please be sure to provide the same information as above.</li>
  </ol>
  <p class="stacks-p _section">If you have further questions, visit the project's Slack channel: #design-stacks.</p>
</section>
