<section class="uikit-section" id="grid-basic-usage" data-careers>
    <h2 class="toc-careers-basic-usage">Getting Started</h2>
    <p>To use the grid system, wrap the desired column widths within a <code>.-row</code> class. <em>NOTE: Row and column classes will only work when placed within a <code>.container</code> class.</em>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="container">
    <div class="-row">
        <div class="-col12"> ... </div>
    </div>
</div>
{% endhighlight %}
    </div>

    <h3 class="toc-making-rows">Making Rows</h3>
    <p>Rows are used to create groupings of content. You must declare a row so that all columns contained within it can have their widths properly set. For how to nest grids properly, <a href="grid-colNest">please see "Nesting Columns"</a>.</p>
    <p class="callout _info"><strong>NOTE:</strong> All content should be contained within in <code>.-row</code> class. It is recommended that content lives within column divs.</p>

    <h3 class="toc-making-cols">Making Columns</h3>
    <p>Columns are used to divide content within row groupings. Columns <strong>must be</strong> the immediate children of rows. If more than 12 columns are placed within a row, any <code>.-col*</code> group exceeding 12 columns will be wrapped onto a new line.</p>
    <p>The following is a grid system example, showing multiple <code>.-row</code> elements and varying <code>.-col*</code> elements examples.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="container">
    <div class="-row">
        <div class="-col1"> ... </div>
        ...
        <div class="-col1"> ... </div>
    </div>
    <div class="-row">
        <div class="-col8"> ... </div>
        <div class="-col4"> ... </div>
    </div>
    <div class="-row">
        <div class="-col4"> ... </div>
        <div class="-col4"> ... </div>
        <div class="-col4"> ... </div>
    </div>
    <div class="-row">
        <div class="-col6"> ... </div>
        <div class="-col6"> ... </div>
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview grid-preview -careers">
            <div class="container" style="min-height:auto;">
                <div class="-row">
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                    <div class="-col1"><p><code>.-col1</code></p></div>
                </div>
                <div class="-row">
                    <div class="-col8"><p><code>.-col8</code></p></div>
                    <div class="-col4"><p><code>.-col4</code></p></div>
                </div>
                <div class="-row">
                    <div class="-col4"><p><code>.-col4</code></p></div>
                    <div class="-col4"><p><code>.-col4</code></p></div>
                    <div class="-col4"><p><code>.-col4</code></p></div>
                </div>
                <div class="-row">
                    <div class="-col6"><p><code>.-col6</code></p></div>
                    <div class="-col6"><p><code>.-col6</code></p></div>
                </div>
            </div>
        </div>
    </div>
</section>