<section class="uikit-section" id="grid-column-wrapping" data-careers>
    <h2 class="toc-careers-column-wrapping">Column Wrapping</h2>
    <p>If the <code>.-col*</code> total exceeds 12 columns, the column groups which extend past 12 columns will wrap to a new line. If your goal is to always have a column wrap to a new line, it is suggested to create a row. In the example below, the last column (<code>.-col4</code>) wraps to a new line because column total is 13 (9+4). Since this exceeds 12 columns, the 4-column div wraps to a new line.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="-row">
    <div class="-col9"> ... </div>
    <div class="-col4"> ... </div>
</div>
{% endhighlight %}
        <div class="uikit-preview grid-preview -careers">
            <div class="container" style="min-height:auto;">
                <div class="-row">
                    <div class="-col9">
                        <p><code>.-col9</code></p>
                    </div>
                    <div class="-col4">
                        <p><code>.-col4</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>