<section class="uikit-section" id="grid-columns-neting" data-careers>
    <h2 class="toc-careers-columns-neting">Columns Nesting</h2>
    <p>To nest your content with the default grid, just add a new <code>.-row</code> and set of <code>.-col*</code> within an existing <code>.-col*</code> column.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="-row">
    <div class="-col9">
        ...
        <div class="-row">
            <div class="-col6"> ... </div>
            <div class="-col6"> ... </div>
        </div>
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview grid-preview -careers">
            <div class="container" style="min-height:auto;">
                <div class="-row">
                    <div class="-col9">
                        <p>First level <code>.-col9</code></p>
                        <div class="-row">
                            <div class="-col6">
                                <p>Second level <code>.-col6</code></p>
                            </div>
                            <div class="-col6">
                                <p>Second level <code>.-col6</code></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>