<section class="uikit-section" id="grid-columns-offset" data-careers>
    <h2 class="toc-careers-columns-offset">Columns, Offsetting</h2>
    <p>If you would like columns to maintain a fixed distance between each other, you can use the <code>._offset*</code> classes to accomplish this. This class adds a <code>margin-left</code> to a column.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="-row">
    <div class="-col4"> ... </div>
    <div class="-col4 _offset4"> ... </div>
</div>
{% endhighlight %}
        <div class="uikit-preview grid-preview -careers">
            <div class="container" style="min-height:auto;">
                <div class="-row">
                    <div class="-col4">
                        <p><code>.-col4</code></p>
                    </div>
                    <div class="-col4 _offset4">
                        <p><code>.-col4._offset4</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>