<section class="uikit-section" id="grid-column-order" data-careers>
    <h2 class="toc-careers-column-order">Column Ordering</h2>
    <p>You can change the order of the built in grid columns with <code>._push*</code> and <code>._pull*</code> modifier classes.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="-row">
    <div class="-col9 _push3"> ... </div>
    <div class="-col3 _pull9"> ... </div>
</div>
{% endhighlight %}
        <div class="uikit-preview grid-preview -careers">
            <div class="container" style="min-height:auto;">
                <div class="-row">
                    <div class="-col9 _push3">
                        <p><code>.-col9._push3</code></p>
                    </div>
                    <div class="-col3 _pull9">
                        <p><code>.-col3._pull9</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>