<section class="uikit-section" id="grid-gutters" data-careers>
    <h2 class="toc-careers-gutters">Gutters</h2>
    <p>While the grid system by default is a gutter-less system, sometimes a gutter is desired. To apply a gutter, append the <code>._gutter</code> class onto any <code>.-row</code> class. This class will then apply a left and right padding to all child column elements. The gutter padding totals <code>2em</code>, with one half (<code>1em</code>)applied to the left padding and one hald to the right padding.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="-row _gutter">
    <div class="-col4"> ... </div>
    <div class="-col4"> ... </div>
    <div class="-col4"> ... </div>
</div>
{% endhighlight %}
        <div class="uikit-preview grid-preview -careers">
            <div class="container" style="min-height:auto;">
                <div class="-row _gutter">
                    <div class="-col4">
                        <p><code>.-col4</code></p>
                    </div>
                    <div class="-col4">
                        <p><code>.-col4</code></p>
                    </div>
                    <div class="-col4">
                        <p><code>.-col4</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>