<article id="grid-less-mixins-and-variables">
    <h2 class="_subSection">Less Mixins &amp; Variables</h2>
    <p>We use the following media queries in our Less files to create the key breakpoints in our grid system.</p>

    <pre class="brush: sass">
    @media (min-width: @mediaQuery-small)  { max-width: @mediaQuery-small - 18; }
    @media (min-width: @mediaQuery-medium) { max-width: @mediaQuery-medium - 22; }
    @media (min-width: @mediaQuery-large)  { max-width: @mediaQuery-large - 30; }
    </pre>

    <p>The variables used to defined these widths are as follows</p>

    <pre class="brush: sass">
    @mediaQuery-small:      768px;
    @mediaQuery-medium:     992px;
    @mediaQuery-large:      1200px;
    </pre>
</article>