---
layout: default
title: Badges
description: Badges are distinct labels which hold small amounts of information.
---
<section class="uikit-section" data-core>
    <h2 id="toc-qa-badges">Badge</h2>
    <p>Used exclusively within communities to denote achievements earned by users.</p>

    {% capture html %}
        <a href="#" class="badge"><span class="badge1"></span> Great Question</a>
        <a href="#" class="badge"><span class="badge2"></span> Favorite Question</a>
        <a href="#" class="badge"><span class="badge3"></span> Altruist</a>
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-badge-alternate">Badge, Alternate</h2>
    <p>Used only within the user's profile area currently, it is used to denote overall gold, silver, and bronze badge counts.</p>

    {% capture html %}
        <span class="badge1-alternate"><span class="badge1"></span><span class="badgecount">480</span></span>
        <span class="badge2-alternate"><span class="badge2"></span><span class="badgecount">6440</span></span>
        <span class="badge3-alternate"><span class="badge3"></span><span class="badgecount">7403</span></span>
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-tag-badge">Tag Badge</h2>
    <p>Awarded to users who have achieved various point levels across many posts within a tag.</p>

    {% capture html %}
        <a href="#" class="badge-tag"><span class="badge1"></span> Gold Badge</a>
        <a href="#" class="badge-tag"><span class="badge2"></span> Silver Badge</a>
        <a href="#" class="badge-tag"><span class="badge3"></span> Bronze Badge</a>
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-tag-badge">Rep, Count, and Bounty Indicators</h2>
    <p>Used to note totals, bounty awards offered, and rep changes.</p>
    
    {% capture html %}
        <div class="user-show-new">
            <div class="user-panel">
                <div class="bounty-indicator" title="this question has an open bounty worth 50 reputation">+50</div>
            </div>
        </div>
        <div class="user-show-new">
            <div class="user-panel">
                <div class="mini-counts">2</div>
            </div>
        </div>
        <div class="user-show-new">
            <div class="user-panel">
                <div class="mini-counts answered-accepted">3</div>
            </div>
        </div>
        <div class="user-show-new">
            <div class="user-rep">
                <div class="rep-amount count-cell"><span class="rep-up">+15</span></div>
            </div>
        </div>
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-core>
    <h2 id="#">Content Labels</h2>
    <p>Used only within Developer Story currently.
    
    {% capture html %}
        <span class="label-box">Regular</span>
        <span class="label-box _gray">Gray</span>
        <br>
        <br>
        <span class="label-box _default-font-size">With forced default body font size (useful inside headers)</span>    
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-tag-badge">Job Listings</h2>
    <p>Used to highlight information about a job listing, message counts, and notifications.</p>
    
    {% capture html %}
        <a class="badge -mod" href="#" title="There are 3 flagged jobs. Click to view.">3</a>
        <div class="badge -featured" title="Featured"><span>Featured</span></div>
        <div class="badge -featured _abbrev" title="Featured"><span>Featured</span></div>
        <div class="badge -topSpot" title="Top Spot"><span>Top Spot</span></div>
        <div class="badge -topSpot _abbrev" title="Top Spot"><span>Top Spot</span></div>
        <div class="card -candidate"><div class="-active"><strong>Active</strong></div></div>
    {% endcapture %}
    
    {% capture preview %}
        <img src="{{ site.baseurl }}/{{ site.stickers }}/badges--careers.png" alt="Badges on Careers" />
    {% endcapture %}
    
    {% include example.html html=html preview=preview %}
</section>