---
layout: default
title: Banners
description: Used to highlight actions, tools, and information to users. These differ from notifications in that they are not in response to user action, but to encourage new or different user action.
---

<section class="uikit-section" data-core>
    <h2 id="toc-mod-banner">Open Bounty</h2>
    <p>Used within Questions to denote that a question has an open reputation bounty.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="question-status bounty">
    <h2>This question has an open <a href="/help/bounty">bounty</a> worth <span class="bounty-award">+50</span> reputation from <a href="">NickCraver</a> ending <b title="started at ending at ">in 41 minutes</b>.</h2>
    <p>This question has not received enough attention.</p>
    <p>To be awarded the bounty, an answer should demonstrate how an existing plot in a Live Script can be manipulated (without creating an extra plot, or creating an extra figure window)</p>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <div class="question-status bounty" style="width:728px;">
                <h2 style="font-weight:400;">This question has an open <a href="/help/bounty">bounty</a> worth <span class="bounty-award">+50</span> reputation from <a href="">NickCraver</a> ending <b title="started at ending at ">in 41 minutes</b>.</h2>
                <p>This question has not received enough attention.</p>
                <p>To be awarded the bounty, an answer should demonstrate how an existing plot in a Live Script can be manipulated (without creating an extra plot, or creating an extra figure window)</p>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-docs-flagged">Flagged for Improvement</h2>
    <p>Used only within Documentation currently.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="handling-improvement-request show-details topic-improvement-request">
    <p>Improvements requested by <a href="#">Kurtis</a>:<span class="expansion-chevron"></span></p>
    <div class="improvement-request-details">
        <ul>
            <li>
                <div class="improvement-request-description">
                    <input type="checkbox" class="improvement-request-draft-toggle dno" checked="checked"> This topic would benefit from examples that don't currently exist. - <span class="relativetime">Sep 4 at 0:26</span>
                    <div class="improvement-request-comment">
                        <span>Comments:</span>
                        <ul class="improvement-request-comments">
                            <li>More notification examples please. Everything isn't documented yet. - Kurtis</li>
                        </ul>
                    </div>
                </div>
                <div class="dismiss-link-container">
                    <a href="#" class="improvement-request-dismiss-link">dismiss</a>
                </div>
            </li>
        </ul>
        <div class="handling-improvement-request-actions">
            <a class="button improvement-request-action" href="#">Edit Topic</a>
        </div>
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <div class="handling-improvement-request show-details topic-improvement-request" style="width:728px;">
                <p>Improvements requested by <a href="#">Kurtis</a>:<span class="expansion-chevron"></span></p>
                <div class="improvement-request-details">
                    <ul>
                        <li>
                            <div class="improvement-request-description">
                                <input type="checkbox" class="improvement-request-draft-toggle dno" checked="checked">
                                This topic would benefit from examples that don't currently exist. - <span class="relativetime">Sep 4 at 0:26</span>
                                <div class="improvement-request-comment">
                                    <span>Comments:</span>
                                    <ul class="improvement-request-comments">
                                        <li>More notification examples please. Everything isn't documented yet. - Kurtis</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dismiss-link-container">
                                <a href="#" class="improvement-request-dismiss-link">dismiss</a>
                            </div>
                        </li>
                    </ul>
                    <div class="handling-improvement-request-actions">
                        <a class="button improvement-request-action" href="#">Edit Topic</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h3>Community bulletin</h3>
    <p>Used to share important community information in the sidebar.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="module community-bulletin">
    <div class="related">
        <div class="bulletin-title">Featured on Meta</div>
        <hr>
        
        <div class="spacer">
            <div class="bulletin-item-type">
                <a href="#" class="question-hyperlink">
                    <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                </a>
            </div>
            <div class="bulletin-item-content">
                <a href="#" class="question-hyperlink">Documentation Update, August 29th</a>
            </div>
            <br class="cbt">
        </div>
        <div class="bulletin-title">Hot Meta Posts</div>
        <hr>
        <div class="spacer">
            <div class="bulletin-item-type">
                <span title="Vote score (upvotes - downvotes)">10</span>
            </div>
            <div class="bulletin-item-content">
                <a href="#" class="question-hyperlink">How does the generic off-topic close reason occur?</a>
            </div>
            <br class="cbt">
        </div>
        ...
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div style="width: 300px;">
                <div class="module community-bulletin">
                    <div class="related">
                        <div class="bulletin-title">Featured on Meta</div>
                        <hr>
                        
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <a href="#" class="question-hyperlink">
                                    <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                                </a>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="#" class="question-hyperlink">Documentation Update, August 29th</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="bulletin-title">Hot Meta Posts</div>
                        <hr>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <span title="Vote score (upvotes - downvotes)">10</span>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="#" class="question-hyperlink">How does the generic off-topic close reason occur?</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <span title="Vote score (upvotes - downvotes)">7</span>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="#" class="question-hyperlink">Is it acceptable that a user deletes his approved answer after I changed the…</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <span title="Vote score (upvotes - downvotes)">11</span>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="#" class="question-hyperlink">Strange script or bug, while reviewing the answer</a>
                            </div>
                            <br class="cbt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-jobs-alert">Alerts Banner</h2>
    <p>Used only within Jobs currently.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="matchesalert">
    <div class="left subscriptionStatus">
        <div class="matches-bg-icon"></div>
            <form action="" id="matches_alert_form" method="post">
                <input id="fkey" name="fkey" type="hidden" value="">
                <input id="sid" name="sid" type="hidden" value="">
                <span>Get notified about your weekly top job matches</span>
                <a class="btn-outlined _small" id="subscribe_matches_alert" target="_blank">Create alert</a>
            </form>
        </div>
        <div class="right">
            <a href="/jobs/manage-job-alerts">Manage alerts</a>
        </div>
        <div class="cbt"></div>
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/notices-alerts.png"/>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-mod-banner">Moderator Banner</h2>
    <p>Used only within Talent.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="js-moderator-panel" class="notice -info container notice-navigate-as">
    <div class="-row">
        <div class="-col6">
            <p class="_medium">Viewing <strong>Tom Harvey</strong>'s account</p>
        </div>
        <div class="-col6 _textRight">
            <span class="btn-clear _small close">Dismiss</span>
            <a class="btn-outlined _small" href="">Navigate as Tom Harvey</a>
        </div>
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/banner-mod.png"/>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-mod-banner">Content Rollup Banner</h2>
    <p>Used only within Job Listings setting page.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="contentRollup">
    <div class="-header -row">
        <div class="-col8">
            <a href="#"><img src="//i.stack.imgur.com/kZY9q.png" alt="Logo" class="-favicon"></a>
            <a href="">Stack Overflow</a>
        </div>
        <div class="-col4 _textRight">
            <a class="btn-clear _small" href="/company/link-company-page/123060">Edit Company Page</a>
        </div>
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/banner-content-rollup.png"/>
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2>Instructions</h2>
    <p>Used only on the "Ask A Question" page.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div id="sidebar">
    <div class="module newuser sidebar-help" id="how-to-title">
        <h4>How to Ask</h4>
        <p><b>Is your question about programming?</b></p>
        <p>We prefer questions that can be <i>answered</i>, not just discussed.</p>
        <p>Provide details. Share your research.</p>
        <p>If your question is about this website, <b><a href="#">ask it on meta</a></b> instead.</p>
        <p class="ar"><a href="#">visit the help center »</a><br><a href="#">asking help »</a></p>
    </div>
</div>
{% endhighlight %}
        
        <div class="uikit-preview">
            <div id="sidebar" style="width: 365px; float: none;"><!--  had to add custom styling for uikit -->
                <div class="module newuser sidebar-help" id="how-to-title">
                    <h4>How to Ask</h4>
                    <p><b>Is your question about programming?</b></p>
                    <p>We prefer questions that can be <i>answered</i>, not just discussed.</p>
                    <p>Provide details. Share your research.</p>
                    <p>If your question is about this website, <b><a href="#">ask it on meta</a></b> instead.</p>
                    <p class="ar"><a href="#">visit the help center »</a><br><a href="#">asking help »</a></p>
                </div>
            </div>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section><!-- / uikit-section -->

<section class="uikit-section" data-careers>
    <h2>Improve your CV</h2>
    <p>Used only on Jobs.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="improve-cv-box improvements" style="display: block;">
    <div class="logo"></div>
    <p class="heading">Improve your CV</p>
    <div>
        <ul>
            <li>Entered responsibilities for each <a href="#" title="Add experience">experience</a> entry (400+ characters)</li>
            <li>Entered a degree or institution for each <a href="#" title="Add education">education</a> entry</li>
            <li>Entered a valid time frame for each <a href="#" title="Add education">education</a> entry</li>
        </ul>
    </div>
</div>
{% endhighlight %}
        
        <div class="uikit-preview">
            <img src="http://i.imgur.com/jIAPCHk.png" alt="">
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section><!-- / uikit-section -->


<div class="uikit-section" data-core>
    <h2>Inline</h2>
    <p>Used at the end of a question list.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<h2 class="bottom-notice">
    Not the answer you're looking for? Browse other questions tagged <a href="#" class="post-tag" title="show questions tagged 'javascript'" rel="tag">javascript</a> <a href="#" class="post-tag" title="show questions tagged 'node.js'" rel="tag">node.js</a> <a href="#" class="post-tag" title="show questions tagged 'sockets'" rel="tag">sockets</a>  or <a href="#">ask your own question</a>.
</h2>
{% endhighlight %}

        <div class="uikit-preview">
            <h2 class="bottom-notice">
                Not the answer you're looking for? Browse other questions tagged <a href="#" class="post-tag" title="show questions tagged 'javascript'" rel="tag">javascript</a> <a href="#" class="post-tag" title="show questions tagged 'node.js'" rel="tag">node.js</a> <a href="#" class="post-tag" title="show questions tagged 'sockets'" rel="tag">sockets</a>  or <a href="#">ask your own question</a>.
            </h2>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</div>