---
layout: default
title: Buttons
description: A element which allows users to take action(s).
---

<section class="uikit-section" data-core-careers>
	<h2 id="toc-regular-buttons">Buttons</h2>
	<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="..." class="btn">Link</a>
<button role="button">Button</button>
<input type="button" role="button" value="Input Button">
<input type="submit" role="button" value="Submit Button">
{% endhighlight %}
		<div class="uikit-preview">
			<a href="..." class="btn">Link</a>
			<button role="button">Button</button>
			<input type="button" role="button" value="Input Button">
			<input type="submit" role="button" value="Submit Button">
		</div><!-- / preview -->
	</div><!-- / uikit-code uikit-has-preview -->
	<p>By default <code>button</code> and <code>input</code> elements are styled to look like <code>.btn-primary</code>. When possible, use <code>button</code> or <code>input</code> elements for buttons. If you use a link, please note that you can't assign <code>role="button"</code> to the element for it to act like a button. From <strong>Mozilla</strong>'s documentation:</p>
	<blockquote class="uikit-callout">Warning: Be careful when marking up links with the button role. Buttons are expected to be triggered using the Space key, while links are expected to be triggered using the Enter key. In other words, when links are used to behave like buttons, adding role="button" alone is not sufficient. It will also be necessary to add a key event handler that listens for the Space key in order to be consistent with native buttons.</blockquote>
</section>

<section class="uikit-section">
	<h2 id="toc-types">Types</h2>

	<section class="uikit-section" data-core-careers>
		<h3 id="toc-primary" name="toc-primary">Primary</h3>
		<p>This style is the most visually heavy of the other button styles and should be used to denote the primary action on a page and within a set of buttons (if applicable).</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button role="button">Post Answer</button>
<button role="button" disabled>Post Answer</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button role="button">Post Answer</button>
				<button role="button" disabled>Post Answer</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core-careers>
		<h3 id="toc-secondary">Secondary</h3>
		<p>This indicates a positive, alternate action that could be engaged by the user within a workflow, page, or within a set of buttons.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-secondary" role="button">Edit Profile</button>
<button class="btn-secondary" role="button" disabled>Edit Profile</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="btn-secondary" role="button">Edit Profile</button>
				<button class="btn-secondary" role="button" disabled>Edit Profile</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core-careers>
		<h3 id="toc-confirmation">Confirmation</h3>
		<p>This button should be used to confirm a major action, typically within dedicated workflows such as completing a purchase (checkout), publishing an item, or updating an existing item.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-confirm" role="button">Purchase Jobs</button>
<button class="btn-confirm" role="button" disabled>Purchase Jobs</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="btn-confirm" role="button">Purchase Jobs</button>
				<button class="btn-confirm" role="button" disabled>Purchase Jobs</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core-careers>
		<h3 id="toc-warning">Warning</h3>
		<p>This should be used when the user needs warned a potential negative action such as removing a post, removing a team member, or deleting their account will be engaged if they click this button.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-warning" role="button">Delete Account</button>
<button class="btn-warning" role="button" disabled>Delete Account</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="btn-warning" role="button">Delete Account</button>
				<button class="btn-warning" role="button" disabled>Delete Account</button>
			</div>
		</div>
	</section>
</section>

<section class="uikit-section" data-core>
	<h2 id="toc-loaders-icons">Loaders / Icons</h2>
	<p>This is used to add icons into another button type or style.</p>
	<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn loading" role="button">Processing data…</button>
<button class="btn-secondary loading" role="button">Processing data…</button>
<button class="btn-confirm loading" role="button">Uploading data…</button>
<button class="btn-warning loading" role="button">Deleting data…</button>
<button class="btn-outlined loading" role="button">Processing data…</button>
<button class="btn-clear loading" role="button">Processing data…</button>
{% endhighlight %}
		<div class="uikit-preview">
			<button class="btn loading" role="button">Processing data…</button>
			<button class="btn-secondary loading" role="button">Processing data…</button>
			<button class="btn-confirm loading" role="button">Uploading data…</button>
			<button class="btn-warning loading" role="button">Deleting data…</button>
			<button class="btn-outlined loading" role="button">Processing data…</button>
			<button class="btn-clear loading" role="button">Processing data…</button>
		</div>
	</div>
</section>

<section class="uikit-section">
	<h2 id="toc-styles">Styles</h2>
	<p class="uikit-intro">By default all button options have filled backgrounds with borders and an inner-shadow. Sometimes buttons need to be downplayed within a design to either help focus attention to a specific action, no action should be primary, or to not draw attention away from other content areas. In these instances, we have two button styles that can be applied to the options above.</p>

	<section class="uikit-section" data-core-careers>
		<h3 id="toc-outlined">Outlined</h3>
		<p>Like a secondary button in purpose, this stylistic variation is to be used when you desire an even simpler button style—especially when used in concert with the primary button style. This style works well within small UI actions areas that are tertiary in importance or when a larger button size would draw too much attention to the button.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-outlined" role="button">Invite Others</button>
<button class="btn-outlined" role="button" disabled>Invite Others</button>
<button class="btn-outlined -warning" role="button">Delete Invitation</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="btn-outlined" role="button">Invite Others</button>
				<button class="btn-outlined" role="button" disabled>Invite Others</button>
				<button class="btn-outlined -warning" role="button">Delete Invitation</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core-careers>
		<h3 id="toc-clear">Clear</h3>
		<p>Sometimes called “link” buttons, this button style mimics the link style but with the ample click area buttons provide. This style is typically used within a set of actions and you want to downplay the importance of the action. Such as with a “Cancel” or “Discard” action. We don’t want to hide these actions, but we also don’t want to draw undue importance to them.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-clear" role="button">Cancel Action</button>
<button class="btn-clear" role="button" disabled>Cancel Action</button>
<button class="btn-clear -warning" role="button">Delete Action</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="btn-clear" role="button">Cancel Action</button>
				<button class="btn-clear" role="button" disabled>Cancel Action</button>
				<button class="btn-clear -warning" role="button">Delete Action</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core>
		<h3 id="toc-reversed">Reversed</h3>
		<p>Most buttons appear on a light background within our product, yet there are instances where buttons may appear on a dark background. In these instances, you can invert the button colors.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-outlined -white" role="button">Cancel Action</button>
<button class="btn-clear -white" role="button">Cancel Action</button>
<button class="btn-clear -white" role="button" disabled>Cancel Action</button>
{% endhighlight %}
			<div class="uikit-preview uikit-contrast">
				<button class="btn-outlined -white" role="button">Cancel Action</button>
				<button class="btn-clear -white" role="button">Cancel Action</button>
				<button class="btn-clear -white" role="button" disabled>Cancel Action</button>
			</div>
		</div>
	</section>
</section>

<section class="uikit-section" data-core-careers>
	<h2 id="toc-sizes">Sizes</h2>
	<p class="uikit-intro">To maintain button consistency throughout the product, it is highly recommended that you use <em>only</em> the button sizes below. If you encounter a scenario where a different size is required, please consult the team. More size variations means more items to maintain.</p>

	<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_xlarge" role="button">Extra Large</button>
<button class="_large" role="button">Large</button>
<button class="_medium" role="button">Medium</button>
<button role="button">Normal</button>
<button class="_small" role="button">Small</button>
{% endhighlight %}
		<div class="uikit-preview">
			<button class="_xlarge" role="button">Extra Large</button>
			<button class="_large" role="button">Large</button>
			<button class="_medium" role="button">Medium</button>
			<button role="button">Normal</button>
			<button class="_small" role="button">Small</button>
		</div>
	</div>
</section>

<section class="uikit-section" data-core-careers>
	<h2 id="toc-layout-attributes">Layout &amp; Attributes</h2>

	<section class="uikit-section">
		<h3 id="toc-block">Block</h3>
		<p>This causes the button to go full-width within its container.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_block" role="button">Post An Answer</button>
<button class="_block" role="button" disabled>Post An Answer</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="_block" role="button">Post An Answer</button>
				<button class="_block" role="button" disabled>Post An Answer</button>
			</div>
		</div>
	</section>
	<section class="uikit-section">
		<h3 id="toc-floats">Floats</h3>
		<p>Make a button float left or right.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_left" role="button">Post An Answer</button>
<button class="_right" role="button">Post An Answer</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="_left" role="button">Post An Answer</button>
				<button class="_right" role="button">Post An Answer</button>
			</div>
		</div>
	</section>
	<section class="uikit-section">
		<h3 id="toc-display">Display</h3>
		<p>Make a button appear or disappear.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_hide" role="button">Post An Answer</button>
<button class="_show" role="button">Post An Answer</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="_hide" role="button">Post An Answer</button>
				<button class="_show" role="button">Post An Answer</button>
			</div>
		</div>
	</section>
</section>

<section class="uikit-section" data-core-careers>
	<h2 id="toc-ordering">Ordering</h2>
	<p class="uikit-intro">To help maintain consistency throughout the product, buttons should maintain the following order arrangement:</p>

	<section class="uikit-section">
		<h3 id="toc-default">Default</h3>
		<p>Most button groups should be ordered from the most important action to least important action, left to right.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button role="button">Post Answer</button>
<button class="btn-secondary" role="button">Preview Answer</button>
<button class="btn-clear" role="button">Cancel</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button role="button">Post Answer</button>
				<button class="btn-secondary" role="button">Preview Answer</button>
				<button class="btn-clear" role="button">Cancel</button>
			</div>
		</div>
		<p>When a button’s word length and or container size makes it necessary to stack buttons on top of each other (like within a sidebar area), these buttons should be stacked from the most important action to the least important, top to bottom.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_block" role="button">Post Answer</button>
<button class="btn-secondary _block" role="button">Preview Answer</button>
<button class="btn-clear _block" role="button">Cancel</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="_block" role="button">Post Answer</button>
				<button class="btn-secondary _block" role="button">Preview Answer</button>
				<button class="btn-clear _block" role="button">Cancel</button>
			</div>
		</div>
	</section>

	<section class="uikit-section" data-core-careers>
		<h3 id="toc-row">Row</h3>
		<p>If a series of actions need to be placed in the same area as a title, the buttons here can be pulled to the right. Within this instance, the button order should be reversed, right to left.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_right" role="button">Post Answer</button>
<button class="btn-secondary _right" role="button">Preview Answer</button>
<button class="btn-clear _right" role="button">Cancel</button>
{% endhighlight %}
			<div class="uikit-preview">
				<button class="_right" role="button">Post Answer</button>
				<button class="btn-secondary _right" role="button">Preview Answer</button>
				<button class="btn-clear _right" role="button">Cancel</button>
			</div>
		</div>
	</section>
</section>