---
layout: default
title: Buttons
description: A element which allows users to take action(s).
---

<section class="uikit-section" data-core-careers>
	<h2>Default Styles</h2>
  <p>The default button style is a simple, link styling. When using a <code>button</code> or an <code>a</code> element, be sure to specify a <code>type</code> or <code>role</code>, respectively.</p>
	<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn" type="button" aria-pressed="false">…</button>
<a href="#" class="btn" role="button" aria-pressed="false">…</a>
<button class="btn" type="button" aria-pressed="false" disabled>…</button>
{% endhighlight %}
		<div class="stacks-preview">
        <div class="g-box _sp-12 _fl-0">
            <button class="-cell btn" type="button" aria-pressed="false">Button Button</button>
            <a href="#" class="-cell btn" role="button" aria-pressed="false">Link Button</a>
            <button class="-cell btn" type="button" aria-pressed="false" disabled>Disabled Button</button>
        </div>
		</div>
	</div>
</section>

<section class="uikit-section">
	<h2>Button Styles</h2>
  <p>Depending on the actions required within a UI, you may require different button styles to help communicte action, importance, and attract attention. To accomplish these needs, use the following button styles.</p>

  <h3>Primary</h3>
  <p>This button style is used to indicate the <em>primary</em> action on a page. In practice you should declare no more than one button as the primary button per a page. The primary style is the loudest button styles we have. To add the primary style, add the <code>._primary</code> modifying class to <code>.btn</code>.</p>
  <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn _primary" type="button" aria-pressed="false">…</button>
<a href="#" class="btn _primary" role="button" aria-pressed="false">…</a>
{% endhighlight %}
  		<div class="stacks-preview">
          <div class="g-box _sp-12 _fl-0">
              <button class="-cell btn _primary" type="button" aria-pressed="false">Primary Button</button>
              <button class="-cell btn _primary" type="button" aria-pressed="false" disabled>Primary Disabled Button</button>
          </div>
  		</div>
	</div>

  <h3>Secondary</h3>
  <p>This button style is used to indicate important, but <em>secondary</em> actions on a page. To add the secondary style, add the <code>._secondary</code> modifying class to <code>.btn</code>.</p>
  <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn _secondary" type="button" aria-pressed="false">…</button>
<a href="#" class="btn _secondary" role="button" aria-pressed="false">…</a>
{% endhighlight %}
  		<div class="stacks-preview">
          <div class="g-box _sp-12 _fl-0">
            <button class="-cell btn _secondary" type="button" aria-pressed="false">Secondary Button</button>
            <button class="-cell btn _secondary" type="button" aria-pressed="false" disabled>Secondary Disabled Button</button>
          </div>
  		</div>
	</div>

  <h3>Confirm</h3>
  <p>This button style is used to indicate a major action, typically within dedicated workflows such as completing a purchase (checkout), publishing an item, or updating an existing item. To add the confirm style, add the <code>._confirm</code> modifying class to <code>.btn</code>.</p>
  <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn _confirm" type="button" aria-pressed="false">…</button>
<a href="#" class="btn _confirm" role="button" aria-pressed="false">…</a>
{% endhighlight %}
  		<div class="stacks-preview">
          <div class="g-box _sp-12 _fl-0">
            <button class="-cell btn _confirm" type="button" aria-pressed="false">Confirm Button</button>
            <button class="-cell btn _confirm" type="button" aria-pressed="false" disabled>Confirm Disabled Button</button>
          </div>
  		</div>
	</div>

  <h3>Warning</h3>
  <p>This button style is warn users about a potential negative action such as removing a post, removing a team member, or deleting their account. To add the warning style, add the <code>._warning</code> modifying class to <code>.btn</code>.</p>
  <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn _warning" type="button" aria-pressed="false">…</button>
<a href="#" class="btn _warning" role="button" aria-pressed="false">…</a>
{% endhighlight %}
  		<div class="stacks-preview">
          <div class="g-box _sp-12 _fl-0">
            <button class="-cell btn _warning" type="button" aria-pressed="false">Warning Button</button>
            <button class="-cell btn _warning" type="button" aria-pressed="false" disabled>Warning Disabled Button</button>
          </div>
  		</div>
	</div>
</section>

<section class="uikit-section" data-core>
	<h2 id="toc-loaders-icons">Loaders / Icons</h2>
	<p>This is used to add icons into another button type or style.</p>
	<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn loading" role="button">Processing data…</button>
<button class="btn-secondary loading" role="button">Processing data…</button>
<button class="btn-confirm loading" role="button">Uploading data…</button>
<button class="btn-warning loading" role="button">Deleting data…</button>
<button class="btn-outlined loading" role="button">Processing data…</button>
<button class="btn-clear loading" role="button">Processing data…</button>
{% endhighlight %}
		<div class="stacks-preview">
			<button class="btn loading" role="button">Processing data…</button>
			<button class="btn-secondary loading" role="button">Processing data…</button>
			<button class="btn-confirm loading" role="button">Uploading data…</button>
			<button class="btn-warning loading" role="button">Deleting data…</button>
			<button class="btn-outlined loading" role="button">Processing data…</button>
			<button class="btn-clear loading" role="button">Processing data…</button>
		</div>
	</div>
</section>

<section class="uikit-section">
	<h2 id="toc-styles">Styles</h2>
	<p class="uikit-intro">By default all button options have filled backgrounds with borders and an inner-shadow. Sometimes buttons need to be downplayed within a design to either help focus attention to a specific action, no action should be primary, or to not draw attention away from other content areas. In these instances, we have two button styles that can be applied to the options above.</p>

	<section class="uikit-section" data-core-careers>
		<h3 id="toc-outlined">Outlined</h3>
		<p>Like a secondary button in purpose, this stylistic variation is to be used when you desire an even simpler button style—especially when used in concert with the primary button style. This style works well within small UI actions areas that are tertiary in importance or when a larger button size would draw too much attention to the button.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-outlined" role="button">Invite Others</button>
<button class="btn-outlined" role="button" disabled>Invite Others</button>
<button class="btn-outlined -warning" role="button">Delete Invitation</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="btn-outlined" role="button">Invite Others</button>
				<button class="btn-outlined" role="button" disabled>Invite Others</button>
				<button class="btn-outlined -warning" role="button">Delete Invitation</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core-careers>
		<h3 id="toc-clear">Clear</h3>
		<p>Sometimes called “link” buttons, this button style mimics the link style but with the ample click area buttons provide. This style is typically used within a set of actions and you want to downplay the importance of the action. Such as with a “Cancel” or “Discard” action. We don’t want to hide these actions, but we also don’t want to draw undue importance to them.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-clear" role="button">Cancel Action</button>
<button class="btn-clear" role="button" disabled>Cancel Action</button>
<button class="btn-clear -warning" role="button">Delete Action</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="btn-clear" role="button">Cancel Action</button>
				<button class="btn-clear" role="button" disabled>Cancel Action</button>
				<button class="btn-clear -warning" role="button">Delete Action</button>
			</div>
		</div>
	</section>
	<section class="uikit-section" data-core>
		<h3 id="toc-reversed">Reversed</h3>
		<p>Most buttons appear on a light background within our product, yet there are instances where buttons may appear on a dark background. In these instances, you can invert the button colors.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="btn-outlined -white" role="button">Cancel Action</button>
<button class="btn-clear -white" role="button">Cancel Action</button>
<button class="btn-clear -white" role="button" disabled>Cancel Action</button>
{% endhighlight %}
			<div class="stacks-preview uikit-contrast">
				<button class="btn-outlined -white" role="button">Cancel Action</button>
				<button class="btn-clear -white" role="button">Cancel Action</button>
				<button class="btn-clear -white" role="button" disabled>Cancel Action</button>
			</div>
		</div>
	</section>
</section>

<section class="uikit-section" data-core-careers>
	<h2 id="toc-sizes">Sizes</h2>
	<p class="uikit-intro">To maintain button consistency throughout the product, it is highly recommended that you use <em>only</em> the button sizes below. If you encounter a scenario where a different size is required, please consult the team. More size variations means more items to maintain.</p>

	<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_xlarge" role="button">Extra Large</button>
<button class="_large" role="button">Large</button>
<button class="_medium" role="button">Medium</button>
<button role="button">Normal</button>
<button class="_small" role="button">Small</button>
{% endhighlight %}
		<div class="stacks-preview">
			<button class="_xlarge" role="button">Extra Large</button>
			<button class="_large" role="button">Large</button>
			<button class="_medium" role="button">Medium</button>
			<button role="button">Normal</button>
			<button class="_small" role="button">Small</button>
		</div>
	</div>
</section>

<section class="uikit-section" data-core-careers>
	<h2 id="toc-layout-attributes">Layout &amp; Attributes</h2>

	<section class="uikit-section">
		<h3 id="toc-block">Block</h3>
		<p>This causes the button to go full-width within its container.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_block" role="button">Post An Answer</button>
<button class="_block" role="button" disabled>Post An Answer</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="_block" role="button">Post An Answer</button>
				<button class="_block" role="button" disabled>Post An Answer</button>
			</div>
		</div>
	</section>
	<section class="uikit-section">
		<h3 id="toc-floats">Floats</h3>
		<p>Make a button float left or right.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_left" role="button">Post An Answer</button>
<button class="_right" role="button">Post An Answer</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="_left" role="button">Post An Answer</button>
				<button class="_right" role="button">Post An Answer</button>
			</div>
		</div>
	</section>
	<section class="uikit-section">
		<h3 id="toc-display">Display</h3>
		<p>Make a button appear or disappear.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_hide" role="button">Post An Answer</button>
<button class="_show" role="button">Post An Answer</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="_hide" role="button">Post An Answer</button>
				<button class="_show" role="button">Post An Answer</button>
			</div>
		</div>
	</section>
</section>

<section class="uikit-section" data-core-careers>
	<h2 id="toc-ordering">Ordering</h2>
	<p class="uikit-intro">To help maintain consistency throughout the product, buttons should maintain the following order arrangement:</p>

	<section class="uikit-section">
		<h3 id="toc-default">Default</h3>
		<p>Most button groups should be ordered from the most important action to least important action, left to right.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button role="button">Post Answer</button>
<button class="btn-secondary" role="button">Preview Answer</button>
<button class="btn-clear" role="button">Cancel</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button role="button">Post Answer</button>
				<button class="btn-secondary" role="button">Preview Answer</button>
				<button class="btn-clear" role="button">Cancel</button>
			</div>
		</div>
		<p>When a button’s word length and or container size makes it necessary to stack buttons on top of each other (like within a sidebar area), these buttons should be stacked from the most important action to the least important, top to bottom.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_block" role="button">Post Answer</button>
<button class="btn-secondary _block" role="button">Preview Answer</button>
<button class="btn-clear _block" role="button">Cancel</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="_block" role="button">Post Answer</button>
				<button class="btn-secondary _block" role="button">Preview Answer</button>
				<button class="btn-clear _block" role="button">Cancel</button>
			</div>
		</div>
	</section>

	<section class="uikit-section" data-core-careers>
		<h3 id="toc-row">Row</h3>
		<p>If a series of actions need to be placed in the same area as a title, the buttons here can be pulled to the right. Within this instance, the button order should be reversed, right to left.</p>
		<div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<button class="_right" role="button">Post Answer</button>
<button class="btn-secondary _right" role="button">Preview Answer</button>
<button class="btn-clear _right" role="button">Cancel</button>
{% endhighlight %}
			<div class="stacks-preview">
				<button class="_right" role="button">Post Answer</button>
				<button class="btn-secondary _right" role="button">Preview Answer</button>
				<button class="btn-clear _right" role="button">Cancel</button>
			</div>
		</div>
	</section>
</section>
