---
layout: default
title: Cards
description: Visual containers for related content.
---

<section class="uikit-section" data-core>
    <h2>Users</h2>
    <p>Different cards used for users.</p>

    <section class="uikit-section">
        <h3>Profile Card</h3>
        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div id="avatar-card" class="avatar-card">
    <div class="avatar">
        <a href="http://stackoverflow.com/users/13249/nick-craver">
            <div class="gravatar-wrapper-164"><img src="https://i.stack.imgur.com/nGCYr.jpg?s=328&amp;g=1" alt="" width="164" height="164" class="avatar-user"></div>
        </a>
    </div>
    <div class="reputation" title="reputation">426,788 <span class="label-uppercase">reputation</span>
    </div>
    <div class="badges">
        <span class="badge1-alternate" title="82 gold badges"><span class="badge1"></span><span class="badgecount">82</span></span> <span class="badge2-alternate" title="1051 silver badges"><span class="badge2"></span><span class="badgecount">1051</span></span> <span class="badge3-alternate" title="1002 bronze badges"><span class="badge3"></span><span class="badgecount">1002</span></span>
    </div>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <div id="avatar-card" class="avatar-card" style="width:184px;">
                    <div class="avatar">
                        <a href="http://stackoverflow.com/users/13249/nick-craver">
                            <div class="gravatar-wrapper-164"><img src="https://i.stack.imgur.com/nGCYr.jpg?s=328&amp;g=1" alt="" width="164" height="164" class="avatar-user"></div>
                        </a>
                    </div>
                    <div class="reputation" title="reputation">426,788 <span class="label-uppercase">reputation</span>
                    </div>
                    <div class="badges">
                        <span class="badge1-alternate" title="82 gold badges"><span class="badge1"></span><span class="badgecount">82</span></span> <span class="badge2-alternate" title="1051 silver badges"><span class="badge2"></span><span class="badgecount">1051</span></span> <span class="badge3-alternate" title="1002 bronze badges"><span class="badge3"></span><span class="badgecount">1002</span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="uikit-section">
        <h3>Post Signature</h3>
        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<td class="post-signature owner">
    <div class="user-info ">
        <div class="user-action-time">
            asked <span title="2013-11-14 16:13:17Z" class="relativetime">Nov 14 '13 at 16:13</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/2101894/ziyu-zhou"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/mvSo3.png?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/2101894/ziyu-zhou">Ziyu Zhou</a>
            <div class="-flair">
                <span class="reputation-score" title="reputation score " dir="ltr">426</span><span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="4 silver badges"><span class="badge2"></span><span class="badgecount">4</span></span><span title="10 bronze badges"><span class="badge3"></span><span class="badgecount">10</span></span>
            </div>
        </div>
    </div>
</td>
...
<td class="post-signature">
    <div class="user-info user-hover">
        <div class="user-action-time">
            answered <span title="2013-11-21 14:38:00Z" class="relativetime">Nov 21 '13 at 14:38</span>
        </div>
        <div class="user-gravatar32">
            <a href="/users/2640230/hynes"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/yUW66.png?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
        </div>
        <div class="user-details">
            <a href="/users/2640230/hynes">Hynes</a><span class="mod-flair" title="moderator">♦</span>
            <div class="-flair">
                <span class="reputation-score" title="reputation score " dir="ltr">1,760</span><span title="11 silver badges"><span class="badge2"></span><span class="badgecount">11</span></span><span title="22 bronze badges"><span class="badge3"></span><span class="badgecount">22</span></span>
            </div>
        </div>
    </div>
</td>
{% endhighlight %}
            <div class="uikit-preview">
                <div class="post-signature owner" style="float:left; margin-right:20px;">
                    <div class="user-info ">
                        <div class="user-action-time">
                            asked <span title="2013-11-14 16:13:17Z" class="relativetime">Nov 14 '13 at 16:13</span>
                        </div>
                        <div class="user-gravatar32">
                            <a href="/users/2101894/ziyu-zhou"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/mvSo3.png?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/users/2101894/ziyu-zhou">Ziyu Zhou</a>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation score " dir="ltr">426</span><span title="1 gold badge"><span class="badge1"></span><span class="badgecount">1</span></span><span title="4 silver badges"><span class="badge2"></span><span class="badgecount">4</span></span><span title="10 bronze badges"><span class="badge3"></span><span class="badgecount">10</span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-signature" style="float:left;">
                    <div class="user-info user-hover">
                        <div class="user-action-time">
                            answered <span title="2013-11-21 14:38:00Z" class="relativetime">Nov 21 '13 at 14:38</span>
                        </div>
                        <div class="user-gravatar32">
                            <a href="/users/2640230/hynes"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/yUW66.png?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
                        </div>
                        <div class="user-details">
                            <a href="/users/2640230/hynes">Hynes</a><span class="mod-flair" title="moderator">♦</span>
                            <div class="-flair">
                                <span class="reputation-score" title="reputation score " dir="ltr">1,760</span><span title="11 silver badges"><span class="badge2"></span><span class="badgecount">11</span></span><span title="22 bronze badges"><span class="badge3"></span><span class="badgecount">22</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- this piece of styling is added inline in /tags page to create proper grid -->
<style type="text/css">
    .excerpt, .stats-row
    {
        padding-top: 4px;
        padding-right: 8px;
        font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;  
        font-size: 12px;
        color: #858C93;     
    }
    .excerpt
    {
      font-size: 12px;
      height: 39px;
      line-height: 14px;
      overflow: hidden;
      margin-bottom: 4px;
    }
    .stats-row, .stats-row a, .stats-row a:visited
    {
        font-size: 11px;
        color: #3C3F44;
    }
    .stats-row .caption
    {
        color: #858C93;
    }
    .tags-browser
    {
        width: 25%;    
    }
    .tag-cell
    {
        width: 230px;
        border-bottom: 1px dotted #E4E6E7;
        padding-bottom: 12px;
        padding-right: 6px;
        padding-top: 6px;
        vertical-align: top;
    }
    .tag-cell * {
        box-sizing: content-box;
    }
    #tags-browser tr:last-child td { border-bottom: none; }
    .edit-link
    {
        float: right;
        margin-right: 18px;
        display: none;
        font-size: 11px;
    }
</style>
<section class="uikit-section" data-core>
    <h2>Tags</h2>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<table id="tags-browser"><tbody>
    <tr>
        <td class="tag-cell">
            <a href="#" class="post-tag" title="show questions tagged 'javascript'" rel="tag">javascript</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">1210787</span></span>
                <div class="excerpt">JavaScript (not to be confused with Java or Jscript) is a dynamic, weakly-typed language used for client-side as well as server-side scripting. Use this tag for questions regarding ECMAScript and its …</div>
            <div>
                <div class="stats-row fl"><a href="#" title="1057 questions tagged javascript in the last 24 hours">1057 asked today</a>, <a href="#" title="5884 questions tagged javascript in the last 7 days">5884 this week</a></div>
                <div class="cbt"></div>
            </div>
        </td>
        ...
    </tr>
</tbody></table>
{% endhighlight %}

        <div class="uikit-preview">
            <table id="tags-browser"><tbody>
                <tr>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'javascript'" rel="tag">javascript</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">1210787</span></span>
                            <div class="excerpt">JavaScript (not to be confused with Java or Jscript) is a dynamic, weakly-typed language used for client-side as well as server-side scripting. Use this tag for questions regarding ECMAScript and its …</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="1057 questions tagged javascript in the last 24 hours">1057 asked today</a>, <a href="#" title="5884 questions tagged javascript in the last 7 days">5884 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'java'" rel="tag">java</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">1132127</span></span>
                            <div class="excerpt">Java (not to be confused with JavaScript) is a general-purpose object-oriented programming language designed to be used in conjunction with the Java Virtual Machine (JVM). "Java platform" is the name …</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="810 questions tagged java in the last 24 hours">810 asked today</a>, <a href="#" title="4404 questions tagged java in the last 7 days">4404 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'c#'" rel="tag">c#</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">999969</span></span>
                            <div class="excerpt">a multi-paradigm, managed, type safe, object-oriented programming language. Questions should include code examples sufficient to reproduce the problem. Add extra tags relevant to the technology …</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="599 questions tagged c# in the last 24 hours">599 asked today</a>, <a href="#" title="3260 questions tagged c# in the last 7 days">3260 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'php'" rel="tag">php</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">972603</span></span>
                            <div class="excerpt">a general-purpose programming language that is especially suited for web development.</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="675 questions tagged php in the last 24 hours">675 asked today</a>, <a href="#" title="3868 questions tagged php in the last 7 days">3868 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'android'" rel="tag"><img src="//i.stack.imgur.com/tKsDb.png" height="16" width="18" alt="" class="sponsor-tag-img">android</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">889904</span></span>
                            <div class="excerpt">Android, used for programming or developing digital devices (Smartphones, Tablets, Autos, TVs, Wear, Glass), is Google's mobile OS. Please use Android-specific tags such as android-intent, not intent,…</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="604 questions tagged android in the last 24 hours">604 asked today</a>, <a href="#" title="3872 questions tagged android in the last 7 days">3872 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'jquery'" rel="tag">jquery</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">771855</span></span>
                            <div class="excerpt">a popular cross-browser JavaScript library that facilitates DOM (Document Object Model - HTML Structure) traversal, event handling, animations, and AJAX interactions by minimizing the discre…</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="436 questions tagged jquery in the last 24 hours">436 asked today</a>, <a href="#" title="2459 questions tagged jquery in the last 7 days">2459 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'python'" rel="tag">python</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">626524</span></span>
                            <div class="excerpt">a dynamic and strongly typed programming language designed to emphasize usability. Two similar but incompatible versions of Python are in widespread use (2 and 3). If you have a version-spec…</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="582 questions tagged python in the last 24 hours">582 asked today</a>, <a href="#" title="3344 questions tagged python in the last 7 days">3344 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                    <td class="tag-cell">
                        <a href="#" class="post-tag" title="show questions tagged 'html'" rel="tag">html</a><span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">574484</span></span>
                            <div class="excerpt">the standard markup language used for structuring web pages and formatting content. HTML describes the structure of a website semantically along with cues for pres…</div>
                        <div>
                            <div class="stats-row fl"><a href="#" title="430 questions tagged html in the last 24 hours">430 asked today</a>, <a href="#" title="2577 questions tagged html in the last 7 days">2577 this week</a></div>
                            <div class="cbt"></div>
                        </div>
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2>Documentation</h2>
    <p>Used for the documentation topic list.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
To be added
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-documentation.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2>Company Pages</h2>
    <p>These are all separate cards to represent the same company page in different views.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
To be added
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-cp-overview.png" /><br/>
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-cp-dashboard.png" /><br/>
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-cp-spotlight.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2>Job Listings</h2>
    <p>Used for job listings within Talent. The various card states are shown below.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
To be added
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-job-listings.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2>Recommended Candidates</h2>
    <p>Used for Recommended Candidates within Talent. Examples shown below are normal, the candidate being flagged as "Active", and a hover effect.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
To be added
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-recommended-candidates.png" />
        </div>
    </div>
</section>