---
layout: default
title: Dropdowns
description: Buttons are interactive elements that allow users to accomplish tasks. They can be created using an <code>a</code>, <code>button</code>, or an <code>input</code> tag. Ideally buttons use <code>button</code> or <code>input</code> tags, but they can be applied to <code>a</code> tags when needed. If a button is disabled, use the disabled attribute on <code>button</code> or <code>input</code> element. For <code>a</code> elements, apply a <code>._disabled</code> class.
---

<section class="uikit-section" data-core>
    <h2 id="toc-simple-dropdown-for-core">Action List</h2>
    <p>Used primarily within the profile.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<ul class="dropdown">
    <li><a href="#" class="">all tags</a></li>
    <li><a href="#" class="">favorite tags</a></li>
    <li><a href="#" class="selected">custom tags</a></li>
</ul>
{% endhighlight %}

        <div class="uikit-preview" data-minheight="160">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2>New Nav Dropdowns</h2>
    <p>Almost the same as regular action lists but yet kinda different :c</p>

    <section class="uikit-section">
        <h3>Filtering</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="tab-parameters">
    <nav class="tab-show">
        <ul class="dropdown dno" style="display: block;">
            <li>
                <ul>
                    <li class="selected"><a href="#">all</a></li>
                </ul>
            </li>
            <li>
                <span>answer questions</span>
                <ul>
                    <li><a href="#">need answers</a></li>
                    ...
                </ul>
            </li>
            ...
        </ul>
    </nav>
</div>
{% endhighlight %}

            <div class="uikit-preview" data-minheight="350">
                <div class="tab-parameters">
                    <nav class="tab-show">
                        <ul class="dropdown dno" style="display: block;">
                            <li>
                                <ul>
                                    <li class="selected"><a href="#">all</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>answer questions</span>
                                <ul>
                                    <li><a href="#">need answers</a></li>
                                    <li><a href="#">no answer</a></li>
                                    <li><a href="#">bounties</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>popular</span>
                                <ul>
                                    <li><a href="#">today</a></li>
                                    <li><a href="#">week</a></li>
                                    <li><a href="#">month</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section><!-- / uikit-section -->


    <section class="uikit-section">
        <h3>Sorting</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="tab-parameters">
    <nav class="tab-sort">
        <a class="filter-switcher"></a>
        <ul class="dropdown dno" style="display: block;">
            <li><a href="/#">active</a></li>
            <li class="selected"><a href="#">newest</a></li>
            ...
            <li class="disabled"><a>ending</a></li>
            <li class="disabled"><a>bounty size</a></li>
        </ul>
    </nav>
</div>
{% endhighlight %}

            <div class="uikit-preview"  data-minheight="300">
                <div class="tab-parameters">
                    <nav class="tab-sort">
                        <ul class="dropdown dno" style="display: block;">
                            <li><a href="/#">active</a></li>
                            <li class="selected"><a href="#">newest</a></li>
                            <li><a href="#">hot</a></li>
                            <li><a href="#">votes</a></li>
                            <li><a href="#">most linked</a></li>
                            <li class="disabled"><a>ending</a></li>
                            <li class="disabled"><a>bounty size</a></li>
                        </ul>
                    </nav>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code -->
    </section><!-- / uikit-section -->
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-simple-dropdown-for-careers">Action List</h2>
    <p>Used only within cards on the Employer dashboard.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="card">
    <ul class="dropdown _textLeft">
        <li class="-item"><a href="#">Edit Listing</a></li>
        <li class="-item"><a href="#">Edit Targeting</a></li>
        <li class="-divider"></li>
        <li class="-item"><a href="#" title="Add more days to this listing">Extend Listing</a></li>
        <li class="-divider"></li>
        <li class="-item"><a class="remove expire -expire dialog" href="#">Expire Listing</a></li>
        <li class="-divider"></li>
        <li class="-item"><a href="#">Settings &amp; Permissions</a></li>
    </ul>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/card-dropdown.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-simple-dropdown-for-core">Avatar Picklist</h2>
    <p>Used only for changing user avatar in profile settings.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="popup profile-picture-popup" style="display: block;">
    <h2>Change your picture</h2>
    <hr>
    <a class="avatar-change" data-profile-type="Imgur">
        <img src="">
        <span class="avatar-description">Uploaded picture</span>
        <span class="badge-earned-check" style="display: inline;"></span>
    </a>
    <hr>
    <a class="avatar-change" data-profile-type="Gravatar">
        <img src="">
        <span class="avatar-description">Gravatar</span>
        <span class="badge-earned-check"></span>
    </a>
    <hr>
    <a class="avatar-change" data-profile-type="GravatarIdenticon">
        <img src="">
        <span class="avatar-description">Identicon</span>
        <span class="badge-earned-check"></span>
    </a>
    <hr>
    <input id="avatar-upload" type="button" value="Upload a new picture">
    <a id="profile-picture-cancel" href="#">cancel</a>
</div>
{% endhighlight %}

        <div class="uikit-preview" style="height:360px;">
            <div class="popup profile-picture-popup" style="display: block;">
                <h2>Change your picture</h2>
                <hr>
                <a class="avatar-change" data-profile-type="Imgur">
                    <img src="https://i.stack.imgur.com/yUW66.png?s=128&amp;g=1?s=42&amp;g=1">
                    <span class="avatar-description">Uploaded picture</span>
                    <span class="badge-earned-check" style="display: inline;"></span>
                </a>
                <hr>
                <a class="avatar-change" data-profile-type="Gravatar">
                    <img src="https://www.gravatar.com/avatar/f76e1ad77771496c2c5d483919ea6a4f?s=60&amp;d=identicon&amp;r=PG">
                    <span class="avatar-description">Gravatar</span>
                    <span class="badge-earned-check"></span>
                </a>
                <hr>
                <a class="avatar-change" data-profile-type="GravatarIdenticon">
                    <img src="https://www.gravatar.com/avatar/ceb4c9a3036eea921d2c3e091bb51bde?s=60&amp;d=identicon&amp;r=PG&amp;f=1">
                    <span class="avatar-description">Identicon</span>
                    <span class="badge-earned-check"></span>
                </a>
                <hr>
                <input id="avatar-upload" type="button" value="Upload a new picture">
                <a id="profile-picture-cancel" href="#">cancel</a>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-simple-dropdown-for-core">Saved Alerts Picklist</h2>
    <p>Used only for managing saved alerts within Candidate Search.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<ul class="-alerts dropdown _textLeft hide" style="display: block;">
    <li class="-item -dropdownTop"><a>Your saved search alerts</a></li>
    <li class="-item -dropdownBottom"><a href="">Manage saved search alerts »</a></li>
</ul>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/dropdown-saved-alerts.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-simple-dropdown-for-core">Top Bar Dropdowns</h2>
    <p>Used only within the top bar.</p>
    
    <section class="uikit-section">
        <h3 id="toc-topbar-site-switcher">Site Switcher</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="topbar-dialog siteSwitcher-dialog">
    <div class="header">...</div>
    <div class="modal-content">...</div>
</div>
{% endhighlight %}
            <div class="uikit-preview" style="height:486px;">
                <div class="topbar-dialog siteSwitcher-dialog">
                    <div class="header">
                        <h3><a href="//stackoverflow.com">current community</a></h3>
                    </div>
                    <div class="modal-content current-site-container">
                        <ul class="current-site">
                            <li>
                                <div class="related-links">
                                    <a href="http://chat.stackoverflow.com" class="js-gps-track">chat</a>
                                    <a href="#" class="js-gps-track">log out</a>
                                </div>
                                <a href="//stackoverflow.com" class="current-site-link site-link js-gps-track">
                                    <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                    Stack Overflow
                                </a>
                            </li>
                            <li class="related-site">
                                <div class="L-shaped-icon-container"><span class="L-shaped-icon"></span></div>
                                <a href="http://meta.stackoverflow.com" class="site-link js-gps-track">
                                    <div class="site-icon favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                                    Meta Stack Overflow
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header" id="your-communities-header">
                        <h3><a href="//stackexchange.com/users/3109039/?tab=accounts">your communities</a></h3>
                        <a href="#" id="edit-pinned-sites">edit</a>
                        <a href="#" id="cancel-pinned-sites" style="display: none;">cancel</a>
                    </div>
                    <div class="modal-content" id="your-communities-section">
                        <ul class="my-sites">
                            <li>
                                <a href="//ux.stackexchange.com" class="site-link js-gps-track">
                                    <div class="site-icon favicon favicon-ux" title="User Experience"></div>
                                    User Experience
                                    <span class="rep-score">5,133</span>
                                </a>
                            </li>
                            <li>
                                <a href="//meta.stackexchange.com" class="site-link js-gps-track">
                                    <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                    Meta Stack Exchange
                                    <span class="rep-score">3,746</span>
                                </a>
                            </li>
                            <li>
                                <a href="//stackoverflow.com" class="site-link js-gps-track">
                                    <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                    Stack Overflow
                                    <span class="rep-score">1,760</span>
                                </a>
                            </li>
                            <li>
                                <a href="//graphicdesign.stackexchange.com" class="site-link js-gps-track">
                                    <div class="site-icon favicon favicon-graphicdesign" title="Graphic Design"></div>
                                    Graphic Design
                                    <span class="rep-score">236</span>
                                </a>
                            </li>
                            <li>
                                <a href="//apple.stackexchange.com" class="site-link js-gps-track">
                                    <div class="site-icon favicon favicon-apple" title="Ask Different"></div>
                                    Ask Different
                                    <span class="rep-score">148</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header">
                        <h3><a href="//stackexchange.com/sites">more stack exchange communities</a></h3>
                        <a href="http://blog.stackoverflow.com" class="fr">company blog</a>
                    </div>
                    <div class="modal-content">
                        <div class="child-content">
                            <div class="site-filter-container">
                                <input id="js-site-filter-txt" type="text" class="site-filter-input" value="" placeholder="Find a Stack Exchange community">
                            </div>
                            <ul class="other-sites js-other-sites">
                                <li>
                                    <a class="other-site-link js-gps-track" href="//3dprinting.stackexchange.com" data-id="640" data-gps-track="site.switch({ target_site:640, item_type:3 }), site_switcher.click({ item_type:2 })">
                                        <div class="site-icon favicon favicon-3dprinting" title="3D Printing"></div>
                                        3D Printing
                                        <p class="site-desc">For 3D printing enthusiasts</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="other-site-link js-gps-track" href="//academia.stackexchange.com" data-id="415" data-gps-track="site.switch({ target_site:415, item_type:3 }), site_switcher.click({ item_type:2 })">
                                        <div class="site-icon favicon favicon-academia" title="Academia"></div>
                                        Academia
                                        <p class="site-desc">For academics and those enrolled in higher education</p>
                                    </a>
                                </li>
                                <li>
                                    <a class="other-site-link js-gps-track" href="//ham.stackexchange.com" data-id="520" data-gps-track="site.switch({ target_site:520, item_type:3 }), site_switcher.click({ item_type:2 })">
                                        <div class="site-icon favicon favicon-ham" title="Amateur Radio"></div>
                                        Amateur Radio
                                        <p class="site-desc">For amateur radio enthusiasts</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="uikit-section">
        <h3 id="toc-topbar-site-switcher">Achievements / Inbox</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="topbar-dialog inbox-dialog">
    <div class="header">...</div>
    <div class="modal-content">...</div>
</div>
<div class="topbar-dialog achievements-dialog">
    <div class="header">...</div>
    <div class="modal-content">...</div>
</div>
{% endhighlight %}
            <div class="uikit-preview" style="height:486px;">
                <div class="topbar-dialog inbox-dialog" style="left:30px;">
                    <div class="header"><h3>inbox</h3></div>
                    <div class="modal-content">
                        <ul>
                            <li class="inbox-item unread-item">
                                <a href="" class="js-gps-track">
                                    <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                    <div class="item-content">
                                        <div class="item-header">
                                            <span class="item-type">chat reply</span>
                                            <span class="item-creation"><span class="relativetime">40 mins ago</span></span>
                                        </div>
                                        <div class="item-location">
                                            Design
                                        </div>
                                        <div class="item-summary">
                                            Ted: how can we make things more ✨DELIGHTFUL✨
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="inbox-item unread-item">
                                <a href="" class="js-gps-track">
                                    <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                    <div class="item-content">
                                        <div class="item-header">
                                            <span class="item-type">chat reply</span>
                                            <span class="item-creation"><span class="relativetime">1 hour ago</span></span>
                                        </div>
                                        <div class="item-location">
                                            Design
                                        </div>
                                        <div class="item-summary">
                                            Paweł: I am the werewolf
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="inbox-item unread-item">
                                <a href="" class="js-gps-track">
                                    <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                    <div class="item-content">
                                        <div class="item-header">
                                            <span class="item-type">chat reply</span>
                                            <span class="item-creation"><span class="relativetime">3 hours ago</span></span>
                                        </div>
                                        <div class="item-location">
                                            Design
                                        </div>
                                        <div class="item-summary">
                                            Kurtis Beavers: Our design team is amazing. Oh, and @Kasra.
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="inbox-item ">
                                <a href="" class="js-gps-track">
                                    <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                    <div class="item-content">
                                        <div class="item-header">
                                            <span class="item-type">chat reply</span>
                                            <span class="item-creation"><span class="relativetime">19 hours ago</span></span>
                                        </div>
                                        <div class="item-location">Careers
                                        </div>
                                        <div class="item-summary">samthebrand: @Courtny @Hynes -- you guys are amazing.</div>
                                    </div>
                                </a>
                            </li>
                            <li class="inbox-item ">
                                <a href="" class="js-gps-track">
                                    <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                    <div class="item-content">
                                        <div class="item-header">
                                            <span class="item-type">chat reply</span>
                                            <span class="item-creation"><span class="relativetime">21 hours ago</span></span>
                                        </div>
                                        <div class="item-location">Careers</div>
                                        <div class="item-summary">Benjamin Hodgson: 🙌 @Hynes</div>
                                    </div>
                                </a>
                            </li>
                            <li class="inbox-item inbox-se-link">
                                <a href="//stackexchange.com/users/3109039?tab=inbox">see all inbox items</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="topbar-dialog achievements-dialog" style="left:434px;">
                    <div class="header">
                        <h3>achievements</h3>
                        <span class="utc-clock">utc time <span class="js-utc-time utc-time">18:22</span></span>
                    </div>
                    <div class="modal-content">
                        <div class="js-date-group date-group">
                            <div class="date-group-toggle-row js-date-group-toggle">
                                <span class="date-header">Last 7 days</span>
                                <a class="date-group-toggle"></a>
                            </div>
                            <ul class="js-items items" style="display: block;">
                                <li>
                                    <a href="http://ux.stackexchange.com/questions/52971/is-there-any-research-with-respect-to-how-font-weight-affects-readability/52972#52972" class="js-gps-track" data-gps-track="site.switch({ target_site:102, item_type:6 }); achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-ux" title="User Experience"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Sep 2 at 0:01" style="width: 30px;">+10</span>
                                        <div class="message-text">
                                            <h4>Is there any research with respect to how font-weight affects readability?</h4>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="js-date-group date-group">
                            <div class="date-group-toggle-row js-date-group-toggle">
                                <span class="date-header">Last 30 days</span>
                                <a class="date-group-toggle"></a>
                            </div>
                            <ul class="js-items items">
                                <li>
                                    <a href="http://stackoverflow.com/questions/19099401/why-use-h1-instead-of-actual-h1" class="js-gps-track" data-gps-track=" achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 19 at 11:02" style="width: 30px;">+5</span>
                                        <div class="message-text"><h4>Why use .h1 instead of actual h1?</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://stackoverflow.com/questions/19982651/why-does-bootstrap-set-the-line-height-property-to-1-428571429/20123813#20123813" class="js-gps-track" data-gps-track=" achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 18 at 19:12" style="width: 30px;">+40</span>
                                        <div class="message-text"><h4>Why does Bootstrap set the line-height property to 1.428571429?</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://meta.stackexchange.com/questions/283484/what-tools-and-techniques-are-used-to-test-ui-changes/283489#283489" class="js-gps-track" data-gps-track="site.switch({ target_site:4, item_type:6 }); achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 17 at 0:44" style="width: 30px;">+65</span>
                                        <div class="message-text"><h4>What tools and techniques are used to test UI changes?</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://ux.stackexchange.com/questions/53264/dark-or-white-color-theme-is-better-for-the-eyes/53268#53268" class="js-gps-track" data-gps-track="site.switch({ target_site:102, item_type:6 }); achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-ux" title="User Experience"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 16 at 16:18" style="width: 30px;">+10</span>
                                        <div class="message-text"><h4>Dark or white color theme is better for the eyes?</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://superuser.com/help/whats-reputation" class="js-gps-track" data-gps-track="site.switch({ target_site:3, item_type:6 }); achievements_popup.click({ item_type:5 })">
                                        <div class="site-icon favicon favicon-superuser" title="Super User"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 15 at 18:37" style="width: 30px;">+100</span>
                                        <div class="message-text"><h4>You've earned a bonus of 100 reputation because we trust you on other sites in the network</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://stackoverflow.com/documentation/s/e/4022" class="js-gps-track" data-gps-track=" achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 12 at 13:56" style="width: 30px;">+5</span>
                                        <div class="message-text"><h4>Background Position</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://stackoverflow.com/documentation/s/e/3595" class="js-gps-track" data-gps-track=" achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 12 at 10:00" style="width: 30px;">+5</span>
                                        <div class="message-text"><h4>Background Shorthand</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://stackoverflow.com/documentation/s/e/2220" class="js-gps-track" data-gps-track=" achievements_popup.click({ item_type:1 })">
                                        <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                        <span class="js-faux-column rep-change js-rep-change rep-up" title="Aug 11 at 13:27" style="width: 30px;">+10</span>
                                        <div class="message-text"><h4>Pseudo-classes</h4></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://stackoverflow.com/questions/38886952" class="js-gps-track" data-gps-track=" achievements_popup.click({ item_type:2 })">
                                        <div class="site-icon favicon favicon-stackoverflow" title="Stack Overflow"></div>
                                                    <span class="js-faux-column achievements-badge" style="width: 30px;"><span class="badge3"></span></span>
                                        <div class="message-text"><h4>You've earned the "Bluebook" badge (First citation of a topic or example you've contributed to) for "Css: Select last child element inside the parent element?".</h4></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>