<section class="uikit-section">
    <h2>Radio Option Toggle</h2>
    <p>CSS-only multi-selector which uses labels to select hidden input radio buttons.</p>

    <h3>Default Style</h3>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="g-box _col">
    <label for="sample-group-ex1" class="-cell f-label">What's your job status?</label>
    <div class="g-box f-option-toggle">
        <div class="g-box -option">
            <input class="f-radio" type="radio" name="sample-group-ex1" id="optionA-ex1" checked="checked" />
            <label class="-cell _jc-center f-label text-fw-normal" for="optionA-ex1">Not Looking</label>
        </div>
        <div class="g-box -option">
            <input class="f-radio" type="radio" name="sample-group-ex1" id="optionB-ex1" />
            <label class="-cell _jc-center f-label text-fw-normal" for="optionB-ex1">Kind of looking</label>
        </div>
        <div class="g-box -option">
            <input class="f-radio" type="radio" name="sample-group-ex1" id="optionC-ex1" />
            <label class="-cell _jc-center f-label text-fw-normal" for="optionC-ex1">Actively looking</label>
        </div>
    </div>
</div>
{% endhighlight %}

        <div class="stacks-preview">
            <div class="g-box _col _sp-4">
                <label for="sample-group-ex1" class="-cell f-label">What's your job status?</label>
                <div class="g-box f-option-toggle">
                    <div class="g-box -option">
                        <input class="f-radio" type="radio" name="sample-group-ex1" id="optionA-ex1" checked="checked" />
                        <label class="-cell _jc-center f-label text-fw-normal" for="optionA-ex1">Not Looking</label>
                    </div>
                    <div class="g-box -option">
                        <input class="f-radio" type="radio" name="sample-group-ex1" id="optionB-ex1" />
                        <label class="-cell _jc-center f-label text-fw-normal" for="optionB-ex1">Kind of looking</label>
                    </div>
                    <div class="g-box -option">
                        <input class="f-radio" type="radio" name="sample-group-ex1" id="optionC-ex1" />
                        <label class="-cell _jc-center f-label text-fw-normal" for="optionC-ex1">Actively looking</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Style Modifications</h3>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="f-option-toggle _primary">
    ...
</div>
...
<div class="f-option-toggle _switch">
    ...
</div>
{% endhighlight %}
        <div class="stacks-preview">
            <div class="g-box _col _sp-24">
                <div class="g-box _col _sp-4">
                    <label for="sample-group-ex2" class="-cell f-label">What's your job status?</label>
                    <div class="g-box f-option-toggle _primary">
                        <div class="g-box -option">
                            <input class="f-radio" type="radio" name="sample-group-ex2" id="optionA-ex2" checked="checked" />
                            <label class="-cell _jc-center f-label text-fw-normal" for="optionA-ex2">Not Looking</label>
                        </div>
                        <div class="g-box -option">
                            <input class="f-radio" type="radio" name="sample-group-ex2" id="optionB-ex2" />
                            <label class="-cell _jc-center f-label text-fw-normal" for="optionB-ex2">Kind of looking</label>
                        </div>
                        <div class="g-box -option">
                            <input class="f-radio" type="radio" name="sample-group-ex2" id="optionC-ex2" />
                            <label class="-cell _jc-center f-label text-fw-normal" for="optionC-ex2">Actively looking</label>
                        </div>
                    </div>
                </div>
                <div class="g-box _sp-4 _ai-center">
                    <label for="sample-group-ex3" class="-cell-3 f-label">Send emails?</label>
                    <div class="g-box _fl-0 f-option-toggle _switch">
                        <div class="g-box -option">
                            <input class="f-radio" type="radio" name="sample-group-ex3" id="optionA-ex3" checked="checked" />
                            <label class="-cell _jc-center f-label text-fw-normal" for="optionA-ex3">On</label>
                        </div>
                        <div class="g-box -option">
                            <input class="f-radio" type="radio" name="sample-group-ex3" id="optionB-ex3" />
                            <label class="-cell _jc-center f-label text-fw-normal _off" for="op-ex3tionB">Off</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
