---
layout: default
title: Galleries
description: Component that allows the user to cycle through images or video clips.
---

<section class="uikit-section" data-careers>
    <h2>Company Page Gallery</h2>
    <div class="uikit-code uikit-has-preview">
        
{% highlight html linenos %}
<div class="ng-scope">
    <div class="active-item">
        <img class="ng-scope" src="//i.stack.imgur.com/cOg32.jpg">
    </div>
    <div class="carousel">
        <div class="tooltip"></div><span class="previous disabled"></span>
        <div class="items-container ng-scope">
            <div class="item image active">
                <div class="helper"></div>
                <img alt="" src="//i.stack.imgur.com/cOg32l.jpg">
            </div>
            <div class="item image">
                <div class="helper"></div>
                <img alt="" src="//i.stack.imgur.com/aMZjkl.jpg">
            </div>
            ...
        </div>
        <div class="items-container ng-scope ng-hide">
            <div class="item image">
                <div class="helper"></div>
                <img alt="" src="//i.stack.imgur.com/HmeHcl.jpg">
            </div>
            ...
        </div>
        <div class="items-container ng-scope ng-hide">
            <div class="item image">
                <div class="helper"></div>
                <img alt="" src="//i.stack.imgur.com/IZdBIl.jpg">
            </div>
            ...
        </div>
        <span class="next"></span>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="http://i.imgur.com/zGUYnFE.jpg" alt="">
        </div>
    </div>
</section><!-- / uikit-section -->