---
layout: default
title: Header Groups
description: Header sections are components which provide context, navigation helps, and necessary visual separation for key actions. These are found at the beginning of a section. They can be applied at a page, section, or sub-section level.
---

<section class="uikit-section" id="section-headers" data-careers>
    <h2 class="toc-section-header-page">Page Level</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<header class="-page">
    <div class="_border -row">
        <h1 class="-title">Job Listings</h1>
    </div>
</header>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{site.stickers}}/header-groups--page.png" />
        </div>
    </div>

    <h2 class="toc-section-header-page-detail">Page Level: Detail Page</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<header class="-page">
    <div class="-row _border">
        <div class="-col6">
            <p class="_large"><a href="#"><span class="icon -ui-arrowBack"></span> Back to previous page</a></p>
        </div>
        <div class="-col6 _textRight">
            <a href="#" class="btn _primary _small">New Search</a>
        </div>
    </div>
    <div class="-row">
        <h1 class="-title">[Search Title]</h1>
        <a href="#" class="btn _clear _small">Edit Title</a>
    </div>
</header>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/header-groups--page-detail.png" />
        </div>
    </div>

    <h2 class="toc-section-header-page-detail">Section Level</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<header class="-section -row">
    <h2 class="-title">Job Listings</h2>
</header>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/header-groups--section.png" />
        </div>
    </div>

    <h2 class="toc-section-header-page-detail">Section Level: Borders</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<header class="-section">
    <div class="_border -row">
        <div class="-col6">
            <h2 class="-title">Job Listings</h2>
        </div>
        <div class="-col6 _textRight">
            <a href="#" class="btn _primary">Create Listing</a>
        </div>
    </div>
</header>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/header-groups--section-border.png" />
        </div>
    </div>
</section>