---
layout: default
title: Hero boxes
description: All those bix boxes on top of the page which we use to inform users about something or to announce new feature etc...
---

<section class="uikit-section" data-core>
    <h2 id="toc-notifications-style-1">Anonymous herobox</h2>

    <section class="uikit-section">
        <h3 id="toc-inline">Full</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="herobox">
    <div id="hero-content">
        <div id="close"><a title="click to minimize">_</a></div>
        <div id="blurb">
            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
            <br>
            <br>
            <a href="#" id="tell-me-more" class="button">What is meta?</a>
        </div>
        <div id="desc">
            <b>Here's how it works:</b>
            <ol id="hiw">
                <li id="q">Any Stack Exchange user can ask a question</li>
                <li id="an">The community provides support, votes on ideas, and reports bugs</li>
                <li id="b">Your voice helps shape the way Stack Exchange operates</li>
            </ol>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <div id="herobox" style="width:1060px;">
                    <div id="hero-content">
                        <div id="close"><a title="click to minimize">_</a></div>
                        <div id="blurb">
                            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
                            <br>
                            <br>
                            <a href="#" id="tell-me-more" class="button">What is meta?</a>
                        </div>
                        <div id="desc">
                            <b>Here's how it works:</b>
                            <ol id="hiw">
                                <li id="q">Any Stack Exchange user can ask a question</li>
                                <li id="an">The community provides support, votes on ideas, and reports bugs</li>
                                <li id="b">Your voice helps shape the way Stack Exchange operates</li>
                            </ol>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="uikit-section">
        <h3 id="toc-full-width">Minimized</h2>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="herobox-mini">
    <div id="hero-content">
        <span id="controls">
            <a href="#" id="tell-me-more" class="button">What is meta?</a>
            <span id="close"><a title="click to dismiss">×</a></span>
        </span>
        <div id="blurb">
            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
        </div>        
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="herobox-mini" style="width:1060px;">
                    <div id="hero-content">
                        <span id="controls">
                            <a href="#" id="tell-me-more" class="button">What is meta?</a>
                            <span id="close"><a title="click to dismiss">×</a></span>
                        </span>
                        <div id="blurb">
                            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<section class="uikit-section" data-core>
    <h2>Product Introduction</h2>
    <p>Used within Jobs, Documentation, and Developer Story to introduce a new product offering or feature to users.</p> 

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="hero-box double-panel doctour js-onboarding">
    <div class="step blue" data-step="1">
        <div class="panel left_panel col-4 text-left">
            <div class="hero-content">
                <h1 class="hero_title">
                    Welcome to Meta Stack Exchange
                    <span>Documentation</span>
                </h1>
                <div class="subtitle">
                    <p>Working together as a community to build the best reference material for developer tools on the internet.</p>
                </div>
            </div>

            <div class="hero-cta">
                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="2">Learn More</a>
                <ul class="hero-pager">
                    <li class="youarehere">
                        <a href="javascript:void(0)" data-step="1"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="2"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="3"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="4"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel right_panel col-8">
            <div class="hero-content">
                <div class="col-4">
                    <a href="javascript:void(0)" data-step="2">
                        <div class="img img-1"></div>
                        <h3>Examples First</h3>
                        <p>Relevant examples are the most important part of documentation.</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" data-step="3">
                        <div class="img img-2"></div>
                        <h3>Edited Together</h3>
                        <p>Collaborate with other developers in the community.</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" data-step="4">
                        <div class="img img-3"></div>
                        <h3>Earn Reputation</h3>
                        <p>Reputation rewards valuable contributions.</p>
                    </a>
                </div>
            </div>
            <div class="hero-dismiss">Dismiss</div>
        </div>
    </div>
</div>
{% endhighlight %}          
        <div class="uikit-preview">
            <div class="hero-box double-panel doctour js-onboarding" style="width:1060px;">
                <div class="step blue" data-step="1">
                    <div class="panel left_panel col-4 text-left">
                        <div class="hero-content">
                            <h1 class="hero_title">
                                Welcome to Meta Stack Exchange
                                <span style="display:block;">Documentation</span>
                            </h1>
                            <div class="subtitle">
                                <p>Working together as a community to build the best reference material for developer tools on the internet.</p>
                            </div>
                        </div>

                        <div class="hero-cta">
                            <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="2">Learn More</a>
                            <ul class="hero-pager">
                                <li class="youarehere">
                                    <a href="javascript:void(0)" data-step="1"></a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)" data-step="2"></a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)" data-step="3"></a>
                                </li>
                                <li class="">
                                    <a href="javascript:void(0)" data-step="4"></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel right_panel col-8">
                        <div class="hero-content">
                            <div class="col-4">
                                <a href="javascript:void(0)" data-step="2">
                                    <div class="img img-1"></div>
                                    <h3>Examples First</h3>
                                    <p>Relevant examples are the most important part of documentation.</p>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:void(0)" data-step="3">
                                    <div class="img img-2"></div>
                                    <h3>Edited Together</h3>
                                    <p>Collaborate with other developers in the community.</p>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="javascript:void(0)" data-step="4">
                                    <div class="img img-3"></div>
                                    <h3>Earn Reputation</h3>
                                    <p>Reputation rewards valuable contributions.</p>
                                </a>
                            </div>
                        </div>
                        <div class="hero-dismiss">Dismiss</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

