<section class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center stacks-title" id="checkbox-radio">Checkboxes &amp; Radios </h2>
    <p class="stacks-p _section">Like <code class="stacks-code">select</code> menus, we have custom checkboxes and radio buttons. We do this by clearing out the browser defaults and replacing them our own custom styles. However this only works for browsers which support <code class="stacks-code">appearance: none;</code> (or <code class="stacks-code">-webkit-appearance: none;</code>).</p>

    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Checkboxes</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="grid gsr8">
    <div class="grid-cell fl0">
        <input class="checkbox" type="checkbox" name="" id="choice-checkbox-1" checked />
    </div>
    <div class="grid fl-col-nowrap">
        <label for="choice-checkbox-1" class="label fw-normal">Choice 1</label>
        <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
    </div>
</div>
{% endhighlight %}
        <div class="-preview">
            <div class="grid fl-col-nowrap gs24">
                <div class="grid fl-col-nowrap gsc8">
                    <label for="" class="grid-cell label">Vertical List</label>
                    <div class="grid gsr8">
                        <div class="grid-cell fl0">
                            <input class="checkbox" type="checkbox" name="" id="choice-checkbox-1" checked />
                        </div>
                        <div class="grid fl-col-nowrap">
                            <label for="choice-checkbox-1" class="label fw-normal">Choice 1</label>
                            <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                        </div>
                    </div>
                    <div class="grid gsr8">
                        <div class="grid-cell fl0">
                            <input class="checkbox" type="checkbox" name="" id="choice-checkbox-2" />
                        </div>
                        <div class="grid fl-col-nowrap">
                            <label for="choice-checkbox-1" class="label fw-normal">Choice 2</label>
                            <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                        </div>
                    </div>
                    <div class="grid gsr8">
                        <div class="grid-cell fl0">
                            <input class="checkbox" type="checkbox" name="" id="choice-checkbox-2" />
                        </div>
                        <div class="grid fl-col-nowrap">
                            <label for="choice-checkbox-1" class="label fw-normal">Choice 3</label>
                            <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                        </div>
                    </div>
                </div>
                <div class="grid fl-col-nowrap gsc16">
                    <label for="" class="grid-cell label">Horizontal List</label>
                    <div class="grid-cell">
                        <div class="grid gsr8 grid-4-col">
                            <div class="grid gsr8">
                                <div class="grid-cell fl0">
                                    <input class="checkbox" type="checkbox" name="" id="choice-checkbox-1" checked />
                                </div>
                                <div class="grid fl-col-nowrap">
                                    <label for="choice-checkbox-1" class="label fw-normal">Choice 1</label>
                                    <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                                </div>
                            </div>
                            <div class="grid gsr8">
                                <div class="grid-cell fl0">
                                    <input class="checkbox" type="checkbox" name="" id="choice-checkbox-2" />
                                </div>
                                <div class="grid fl-col-nowrap">
                                    <label for="choice-checkbox-1" class="label fw-normal">Choice 2</label>
                                    <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                                </div>
                            </div>
                            <div class="grid gsr8">
                                <div class="grid-cell fl0">
                                    <input class="checkbox" type="checkbox" name="" id="choice-checkbox-2" />
                                </div>
                                <div class="grid fl-col-nowrap">
                                    <label for="choice-checkbox-1" class="label fw-normal">Choice 3</label>
                                    <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="grid fl-jc-space-between fl-ai-center stacks-title _subtitle">Radios</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="grid gsr8">
    <div class="grid-cell fl0">
        <input class="radio" type="radio" name="" id="choice-radio-1" checked />
    </div>
    <div class="grid fl-col-nowrap gsc16">
        <label for="choice-radio-1" class="label fw-normal">Choice 1</label>
        <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
    </div>
</div>
{% endhighlight %}
        <div class="-preview">
            <div class="grid fl-col-nowrap gs24">
                <div class="grid fl-col-nowrap gsc8">
                    <label for="" class="grid-cell label">Vertical List</label>
                    <div class="grid gsr8">
                        <div class="grid-cell fl0">
                            <input class="radio" type="radio" name="" id="choice-vert-radio-1" checked />
                        </div>
                        <div class="grid fl-col-nowrap">
                            <label for="choice-vert-radio-1" class="grid-cell label fw-normal">Choice 1</label>
                            <span class="grid-cell input-description">This is some help text to help further explain the choice you will be making.</span>
                        </div>
                    </div>
                    <div class="grid gsr8">
                        <div class="grid-cell fl0">
                            <input class="radio" type="radio" name="" id="choice-vert-radio-2" />
                        </div>
                        <div class="grid fl-col-nowrap">
                            <label for="choice-vert-radio-2" class="label fw-normal">Choice 2</label>
                            <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                        </div>
                    </div>
                    <div class="grid gsr8">
                        <div class="grid-cell fl0">
                            <input class="radio" type="radio" name="" id="choice-vert-radio-3" />
                        </div>
                        <div class="grid fl-col-nowrap">
                            <label for="choice-vert-radio-3" class="label fw-normal">Choice 3</label>
                            <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                        </div>
                    </div>
                </div>
                <div class="grid fl-col-nowrap gsc8">
                    <label for="" class="grid-cell label">Horizontal List</label>
                    <div class="grid-cell">
                        <div class="grid gsr8 grid-4-col">
                            <div class="grid gsr8">
                                <div class="grid-cell fl0">
                                    <input class="radio" type="radio" name="" id="choice-horz-radio-1" checked />
                                </div>
                                <div class="grid fl-col-nowrap">
                                    <label for="choice-horz-radio-1" class="label fw-normal">Choice 1</label>
                                    <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                                </div>
                            </div>
                            <div class="grid gsr8">
                                <div class="grid-cell fl0">
                                    <input class="radio" type="radio" name="" id="choice-horz-radio-2" />
                                </div>
                                <div class="grid fl-col-nowrap">
                                    <label for="choice-horz-radio-2" class="label fw-normal">Choice 2</label>
                                    <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                                </div>
                            </div>
                            <div class="grid gsr8">
                                <div class="grid-cell fl0">
                                    <input class="radio" type="radio" name="" id="choice-horz-radio-3" />
                                </div>
                                <div class="grid fl-col-nowrap">
                                    <label for="choice-horz-radio-3" class="label fw-normal">Choice 3</label>
                                    <span class="input-description">This is some help text to help further explain the choice you will be making.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
