<section class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Radio Option Toggle</h2>
    <p class="stacks-p _section">CSS-only multi-selector which uses labels to select hidden input radio buttons.</p>

    <h3 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle">Default Style</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="grid fl-col-nowrap">
    <label for="sample-group-ex1" class="grid-cell label">What’s your job status?</label>
    <div class="grid fl-inline grid-4-col option-toggle">
        <div class="grid -option">
            <input class="radio" type="radio" name="sample-group-ex1" id="optionA-ex1" checked="checked" />
            <label class="grid-cell label fw-normal ta-center" for="optionA-ex1">Not Looking</label>
        </div>
        <div class="grid -option">
            <input class="radio" type="radio" name="sample-group-ex1" id="optionB-ex1" />
            <label class="grid-cell label fw-normal ta-center" for="optionB-ex1">Kind of looking</label>
        </div>
        <div class="grid -option">
            <input class="radio" type="radio" name="sample-group-ex1" id="optionC-ex1" />
            <label class="grid-cell label fw-normal ta-center" for="optionC-ex1">Actively looking</label>
        </div>
    </div>
</div>
{% endhighlight %}
        <div class="-preview">
            <div class="grid fl-col-nowrap gs4">
                <label for="sample-group-ex1" class="grid-cell label">What’s your job status?</label>
                <div class="grid fl-inline grid-4-col option-toggle">
                    <div class="grid -option">
                        <input class="radio" type="radio" name="sample-group-ex1" id="optionA-ex1" checked="checked" />
                        <label class="grid-cell label fw-normal ta-center" for="optionA-ex1">Not Looking</label>
                    </div>
                    <div class="grid -option">
                        <input class="radio" type="radio" name="sample-group-ex1" id="optionB-ex1" />
                        <label class="grid-cell label fw-normal ta-center" for="optionB-ex1">Kind of looking</label>
                    </div>
                    <div class="grid -option">
                        <input class="radio" type="radio" name="sample-group-ex1" id="optionC-ex1" />
                        <label class="grid-cell label fw-normal ta-center" for="optionC-ex1">Actively looking</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle">Style Modifications</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="option-toggle _primary">
    ...
</div>
...
<div class="option-toggle _switch">
    ...
</div>
{% endhighlight %}
        <div class="-preview">
            <div class="grid fl-col-nowrap gs24">
                <div class="grid fl-col-nowrap gs4">
                    <label for="sample-group-ex2" class="grid-cell label">What’s your job status?</label>
                    <div class="grid fl-inline grid-4-col option-toggle _primary">
                        <div class="grid -option">
                            <input class="radio" type="radio" name="sample-group-ex2" id="optionA-ex2" checked="checked" />
                            <label class="grid-cell label fw-normal ta-center" for="optionA-ex2">Not Looking</label>
                        </div>
                        <div class="grid -option">
                            <input class="radio" type="radio" name="sample-group-ex2" id="optionB-ex2" />
                            <label class="grid-cell label fw-normal ta-center" for="optionB-ex2">Kind of looking</label>
                        </div>
                        <div class="grid -option">
                            <input class="radio" type="radio" name="sample-group-ex2" id="optionC-ex2" />
                            <label class="grid-cell label fw-normal ta-center" for="optionC-ex2">Actively looking</label>
                        </div>
                    </div>
                </div>
                <div class="grid gs4 fl-ai-center">
                    <label for="sample-group-ex3" class="grid-cell label">Send emails?</label>
                    <div class="grid fl-inline fl-last option-toggle _switch">
                        <div class="grid -option">
                            <input class="radio" type="radio" name="sample-group-ex3" id="optionA-ex3" checked="checked" />
                            <label class="grid-cell label fw-normal ta-center" for="optionA-ex3">On</label>
                        </div>
                        <div class="grid -option">
                            <input class="radio" type="radio" name="sample-group-ex3" id="optionB-ex3" />
                            <label class="grid-cell label fw-normal ta-center" for="optionB-ex3">Off</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
