<section id="inputs" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Inputs</h2>
    <p class="stacks-p _section">Text inputs are used to gather various forms of freeform data. They should <em>always</em> be paired with a label. Placeholder text should be used <em>as a content prompt only, <strong>not as a label.</strong></em></p>

    <h3 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle">Basic Input</h3>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<label for="example-item" class="grid-cell label">Label</label>
<input class="grid-cell input" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
{% endhighlight %}
        <div class="-preview">
            <form class="grid fl-col-nowrap gs16">
                <div class="grid fl-col-nowrap gs4
                ">
                    <label for="example-item" class="grid-cell label">Question title</label>
                    <input class="grid-cell input" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
                </div>
                <div class="grid fl-col-nowrap gs4
                ">
                    <label for="example-item" class="grid-cell label">Tags</label>
                    <div class="grid ps-relative">
                        <input class="grid-cell input" id="example-item" type="text" placeholder="e.g. css, c#, less" disabled />
                        <div class="input-icon tc-black-300">
                            <svg role="icon" class="svg-icon iconLock" width="18" height="18" viewBox="0 0 18 18"><path d="M16 9a2 2 0 0 0-2-2V6A5 5 0 0 0 4 6v1a2 2 0 0 0-2 2v6c0 1.1.9 2 2 2h10a2 2 0 0 0 2-2V9zm-7 5a2 2 0 0 1-2-2c0-1.1.9-2 2-2a2 2 0 0 1 2 2 2 2 0 0 1-2 2zm3.1-7H5.9V6a3.1 3.1 0 0 1 6.2 0v1z"/></svg>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h3 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle">Input States</h3>
    <p class="stacks-p _section">In cases when you would like validation states attached to an input, you will need to wrap the input with <code class="stacks-code">.-row</code> div so the icon can be placed correctly.</p>

    <h4 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle-sm">Warning</h4>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="grid fl-col-nowrap gs4
 has-warning">
    <label for="example-warning" class="grid-cell label">Username</label>
    <div class="grid ps-relative">
        <input class="grid-cell input" id="example-warning" type="text" name="" />
        <span class="input-icon tc-yellow-600">
            <svg role="icon" class="svg-icon Warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M.5 16h17L9 1 .5 16zm9.5-2H8v-2h2v2zm0-3H8V7h2v4z"/></svg>
        </span>
    </div>
    <div class="grid-cell">
        <p class="mt4 fs2 -message">Caps lock is on!</p>
    </div>
</div>
{% endhighlight %}
        <div class="-preview">
            <form>
                <div class="grid fl-col-nowrap gs4
                 has-warning">
                    <label for="example-warning" class="grid-cell label">Username</label>
                    <div class="grid ps-relative">
                        <input class="grid-cell input" id="example-warning" type="text" name="" />
                        <span class="input-icon tc-yellow-600">
                            <svg role="icon" class="svg-icon Warning" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M.5 16h17L9 1 .5 16zm9.5-2H8v-2h2v2zm0-3H8V7h2v4z"/></svg>
                        </span>
                    </div>
                    <div class="grid-cell">
                        <p class="mt4 fs2 -message">Caps lock is on!</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h4 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle-sm">Error</h4>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="grid fl-col-nowrap gs4
 has-error">
    <label for="example-error" class="grid-cell label">Username</label>
    <div class="grid ps-relative">
        <input class="grid-cell input" id="example-error" type="text" name="" />
        <span class="input-icon tc-red-400">
            <svg role="icon" class="svg-icon iconError" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M9 1.03c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zM10 13H8v-2h2v2zm0-3H8V5h2v5z"/></svg>
        </span>
    </div>
    <div class="grid-cell">
        <p class="mt4 fs2 -message">That username is already taken.</p>
    </div>
</div>
{% endhighlight %}
        <div class="-preview">
            <form>
                <div class="grid fl-col-nowrap gs4
                 has-error">
                    <label for="example-error" class="grid-cell label">Username</label>
                    <div class="grid ps-relative">
                        <input class="grid-cell input" id="example-error" type="text" name="" />
                        <span class="input-icon tc-red-400">
                            <svg role="icon" class="svg-icon iconError" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M9 1.03c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zM10 13H8v-2h2v2zm0-3H8V5h2v5z"/></svg>
                        </span>
                    </div>
                    <div class="grid-cell">
                        <p class="mt4 fs2 -message">That username is already taken.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h4 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle-sm">Success</h4>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<div class="grid fl-col-nowrap gs4
 is-success">
    <label for="example-success" class="grid-cell label">Username</label>
    <div class="grid ps-relative">
        <input class="grid-cell input" id="example-success" type="text" name="" />
        <span class="input-icon tc-green-400">
            <svg role="icon" class="svg-icon iconCheckmark" width="18" height="18" viewBox="0 0 18 18"><path d="M16 4.41L14.59 3 6 11.59 2.41 8 1 9.41l5 5z"/></svg>
        </span>
    </div>
    <div class="grid-cell">
        <p class="mt4 fs2 -message">Congrats! That name is available.</p>
    </div>
</div>
{% endhighlight %}
        <div class="-preview">
            <form>
                <div class="grid fl-col-nowrap gs4
                 is-success">
                    <label for="example-success" class="grid-cell label">Username</label>
                    <div class="grid ps-relative">
                        <input class="grid-cell input" id="example-success" type="text" name="" />
                        <span class="input-icon tc-green-400">
                            <svg role="icon" class="svg-icon iconCheckmark" width="18" height="18" viewBox="0 0 18 18"><path d="M16 4.41L14.59 3 6 11.59 2.41 8 1 9.41l5 5z"/></svg>
                        </span>
                    </div>
                    <div class="grid-cell">
                        <p class="mt4 fs2 -message">Congrats! That name is available.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h3 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle">Input Sizes</h3>
    <p class="stacks-p _section">These sizes apply not only to <code class="stacks-code">.input</code>, but also to <code class="stacks-code">.label</code>, <code class="stacks-code">.select</code>, and <code class="stacks-code">.input-description</code>.</p>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<label for="example-item" class="grid-cell label text-fs-12">Label</label>
<input class="grid-cell input text-fs-12" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
...
<label for="example-item" class="grid-cell label">Label</label>
<input class="grid-cell input" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
...
<label for="example-item" class="grid-cell label text-fs-17">Label</label>
<input class="grid-cell input text-fs-17" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
...
<label for="example-item" class="grid-cell label text-fs-24">Label</label>
<input class="grid-cell input text-fs-24" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
{% endhighlight %}
        <div class="-preview">
            <form class="grid fl-col-nowrap gs16">
                <div class="grid fl-col-nowrap gs4
                ">
                    <label for="example-item" class="grid-cell label text-fs-12">Small Label (12px)</label>
                    <input class="grid-cell input text-fs-12" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
                </div>
                <div class="grid fl-col-nowrap gs4
                ">
                    <label for="example-item" class="grid-cell label">Default Label (13px)</label>
                    <input class="grid-cell input" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
                </div>
                <div class="grid fl-col-nowrap gs4
                ">
                    <label for="example-item" class="grid-cell label text-fs-17">Medium Label (17px)</label>
                    <input class="grid-cell input text-fs-17" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
                </div>
                <div class="grid fl-col-nowrap gs4
                ">
                    <label for="example-item" class="grid-cell label text-fs-24">Large Label (24px)</label>
                    <input class="grid-cell input text-fs-24" id="example-item" type="text" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
                </div>
            </form>
        </div>
    </div>

    <h3 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle">Textareas</h3>
    <p class="stacks-p _section">Textareas are used for multi-line content areas.</p>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<form>
    <div class="grid fl-col-nowrap gs4
    ">
        <label class="grid-cell label" for="example-item">Question body</label>
        <textarea class="grid-cell input" id="example-item" placeholder="e.g. The Stack Overflow glyph used to have 6 bars, but now…"></textarea>
    </div>
</form>
{% endhighlight %}
        <div class="-preview">
            <form>
                <div class="grid fl-col-nowrap gs4
                ">
                    <label class="grid-cell label" for="example-item">Question body</label>
                    <textarea class="grid-cell input" id="example-item" placeholder="e.g. The Stack Overflow glyph used to have 6 bars, but now…"></textarea>
                </div>
            </form>
        </div>
    </div>
</section>

<section id="description-copy" class="stacks-section">
    <h2 class="grid fl-jc-space-between fl-ai-center mb0 stacks-title">Description Copy</h2>
    <p class="stacks-p _section">When a label or input needs further copy to explain itself sufficiently. This text should be placed directly next to the item it is providing further detail about.</p>

    <h4 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle-sm">Copy Style</h4>
    <div class="stacks-code-preview">
{% highlight html linenos %}
<input type="text" id="example-item" class="input" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
<p class="input-description">Questions which can have definitive answers are much more likely to answered.</p>
{% endhighlight %}
        <div class="-preview">
            <form>
                <div class="grid fl-col-nowrap gsc16">
                    <div class="grid fl-col-nowrap gsc4">
                        <label for="example-item" class="grid-cell label">Question title</label>
                        <span class="grid-cell input-description"><strong>NOTE:</strong> Opinion-related questions will must likely be closed.</span>
                    </div>
                    <div class="grid fl-col-nowrap gsc8
                    ">
                        <input type="text" id="example-item" class="grid-cell input" placeholder="e.g. Why are there 5 bars in the Stack Overflow glyph?" />
                        <span class="grid-cell input-description">Questions which can have definitive answers are much more likely to answered.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h4 class="grid fl-jc-space-between fl-ai-center mb0 mt24 stacks-title _subtitle-sm">Copy Sizes</h4>
    <p class="stacks-p _section">The description copy size can be adjusted using the modifying classes outlined within the about <a href="#sizes">input sizes</a> section.</p>
</section>
