---
layout: default
title: Lists
description: Lists is a component that repeats the same unit multiple times.
---
{% include lists/default-lists.html %}

<section class="uikit-section">
    <h2>Title Only</h2>
    <p>Lists which list only the content's title.</p>

    <section class="uikit-section" data-core>
        <h3>Object + Title</h3>
        <p>Used primarily within the sidebar. Examples would be related, linked, and Hot Network Questions.</p>
        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div id="sidebar" class="show-votes">
    <div class="module sidebar-related">
        <h4 id="h-related">Related</h4>
        <div class="related js-gps-related-questions">
            <div class="spacer js-gps-track">
                <a href="#" title="Vote score (upvotes - downvotes)">
                    <div class="answer-votes answered-accepted large">497</div>
                </a>
                <a class="question-hyperlink" href="#">JSON serialization of enum as string</a>
            </div>
            <div class="spacer js-gps-track">
                <a href="#" title="Vote score (upvotes - downvotes)">
                    <div class="answer-votes default">1</div>
                </a>
                <a class="question-hyperlink" href="#">.NET Xml Serialization AnonymousType</a>
            </div>
            ...
        </div>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="sidebar" class="show-votes" style="float:none;"> <!-- i had to add this container -->
                    <div class="module sidebar-related">
                        <h4 id="h-related">Related</h4>
                        <div class="related js-gps-related-questions">
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                    <div class="answer-votes answered-accepted large">497</div>
                                </a>
                                <a class="question-hyperlink" href="#">JSON serialization of enum as string</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    13
                                </div></a><a class="question-hyperlink" href="#">C# - Deserialize JSON to anonymous object</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes default">
                                    1
                                </div></a><a class="question-hyperlink" href="#">.NET Xml Serialization AnonymousType</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="# title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    0
                                </div></a><a class="question-hyperlink" href="#">Spring.Core.TypeMismatchException: Cannot convert property value of type Dictionary</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes default">
                                    1
                                </div></a><a class="question-hyperlink" href="#">XmlSerializer throwing exception with generic list during serialization</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes default">
                                    3
                                </div></a><a class="question-hyperlink" href="#">Unable to cast Anonymous Type from 'System.Linq.IQueryable' to 'System.Data.Entity.Core.Objects.ObjectQuery'</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    0
                                </div></a><a class="question-hyperlink" href="#">Assert.Equal anonymous objects across assemblies fails</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    -1
                                </div></a><a class="question-hyperlink" href="#">combine two field value in single field anonymous type linq</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="uikit-section" data-careers>
        <h3>Bulleted</h3>
        <p>Used primarily within Jobs.</p>
        <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
<div id="recent-searches">
    <div class="_border">
        <h2 class="sidebar-sectionTitle">
            Your Recent Searches
        </h2>
        <a class="delete" target="_blank">clear</a>
    </div>
    <div>
        <ul>
                <li><a href="#">“stack overflow” jobs</a></li>
                <li><a href="#">Jobs within 20 km of new york</a></li>
                <li><a href="#">Jobs within 20 km of San fran</a></li>
        </ul>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <img src="http://i.imgur.com/oesCQd5.png" alt="">
            </div>
        </div>
    </section>
</section>

<section class="uikit-section" data-careers>
    <h2>Account Management List</h2>
    <p>Used only within Talent.</p>
    <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
<ul class="list _border">
    <li class="-item -row">
        <div class="-col8">
            <h3 class="-title">
                Tom Harvey
                <span class="badge -owner _inline">Owner</span>
                <span class="badge -admin _inline">Admin</span>
            </h3>
            <p class="-meta">tharvey@stackoverflow.com</p>
        </div>
        <div class="-col4 _textRight">
            <a class="dialog btn-clear _small" href="/jobs/642871/assign/123060">Change Owner</a>
        </div>
    </li>
    <li class="-item -row">...</li>
    ...
</ul>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/lists-accounts.png" />
        </div>
    </div>
</section>

{% include lists/question-list.html %}

<section class="uikit-section" data-careers>
    <h2>Job Listings & Company Pages</h2>
    <p>Used only within Jobs and somewhat on Company Pages.</p>
    <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
<div class="listResults">
    <div class="-item -job">
        <span class="fav-toggle"></span>
        <div class="-title">
            <h1><a class="job-link" href="" title="DevOps Engineer">DevOps Engineer</a></h1>
            <span class="salary">$90,000 - 110,000 / Provides Equity</span>
        </div>
        <ul class="metadata primary">
            <li class="employer">Company 123</li>
            <li class="location">Philadelphia, PA</li>
            <li class="jobSummary remote">Remote</li>
        </ul>
        <p class="text _muted _small description">Company 123 is a rapidly growing technology startup that provides a platform to…</p>
        <div class="tags">
            <p><a class="post-tag job-link no-tag-menu" href="/jobs/tag/devops">devops</a></p>
        </div>
        <p class="text _small posted bottom">2 weeks ago</p>
    </div>
    <div class="-item -job">
        ...
    </div>
    ...
</div>
<div class="list companies">
    <div>
        <div class="images">
            <a href="/jobs/companies/monarch-airlines?c=wW0P6BZVeAU6b6so" class="top"><img alt="" src="//i.stack.imgur.com/pNffFm.jpg"></a>
            <div class="logo">
                <a href="/jobs/companies/monarch-airlines?c=wW0P6BZVeAU6b6so"><img alt="" src="//i.stack.imgur.com/fVgXB.jpg"></a>
            </div>
        </div>
        <div class="text">
            <p><a class="title" href="">Monarch Airlines</a></p>
            <p class="location">Luton</p>
            <p class="industries">Aviation, Travel &amp; Tourism</p>
            <p class="tagline" title="Above and Beyond ....">Above and Beyond ....</p>
            <p class="tags"><span class="jobs"><a href="/jobs/companies/monarch-airlines?c=wW0P6BZVeAU6b6so#jobs">1 job</a></span></p>
        </div>
    </div>
    <div>...</div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/lists-job-listings.png" />
            <img src="{{ site.baseurl }}/{{ site.stickers }}/lists-company-pages.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2>Candidate Lists</h2>
    <p>Used only within Candidate Search.</p>
    <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
To be added
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/lists-candidates.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2>Topic List</h2>
    <p>Used only within Documentation.</p>
    <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
To be added
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/lists-documentation.png" />
        </div>
    </div>
</section>