---
layout: default
title: Miscellaneous
description: Various elements which still need to be catalogued. The junk drawer of Stacks if you will.
---

<section class="uikit-section" data-core>
    <h2 id="">Loader in links</h2>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<a href="#" class="loading">Loading</a>
{% endhighlight %}

        <div class="uikit-preview">
            <a href="#" class="loading">Loading</a>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section" data-core>
    <h2>Layout switcher</h2>

    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<nav class="question-list-layout">
    <ul>
        <li><a class="collapsed selected" href="#">collapsed</a></li>
        <li><a class="expanded" href="#">expanded</a></li>
    </ul>
</nav>
{% endhighlight %}

        <div class="uikit-preview">
            
            <style>
                /* i had to add this to fix displaying in uikit. we should consider fixing it on prod */
                .question-list-layout {
                    position: static;
                    margin: 0;
                }
            </style>

            <nav class="question-list-layout">
                <ul>
                    <li><a class="collapsed selected" href="#">collapsed</a></li>
                    <li><a class="expanded" href="#">expanded</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>


<section class="uikit-section">
    <h2>Voting</h2>

    <section class="uikit-section" data-core>
        <h3>Question</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="votecell"> <!-- this used to be <TD> element -->
    <div class="vote">
        <input type="hidden" name="_id_" value="620993">
        <a class="vote-up-off" title="This question shows research effort; it is useful and clear">up vote</a>
        <span itemprop="upvoteCount" class="vote-count-post " title="View upvote and downvote totals" style="cursor: pointer;">25</span>
        <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
        <a class="star-off" href="#" title="Click to mark as favorite question (click again to undo)">favorite</a>
        <div class="favoritecount"><b>7</b></div>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="votecell"> <!-- this used to be <TD> element -->
                    <div class="vote">
                        <input type="hidden" name="_id_" value="620993">
                        <a class="vote-up-off" title="This question shows research effort; it is useful and clear">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post " title="View upvote and downvote totals" style="cursor: pointer;">25</span>
                        <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
                        <a class="star-off" href="#" title="Click to mark as favorite question (click again to undo)">favorite</a>
                        <div class="favoritecount"><b>7</b></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="uikit-section" data-core>
        <h3>Answer</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="votecell"> <!-- this used to be <TD> element -->
    <div class="vote">
        <input type="hidden" name="_id_" value="621003">
        <a class="vote-up-off" title="This answer is useful">up vote</a>
        <span itemprop="upvoteCount" class="vote-count-post " title="View upvote and downvote totals" style="cursor: pointer;">12</span>
        <a class="vote-down-off" title="This answer is not useful">down vote</a>
        <span class="vote-accepted-on load-accepted-answer-date" title="loading when this answer was accepted...">accepted</span>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="votecell"> <!-- this used to be <TD> element -->
                    <div class="vote">
                        <input type="hidden" name="_id_" value="621003">
                        <a class="vote-up-off" title="This answer is useful">up vote</a>
                        <span itemprop="upvoteCount" class="vote-count-post " title="View upvote and downvote totals" style="cursor: pointer;">12</span>
                        <a class="vote-down-off" title="This answer is not useful">down vote</a>
                        <span class="vote-accepted-on load-accepted-answer-date" title="loading when this answer was accepted...">accepted</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>