---
layout: default
title: Modals
description: Used to display information on top of the user's current view.
---
<section class="uikit-section" data-core>
    <h2 id="toc-default">Default</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="modal-overlay"></div>
<div class="modal auto-center">
    <div class="modal-close">&times;</div>
    <div class="modal-content">
        <div class="modal-header">Header</div>
        <p>content</p>
    </div>
    <div class="modal-footer">
        <div class="modal-ctas">
            <a href="#" class="btn-clear white">Cancel</a>
            <a href="#" class="btn">Button</a>
        </div>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview" data-minheight="300">
            <div class="modal-overlay" style="position: absolute;"></div>
            <div class="modal auto-center" style="position: absolute !important;">
                <div class="modal-close">&times;</div>
                <div class="modal-content">
                    <div class="modal-header">Header</div>
                    <p>content</p>
                </div>
                <div class="modal-footer">
                    <div class="modal-ctas">
                        <a href="#" class="btn-clear white">Cancel</a>
                        <a href="#" class="btn">Button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-upload">Upload</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="modal-overlay" style="position: absolute;"></div>
<div class="modal image-upload wmd-prompt-dialog auto-center" tabindex="-1" style="position: absolute !important; height: auto;">

    <form action="#" method="post" enctype="multipart/form-data">
        <div class="modal-close">×</div>

        <div class="modal-content">
            <input type="hidden" name="fkey" value="73c34fcc798723ac48f3cf79f7625288">
            <div class="modal-dropzone">
                <div class="modal-dropzone-default tab-page" style="display: block;">
                    <div class="modal-dropzone-img">
                        <input class="modal-input-file user-input" type="file" name="file" accept="image/*" value="">
                    </div>
                    <p><b>Drag and drop or click here</b> to upload your image (max 2 MiB)</p>
                </div>
                <div class="modal-dropzone-preview tab-page" style="display: none;"></div>
            </div>
            <div class="modal-options">
                <div class="modal-options-default tab-page" style="display: block;">
                    You can also provide a <a href="#">link from the web</a>.
                </div>
                <div class="modal-options-url tab-page" style="display: none;">
                    Link from the web
                    <input class="modal-input-url user-input" type="text" name="upload-url" placeholder="http://example.com/image.png" value="">
                    <span class="modal-options-separator">|</span>
                    <a class="modal-options-cancel" href="#">Cancel</a>
                </div>
                <div class="modal-options-preview tab-page" style="display: none;">
                    <a class="modal-options-cancel" href="#">Cancel and add another image</a>
                </div>
                <div class="modal-options-uploading tab-page" style="display: none;">
                    <p>Uploading<img class="ajax-loader" src="/content/img/progress-dots.gif" title="loading..." alt="loading..."></p>
                </div>
                <div class="modal-options-error tab-page" style="display: none;">
                    <span class="modal-options-error-message"></span>
                    <span class="modal-options-separator">|</span>
                    <a class="modal-options-cancel" href="#">Close</a>
                </div>
                <div class="modal-options-toobig tab-page" style="display: none;">
                    <span class="modal-options-error-message">Your image is too large to upload (over 2 MiB)</span>
                    <span class="modal-options-separator">|</span>
                    <a class="modal-options-cancel" href="#">Cancel</a>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <p class="modal-notice">
                Powered by <a class="icon-imgur-white" href="https://imgur.com/"></a>
                User contributions licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">cc by-sa 3.0 with attribution required</a> <a href="http://stackexchange.com/legal/content-policy/">(content policy)</a>
            </p>

            <div class="modal-cta">
                <input type="submit" class="modal-cta-submit btn" value="Add picture" disabled="">
            </div>
        </div>
    </form>

    <iframe style="display: none;" src="about:blank" id="upload-iframe-1473423622258" name="upload-iframe-1473423622258"></iframe>
</div>
{% endhighlight %}

        <div class="uikit-preview" data-minheight="500">
            <div class="modal-overlay" style="position: absolute;"></div>
            <div class="modal image-upload wmd-prompt-dialog auto-center" tabindex="-1" style="position: absolute !important; height: auto;">

                <form action="#" method="post" enctype="multipart/form-data">
                    <div class="modal-close">×</div>

                    <div class="modal-content">
                        <input type="hidden" name="fkey" value="73c34fcc798723ac48f3cf79f7625288">
                        <div class="modal-dropzone">
                            <div class="modal-dropzone-default tab-page" style="display: block;">
                                <div class="modal-dropzone-img">
                                    <input class="modal-input-file user-input" type="file" name="file" accept="image/*" value="">
                                </div>
                                <p><b>Drag and drop or click here</b> to upload your image (max 2 MiB)</p>
                            </div>
                            <div class="modal-dropzone-preview tab-page" style="display: none;"></div>
                        </div>
                        <div class="modal-options">
                            <div class="modal-options-default tab-page" style="display: block;">
                                You can also provide a <a href="#">link from the web</a>.
                            </div>
                            <div class="modal-options-url tab-page" style="display: none;">
                                Link from the web
                                <input class="modal-input-url user-input" type="text" name="upload-url" placeholder="http://example.com/image.png" value="">
                                <span class="modal-options-separator">|</span>
                                <a class="modal-options-cancel" href="#">Cancel</a>
                            </div>
                            <div class="modal-options-preview tab-page" style="display: none;">
                                <a class="modal-options-cancel" href="#">Cancel and add another image</a>
                            </div>
                            <div class="modal-options-uploading tab-page" style="display: none;">
                                <p>Uploading<img class="ajax-loader" src="/content/img/progress-dots.gif" title="loading..." alt="loading..."></p>
                            </div>
                            <div class="modal-options-error tab-page" style="display: none;">
                                <span class="modal-options-error-message"></span>
                                <span class="modal-options-separator">|</span>
                                <a class="modal-options-cancel" href="#">Close</a>
                            </div>
                            <div class="modal-options-toobig tab-page" style="display: none;">
                                <span class="modal-options-error-message">Your image is too large to upload (over 2 MiB)</span>
                                <span class="modal-options-separator">|</span>
                                <a class="modal-options-cancel" href="#">Cancel</a>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <p class="modal-notice">
                            Powered by <a class="icon-imgur-white" href="https://imgur.com/"></a>
                            User contributions licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/">cc by-sa 3.0 with attribution required</a> <a href="http://stackexchange.com/legal/content-policy/">(content policy)</a>
                        </p>

                        <div class="modal-cta">
                            <input type="submit" class="modal-cta-submit btn" value="Add picture" disabled="">
                        </div>
                    </div>
                </form>

                <iframe style="display: none;" src="about:blank" id="upload-iframe-1473423622258" name="upload-iframe-1473423622258"></iframe>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-careers-modal">Generic Upload</h2>
    <p>Careers uses this modal. It's a third-party JS extension.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
To be added
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/modal-careers.png" />
        </div>
    </div>
</section>