---
layout: default
title: Navigation
description: A list of links that either take the user to another page or a section of the current page.
---

<section class="uikit-section" data-core>
    <h2 id="toc-q-a-site-navigation">Global Navigation</h2>
    <p>A list of links that allows the user to easily find different products and areas of the website. Talent uses a similar visual style, but it's constructed differently.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="hmenus">
    <div class="nav mainnavs">
        <ul>
            <li class="youarehere"><a href="#">Menu 1</a></li>
            <li><a href="#">Menu 2</a></li>
            <li><a href="#">Menu 3</a></li>
            <li><a href="#">Menu 4</a></li>
            <li><a href="#">Menu 5</a></li>
        </ul>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview" data-minheight="100">
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul>
                        <li class="youarehere"><a href="#">Menu 1</a></li>
                        <li><a href="#">Menu 2</a></li>
                        <li><a href="#">Menu 3</a></li>
                        <li><a href="#">Menu 4</a></li>
                        <li><a href="#">Menu 5</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-side-navigation">Vertical: User Settings</h2>

    <section class="uikit-section">
        <h3 id="toc-profile">Profile</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="side-menu" style="width: 220px;"><!-- style attribute is only for presentation purpose -->
    <ul>
        <li class="category">
            Category name 1
            <ul>
                <li><a href="#">Sample link</a></li>
                <li class="external"><a href="#">External sample link</a></li>
            </ul>
        </li>
        <li class="category">
            Another category
            <ul>
                <li><a href="#">Example link</a></li>
                <li><a href="#">Another one</a></li>
                <li><a href="#" class="youarehere">Current location</a></li>
                <li><a href="#">Last one</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="side-menu" style="width: 220px;"><!-- style attribute is only for presentation purpose -->
                    <ul>
                        <li class="category">
                            Category name 1
                            <ul>
                                <li><a href="#">Sample link</a></li>
                                <li class="external"><a href="#">External sample link</a></li>
                            </ul>
                        </li>
                        <li class="category">
                            Another category
                            <ul>
                                <li><a href="#">Example link</a></li>
                                <li><a href="#">Another one</a></li>
                                <li><a href="#" class="youarehere">Current location</a></li>
                                <li><a href="#">Last one</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>


<section class="uikit-section" data-core-careers>
    <h2>Vertical: Messages</h2>
    <link href="//cdn.sstatic.net/careers/less/views/messaging.min.css?v=7021b5b64738" rel="stylesheet" type="text/css">
    <div class="uikit-code uikit-has-preview">
        
{% highlight html linenos %}
<nav class="nav-left-col ng-scope digit1">
    <div class="ng-scope">
        <a href="#" class="ng-binding is-active">
            Inbox
        </a>
        <nav class="nav-nested ng-scope">
            <a href="#" class="ng-binding ng-scope">Applications</a>
            ...
        </nav>
    </div>
    <div class="ng-scope">
        <a href="#" class="ng-binding">Sent</a>
    </div>
    ...
</nav>
{% endhighlight %}

        <div class="uikit-preview">
            <div style="width: 265px"><!-- / limiting area -->
                <nav class="nav-left-col ng-scope digit1">
                    <div class="ng-scope">
                        <a href="#" class="ng-binding is-active">
                            Inbox
                        </a>
                        <nav class="nav-nested ng-scope">
                            <a href="#" class="ng-binding ng-scope">Applications</a>
                            <a href="#" class="ng-binding ng-scope">Messages</a>
                            <a href="#" class="ng-binding ng-scope">Questions</a>
                        </nav>
                    </div>
                    <div class="ng-scope">
                        <a href="#" class="ng-binding">Sent</a>
                    </div>
                    <div class="ng-scope">
                        <a href="#" class="ng-binding">Archived</a>
                    </div>
                    <div class="ng-scope">
                        <a href="#" class="ng-binding">Blocked employers</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-sidebar-candidates">Vertical: Candidate Search</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<ul class="sidebarNav">
    <li>
        <span class="icon-sidebar -ui-search-small"></span>
        <a class="_selected " href="" data-tab-type="2">Search</a>
    </li>
    <li>
        <span class="icon-sidebar -ui-saved"></span>
        <a href="">Saved Candidates</a>
    </li>
    <li>
        <span class="icon-sidebar -ui-applications"></span>
        <a href="" data-tab-type="1">Applications</a>
    </li>
    <li>
        <span class="icon-sidebar -ui-recommendations"></span>
        <a href="" data-tab-type="3">Recommendations</a>
    </li>
</ul>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/navigation-vertical-candidate-search.png" />
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>