---
layout: default
title: Notifications
description: Notifications call out important information to users. They should be terse, informative, and actionable. Their default behavior should be to make them dismissible.
---

<section class="uikit-section" data-core>
    <h2 id="toc-notifications-style-1">Messages</h2>
    <p>These notifications are used within a page's content. This is used mainly within Developer Story and Jobs currently.</p>
    <section class="uikit-section">
        <h3 id="toc-inline">Styles</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="message regular">This is a "regular" style.</div>
<div class="message error">This is an error style to inform the user about something that's wrong.</div>
<div class="message success">This is a success style to inform the user about something that was successful.</div>
<div class="message incomplete">This is an incomplete style to inform the user that they need to complete something.</div>
<div class="message gray">This is a "gray" style.</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="message regular">This is a "regular" style.</div><br/>
                <div class="message error">This is an error style to inform the user about something that's wrong.</div><br/>
                <div class="message success">This is a success style to inform the user about something that was successful.</div><br/>
                <div class="message incomplete">This is an incomplete style to inform the user that they need to complete something.</div><br/>
                <div class="message gray">This is a "gray" style.</div>
            </div>
        </div>
    </section>

    <section class="uikit-section">
        <h3 id="toc-full-width">Layout Options</h2>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="message regular">Normal, Inline Style</div>
<div class="message regular centered-block">Full-width, Block Style</div>
<div class="message regular centered-block text-centered">Full-width, Block Style with Centered Text</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="message regular">Normal, Inline Style</div>
                <div class="message regular centered-block">Full-width, Block Style</div>
                <div class="message regular centered-block text-centered">Full-width, Block Style with Centered Text</div>
            </div>
        </div>
    </section>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-notifications-style-2">Banners</h2>
    <p>Inline banners are inserted with the user's area of focuse to convey pertinent information to the actions they have taken, need to take, or are about to take.</p>

    <section class="uikit-section">
        <h3 id="toc-info">Informative</h3>
        <p>This style is used to communicate actionable information to the user. These are typically shown to inform about actions that need to be taken.</p>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="val-message val-info">
    <p>You need to be logged in to view this page.</p>
    <p class="val-textemphasis"><a href="#">Log in now</a></p>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="val-message val-info">
                    <p>You need to be logged in to view this page.</p>
                    <p class="val-textemphasis"><a href="#">Log in now</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="uikit-section">
        <h3 id="toc-success">Success</h3>
        <p>This style is to be used only when we need to assure the user the action(s) they took were successful. </p>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="val-message val-success">
    <span class="vote-accepted-on" title="success"></span>
    <p>Your account was successfully created.</p>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="val-message val-success">
                    <span class="vote-accepted-on" title="success"></span>
                    <p>Your account was successfully created.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="uikit-section">
        <h3 id="toc-error">Error</h3>
        <p>This style is to inform the user that an error happened. Errors could be user-generated (incorrect data, missing fields, etc.) or system-generated. If the errors are user-generated, provide a clear set of instructions that helps the user properly address the issue. Vague error messages help no one.</p>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="val-message val-error">
    <p>You did not provide a valid email address. Please re-enter your email address.</p>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="val-message val-error">
                    <p>You did not provide a valid email address. Please re-enter your email address.</p>
                </div>
            </div>
        </div>
    </section>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-system-alert">System alert</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
 <div class="module system-alert">
    <p>You are not <a href="#">logged in</a>. Your edit will be placed in a queue until it is <a href="#">peer reviewed</a>.</p>
    <p>We welcome all constructive edits, but please make them substantial. Avoid trivial edits unless absolutely necessary.</p>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="module system-alert" style="width:660px;">
                <p>You are not <a href="#">logged in</a>. Your edit will be placed in a queue until it is <a href="#">peer reviewed</a>.</p>
                <p>We welcome all constructive edits, but please make them substantial. Avoid trivial edits unless absolutely necessary.</p>
           </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-toast">Banners</h2>
    <p>Used primarily in Jobs right now.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="jobs-banner">
    ...
    <div class="dismiss">...</div>
</div>
<div class="jobs-banner success">
    ...
    <div class="dismiss">...</div>
</div>
<div class="jobs-banner warning">
    ...
    <div class="dismiss">...</div>
</div>
<div class="jobs-banner error">
    ...
    <div class="dismiss">...</div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/notices-banners.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-core-careers>
    <h2 id="toc-toast">Toast Notifications</h2>
    <p>Toasts are used either to quickly alert a user about an action's status that they just took or to inform the user about new items that are available. They are ephemeral, lasting only long enough for the user to read them. Copy should be kept extremely short (1-2 sentences at the most) and easily understood.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="animated-flash-message">
    <div class="flash-content">...</div>
    <div class="flash-dismiss">...</div>
</div>
<div class="animated-flash-message success">
    <div class="flash-content">...</div>
    <div class="flash-dismiss">...</div>
</div>
<div class="animated-flash-message warning">
    <div class="flash-content">...</div>
    <div class="flash-dismiss">...</div>
</div>
<div class="animated-flash-message error">
    <div class="flash-content">...</div>
    <div class="flash-dismiss">...</div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/notices-toast.png" />
        </div>
    </div>
</section>

<section id="notice-base" class="uikit-section" data-careers>
    <h2 id="toc-notices-careers-default">Banners</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="notice -row">
    <p class="_muted"><em>You currently don't have any messages.</em></p>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/notices-base.png" />
        </div>
    </div>

    <h2 id="toc-notices-careers-styles">Variations</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="notice -info">
    ...
</div>
<div class="notice -warning">
    ...
</div>
<div class="notice -success">
    ...
</div>
<div class="notice -danger">
    ...
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/notices-variations.png" />
        </div>
    </div>
</section>