---
layout: default
title: Pagination
description: Component which allows a user to quickly jump forward or backward within a result set.
---

<section class="uikit-section">
    <h2 id="toc-pagination">Pagination</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="pager">
    <span class="page-numbers current">1</span>
    <a href="#"><span class="page-numbers">2</span></a>
    <a href="#"><span class="page-numbers">3</span></a>
    <a href="#"><span class="page-numbers">4</span></a>
    <a href="#"><span class="page-numbers next"> next</span></a>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="pager">
                <span class="page-numbers current">1</span>
                <a href="#"><span class="page-numbers">2</span></a>
                <a href="#"><span class="page-numbers">3</span></a>
                <a href="#"><span class="page-numbers">4</span></a>
                <a href="#"><span class="page-numbers next"> next</span></a>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section">
    <h2 id="toc-results-per-page">Results per page</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="page-sizer">
    <a href="#" title="show 15 items per page" class="page-numbers current">15</a>
    <a href="#" title="show 30 items per page" class="page-numbers ">30</a>
    <a href="#" title="show 50 items per page" class="page-numbers ">50</a>
    <span class="page-numbers desc">per page</span>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="page-sizer">
                <a href="#" title="show 15 items per page" class="page-numbers current">15</a>
                <a href="#" title="show 30 items per page" class="page-numbers ">30</a>
                <a href="#" title="show 50 items per page" class="page-numbers ">50</a>
                <span class="page-numbers desc">per page</span>
            </div>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>