---
layout: default
title: Popouts
description: Component used to provide additional information to user. This summary information should be terse, focused, and give allow the user to make a confident decision if the information deserves further investigation.
---

<section class="uikit-section">
    <h2>Generic</h2>
    <p>Used primarily within the profile.</p>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="message message-config" style="width: 250px; display: block;"> <!-- "display: block" doesn't have to be there if popover should be initially hidden -->
    <div class="message-inner message-tip message-tip-top-left">
        <div class="message-close">×</div>

        <div class="message-text">
            <h4 class="popup-title">Suspendisse augue nunc</h4>

            <div class="popup-white">
                <p>Maecenas cursus lacus eu sapien varius consectetur. Morbi cursus massa nec.</p>

                <div class="actions">
                    <a href="#" class="button">Call to action</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="message message-config" style="width: 250px; display: block;">
                <div class="message-inner message-tip message-tip-top-left">
                    <div class="message-close">×</div>

                    <div class="message-text">
                        <h4 class="popup-title">Suspendisse augue nunc</h4>

                        <div class="popup-white">
                            <p>Maecenas cursus lacus eu sapien varius consectetur. Morbi cursus massa nec.</p>

                            <div class="actions">
                                <a href="#" class="button">Call to action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section" data-core>
    <h2>User Bio</h2>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div style="overflow: hidden; z-index: 1002; width: 330px; height: 185px;">
    <div id="user-menu">
        <div class="um-header">
            <div class="um-gravatar">
                <a href="#"><div class="gravatar-wrapper-64"><img src="https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=64&amp;d=identicon&amp;r=PG" alt="" width="64" height="64" style="width: 64px; height: 64px; visibility: visible;"></div></a>
            </div>
            <div class="um-header-info">
                <a href="#" class="um-user-link">Jon Skeet</a><br>
                <div class="um-flair">
                    <span class="reputation-score" title="reputation score 892,332" dir="ltr">892k</span>
                    <span title="482 gold badges"><span class="badge1"></span><span class="badgecount">482</span></span>
                    <span title="6458 silver badges"><span class="badge2"></span><span class="badgecount">6458</span></span>
                    <span title="7414 bronze badges"><span class="badge3"></span><span class="badgecount">7414</span></span>
                </div>
                Reading, United Kingdom<br>
                <a href="#" rel="nofollow">csharpindepth.com</a><br>
            </div>
            <div class="um-about-me"> 
                ...
            </div>
        </div>

        <span class="um-links">
            <a href="#" rel="nofollow">my blog post on...</a> 
        </span>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div style="overflow: hidden; z-index: 1002; width: 330px; height: 185px;"> <!-- usually there is position absolute applied inline -->
                <div id="user-menu">
                    <div class="um-header">
                        <div class="um-gravatar">
                            <a href="#"><div class="gravatar-wrapper-64"><img src="https://www.gravatar.com/avatar/6d8ebb117e8d83d74ea95fbdd0f87e13?s=64&amp;d=identicon&amp;r=PG" alt="" width="64" height="64" style="width: 64px; height: 64px; visibility: visible;"></div></a>
                        </div>
                        <div class="um-header-info">
                            <a href="#" class="um-user-link">Jon Skeet</a><br>
                            <div class="um-flair">
                                <span class="reputation-score" title="reputation score 892,332" dir="ltr">892k</span>
                                <span title="482 gold badges"><span class="badge1"></span><span class="badgecount">482</span></span>
                                <span title="6458 silver badges"><span class="badge2"></span><span class="badgecount">6458</span></span>
                                <span title="7414 bronze badges"><span class="badge3"></span><span class="badgecount">7414</span></span>
                            </div>
                            Reading, United Kingdom<br>
                            <a href="#" rel="nofollow">csharpindepth.com</a><br>
                        </div>
                        <div class="um-about-me"> 
                            Author of <a href="#" rel="nofollow">C# in Depth</a>.<br>
                            Currently a software engineer at Google, London.<br>
                            Usually a Microsoft MVP (C#, 2003-2010, 2011-)
                            <br>Sites: <a href="#" rel="nofollow">C# in Depth</a> <a href="#" rel="nofollow">Coding blog</a> <a href="#" rel="nofollow">C# articles</a> <a href="#" rel="nofollow">Twitter updates (@jonskeet)</a> <a href="#" rel="nofollow">Google+ profile</a>
                        </div>
                    </div>

                    <span class="um-links">
                        <a href="#" rel="nofollow">my blog post on...</a> 
                    </span>
                </div>
            </div>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section" data-core>
    <h2>Tags</h2>

    <div class="uikit-code uikit-has-preview">
        
{% highlight html linenos %}
<div style="overflow: hidden; z-index: 1002; width: 350px; height: 165px;">
    <div id="tag-menu">
        <div>
            <div class="tm-heading">
                <span class="tm-sub-info">
                    <a title="toggle this tag between favorite, ignored, and normal" class="tm-favorite-clear">★</a>
                    <span title="170044">170k</span> followers,
                    <span title="889943">889.9k</span> questions
                    <span class="tm-sub-links" style="float:right;">
                        <a class="tm-se-subscription" title="subscribe for email notifications on this tag">subscribe</a>
                        <span style="color:#727272;">|</span>
                        <a href="#" title="add this tag to your rss reader">rss</a>
                    </span>
                </span>
            </div>
            <div class="tm-description">Android, used for programming...</div>
        </div>
        <span class="tm-links">
            <a href="#">frequent</a> 
            <a href="#">info</a> 
            <a href="#">top users</a>
            <a href="#">jobs</a>
        </span>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div style="overflow: hidden; z-index: 1002; width: 350px; height: 165px;"><!-- i had to remove position absolute there as well -->
                <div id="tag-menu">
                    <div>
                        <div class="tm-heading">
                            <span class="tm-sub-info">
                                <a title="toggle this tag between favorite, ignored, and normal" class="tm-favorite-clear">★</a>
                                <span title="170044">170k</span> followers,
                                <span title="889943">889.9k</span> questions
                                <span class="tm-sub-links" style="float:right;">
                                    <a class="tm-se-subscription" title="subscribe for email notifications on this tag">subscribe</a>
                                    <span style="color:#727272;">|</span>
                                    <a href="#" title="add this tag to your rss reader">rss</a>
                                </span>
                            </span>
                        </div>
                        <div class="tm-description">Android, used for programming or developing digital devices (Smartphones, Tablets, Autos, TVs, Wear, Glass), is Google's mobile OS. Please use Android-specific tags such as android-intent, not intent, android-activity, not activity, android-adapter, not adapter etc.. For questions about general use, not development or programming, use http://android.stackexchange.com.</div>
                    </div>
                    <span class="tm-links">
                        <a href="#">frequent</a> 
                        <a href="#">info</a> 
                        <a href="#">top users</a>
                        <a href="#">jobs</a>
                    </span>
                </div>
            </div>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section><!-- / uikit-section -->




<section class="uikit-section" data-careers>
    <h2>User Bio</h2>
    <p>Used only on Company Pages.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="company-page">
    <div class="team-members">
        <div class="member">
            <img alt="gravatar" class="gravatar " height="76" src="https://www.gravatar.com/avatar/3c7db1077ce759e22c54d235054182dc?s=76&amp;r=PG&amp;d=https://i.stack.imgur.com/T119o.png" width="76">
            <div class="info">
                <span class="name">Jeffrey Szczepanski</span>
                <span> - Chief Operating Officer</span><br>
                <span class="post-tag no-tag-menu">c</span> <span class="post-tag no-tag-menu">kernel</span> <span class="post-tag no-tag-menu">embedded</span> <span class="post-tag no-tag-menu">startups</span>
                    <br>
                    <a class="profile-link" href="#">view CV</a>
            </div>
        </div>  
    </div>
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <img src="http://i.imgur.com/K6x18HQ.png" alt="">
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section><!-- / uikit-section -->


<section class="uikit-section">
    <h2>Review Tools</h2>

    <div class="uikit-code uikit-has-preview">
        
{% highlight html linenos %}
<div style="overflow: hidden; z-index: 1002; width: 350px; height: 262px;">
    <div id="badge-progress-menu">
        <div>
            <div class="tm-heading">
                <span class="tm-sub-info">Badge Progress</span>
            </div>
            <table style="width: 320px;">
                <tbody>
                    <tr>
                        <td>0</td>
                        <td style="height:20px;">
                            <div style="width:100px; height: 7px; border: 0;" class="meter">
                            <div style="width: 1%;"></div>
                            </div>
                        </td>
                        <td style="width: 55px;">1</td>
                        <td style="padding-top: 5px;"><a href="#" title="bronze badge: Complete at least one review task. This badge is awarded once per review type" class="badge"><span class="badge3"></span>&nbsp;Custodian</a></td>
                    </tr> 
                    <tr>
                        <td colspan="4" style="padding-top: 5px;padding-top: 10px;padding-bottom: 10px;border-bottom: 1px solid #727272;">Review badges are awarded once per review queue.</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td style="height:20px;">
                            <div style="width:100px; height: 7px; border: 0;" class="meter">
                                <div style="width: 4.66666666666667%;"></div>
                            </div>
                        </td>
                        <td style="width: 55px;">300</td>
                        <td style="padding-top: 5px;"><a href="#" title="silver badge: Vote 300 or more times" class="badge"><span class="badge2"></span>&nbsp;Civic Duty</a></td>
                    </tr>
                    ...
                    <tr>
                        <td colspan="4" style="padding-top: 5px;padding-bottom: 5px;">These badges can only be earned once.</td>
                    </tr>
                </tbody>
            </table>       
        </div>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div style="overflow: hidden; z-index: 1002; width: 350px; height: 262px;">
                <div id="badge-progress-menu">
                    <div>
                        <div class="tm-heading">
                            <span class="tm-sub-info">Badge Progress</span>
                        </div>
                        <table style="width: 320px;">
                            <tbody>
                                <tr>
                                    <td>0</td>
                                    <td style="height:20px;">
                                        <div style="width:100px; height: 7px; border: 0;" class="meter">
                                        <div style="width: 1%;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 55px;">1</td>
                                    <td style="padding-top: 5px;"><a href="#" title="bronze badge: Complete at least one review task. This badge is awarded once per review type" class="badge"><span class="badge3"></span>&nbsp;Custodian</a></td>
                                </tr> 
                                <tr>
                                    <td colspan="4" style="padding-top: 5px;padding-top: 10px;padding-bottom: 10px;border-bottom: 1px solid #727272;">Review badges are awarded once per review queue.</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td style="height:20px;">
                                        <div style="width:100px; height: 7px; border: 0;" class="meter">
                                            <div style="width: 4.66666666666667%;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 55px;">300</td>
                                    <td style="padding-top: 5px;"><a href="#" title="silver badge: Vote 300 or more times" class="badge"><span class="badge2"></span>&nbsp;Civic Duty</a></td>
                                </tr>
                                <tr>
                                    <td>0</td>
                                    <td style="height:20px;">
                                        <div style="width:100px; height: 7px; border: 0;" class="meter">
                                            <div style="width: 1%;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 55px;">500</td>
                                    <td style="padding-top: 5px;"><a href="#" title="gold badge: Edit 500 posts (excluding own or deleted posts and tag edits)" class="badge"><span class="badge1"></span>&nbsp;Copy Editor</a></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td style="height:20px;">
                                        <div style="width:100px; height: 7px; border: 0;" class="meter">
                                            <div style="width: 1%;"></div>
                                        </div>
                                    </td>
                                    <td style="width: 55px;">600</td>
                                    <td style="padding-top: 5px;"><a href="#" title="gold badge: Vote on 600 questions and 25% or more of total votes are on questions" class="badge"><span class="badge1"></span>&nbsp;Electorate</a></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="padding-top: 5px;padding-bottom: 5px;">These badges can only be earned once.</td>
                                </tr>
                            </tbody>
                        </table>       
                    </div>
                </div>
            </div>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section><!--  uikit-section -->