---
layout: default
title: Reporting
description: Visual components to report and chart on data.
---

<section class="uikit-section" data-core>
    <h2>Bar Chart</h2>
    <p>Used only for the reputation graph on a user's activity view.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="user-rep-chart-summary">
    <div class="user-rep-chart-summary-tooltip" title="Thursday, Aug 11, 2016: 170 reputation"><div class="user-rep-chart-summary-bar" style="height: 79.06977%"></div></div>
    <div class="user-rep-chart-summary-tooltip" title="Friday, Aug 12, 2016: 150 reputation"><div class="user-rep-chart-summary-bar" style="height: 69.76744%"></div></div>
    ...
</div>
{% endhighlight %}
        <div class="uikit-preview">
            <div class="user-show-new" style="width:515px;">
                <div class="user-rep-chart-summary">
                    <div class="user-rep-chart-summary-tooltip" title="Thursday, Aug 11, 2016: 170 reputation"><div class="user-rep-chart-summary-bar" style="height: 79.06977%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Friday, Aug 12, 2016: 150 reputation"><div class="user-rep-chart-summary-bar" style="height: 69.76744%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Saturday, Aug 13, 2016: 70 reputation"><div class="user-rep-chart-summary-bar" style="height: 32.55814%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Sunday, Aug 14, 2016: 60 reputation"><div class="user-rep-chart-summary-bar" style="height: 27.90698%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Monday, Aug 15, 2016: 175 reputation"><div class="user-rep-chart-summary-bar" style="height: 81.39535%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Tuesday, Aug 16, 2016: 170 reputation"><div class="user-rep-chart-summary-bar" style="height: 79.06977%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Wednesday, Aug 17, 2016: 80 reputation"><div class="user-rep-chart-summary-bar" style="height: 37.2093%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Thursday, Aug 18, 2016: 185 reputation"><div class="user-rep-chart-summary-bar" style="height: 86.04651%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Friday, Aug 19, 2016: 113 reputation"><div class="user-rep-chart-summary-bar" style="height: 52.55814%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Saturday, Aug 20, 2016: 80 reputation"><div class="user-rep-chart-summary-bar" style="height: 37.2093%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Sunday, Aug 21, 2016: 60 reputation"><div class="user-rep-chart-summary-bar" style="height: 27.90698%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Monday, Aug 22, 2016: 120 reputation"><div class="user-rep-chart-summary-bar" style="height: 55.81396%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Tuesday, Aug 23, 2016: 188 reputation"><div class="user-rep-chart-summary-bar" style="height: 87.44186%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Wednesday, Aug 24, 2016: 215 reputation"><div class="user-rep-chart-summary-bar" style="height: 100%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Thursday, Aug 25, 2016: 200 reputation"><div class="user-rep-chart-summary-bar" style="height: 93.02326%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Friday, Aug 26, 2016: 160 reputation"><div class="user-rep-chart-summary-bar" style="height: 74.4186%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Saturday, Aug 27, 2016: 30 reputation"><div class="user-rep-chart-summary-bar" style="height: 13.95349%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Sunday, Aug 28, 2016: 50 reputation"><div class="user-rep-chart-summary-bar" style="height: 23.25582%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Monday, Aug 29, 2016: 168 reputation"><div class="user-rep-chart-summary-bar" style="height: 78.13953%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Tuesday, Aug 30, 2016: 200 reputation"><div class="user-rep-chart-summary-bar" style="height: 93.02326%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Wednesday, Aug 31, 2016: 200 reputation"><div class="user-rep-chart-summary-bar" style="height: 93.02326%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Thursday, Sep 1, 2016: 200 reputation"><div class="user-rep-chart-summary-bar" style="height: 93.02326%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Friday, Sep 2, 2016: 170 reputation"><div class="user-rep-chart-summary-bar" style="height: 79.06977%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Saturday, Sep 3, 2016: 80 reputation"><div class="user-rep-chart-summary-bar" style="height: 37.2093%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Sunday, Sep 4, 2016: 98 reputation"><div class="user-rep-chart-summary-bar" style="height: 45.58139%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Monday, Sep 5, 2016: 130 reputation"><div class="user-rep-chart-summary-bar" style="height: 60.46511%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Tuesday, Sep 6, 2016: 200 reputation"><div class="user-rep-chart-summary-bar" style="height: 93.02326%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Wednesday, Sep 7, 2016: 170 reputation"><div class="user-rep-chart-summary-bar" style="height: 79.06977%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Thursday, Sep 8, 2016: 200 reputation"><div class="user-rep-chart-summary-bar" style="height: 93.02326%"></div></div>
                    <div class="user-rep-chart-summary-tooltip" title="Friday, Sep 9, 2016: 100 reputation"><div class="user-rep-chart-summary-bar" style="height: 46.51163%"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section">
    <h2>Progress Bars</h2>
    <p>Used to help a user quickly understand how far they are from completing a goal.</p>
    <section class="uikit-section" data-core>
        <h3>Profile</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="progress-bar-regular">
    <div class="label">label</div>
    <div class="bar">
        <div class="percent" style="width:50%;"></div>
    </div>
</div>

<div class="progress-bar green">
    <div class="bar">
        <div class="label">
            <i class="icon icon-milestone" title="Milestone"></i>See votes, expandable usercard
        </div>
        <div class="percent" style="width: 56%;"></div>
    </div>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <div class="progress-bar-regular">
                    <div class="label">label</div>
                    <div class="bar">
                        <div class="percent" style="width:50%;"></div>
                    </div>
                </div>

                <div class="progress-bar green" style="width:600px;">
                    <div class="bar">
                        <div class="label">
                            <i class="icon icon-milestone" title="Milestone"></i>See votes, expandable usercard
                        </div>
                        <div class="percent" style="width: 56%;top:0;left:0;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="uikit-section" data-careers>
        <h3>CV</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="completion">
    <div class="-row">
        <div class="-col9" data-complete="75">Completion Score</div>
        <div class="-col3 _textRight"><strong>75%</strong>
        </div>
    </div>
    <div class="progress-container _textRight">
        <div class="progress-bar" style="width: 75%; background-color: #02C567;"></div>
    </div>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <img src="{{ site.baseurl }}/{{ site.stickers }}/reporting-progress-cv.png" />
            </div>
        </div>
    </section>
</section>

<section class="uikit-section">
    <h2>Stat Summaries</h2>
    <p>Components that summarize key performance numbers for users.</p>
    <section class="uikit-section" data-careers>
        <h3>Large Numbers</h3>
        <p>Used primarily on overview pages within Talent.</p>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="stats">
    <div class="-row">
        <div class="-item _primary">
            <h2 class="-number">...</h2>
            <h3 class="-label">...</h3>
        </div>
        <div class="-item">
            <h2 class="-number">...</h2>
            <h3 class="-label">...</h3>
        </div>
    </div>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <img src="{{ site.baseurl }}/{{ site.stickers }}/reporting-stats.png" />
            </div>
        </div>
    </section>
    <section class="uikit-section" data-careers>
        <h3>Leaderboard</h3>
        <p>Used only within reporting views</p>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="leaderboard -col4">
    <div class="-item">
        <h2 class="-stat">18,285</h2>
        <h3 class="-label">Views</h3>
    </div>
    ...
    <div class="-item">
        <h2 class="-stat">2.77%</h2>
        <h3 class="-label">Applications + Outclicks CTR</h3>
    </div>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <img src="{{ site.baseurl }}/{{ site.stickers }}/reporting-leaderboard.png" />
            </div>
        </div>
    </section>
    <section class="uikit-section" data-core>
        <h3>Leaderboard, Moderator Tools</h3>
        <p>Used only within moderator review stats.</p>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="stats-mainbar">
    <table class="task-stat-table">
        <tbody>
            <tr>
                <td>
                    <a class="review-stats-count" href="/review/close">9,830</a>
                    <div>need review</div>
                </td>
                <td>
                    <div class="review-stats-count">1,304</div>
                    <div>reviews today</div>
                </td>
                <td>
                    <div class="review-stats-count">3,462,573</div>
                    <div>reviews all-time</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endhighlight %}
            <div class="uikit-preview">
                <div class="stats-mainbar">
                    <table class="task-stat-table">
                        <tbody>
                            <tr>
                                <td>
                                    <a class="review-stats-count" href="/review/close">9,830</a>
                                    <div>need review</div>
                                </td>
                                <td>
                                    <div class="review-stats-count">1,304</div>
                                    <div>reviews today</div>
                                </td>
                                <td>
                                    <div class="review-stats-count">3,462,573</div>
                                    <div>reviews all-time</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>

