---
layout: default
title: Sidebar modules (balpha's playground)
description: Modules for the sidebar. Duh.
---

<link rel="stylesheet/less" type="text/css" href="{{ site.baseurl }}/{{site.css}}/balpha.less">
<script>less.registerStylesheets()</script>
<section class="uikit-section" data-utopia>
    <h2 id="toc-sidebar-module">One level</h2>

    {% capture html %}
        <div style="width: 300px">
            <div class="sidebar-module">
                <div class="-title">
                    Filters
                </div>
                <div class="-section">
                    <h3>Some content</h3>
                    <ul>
                        <li>A list</li>
                        <li>of things</li>
                    </ul>
                </div>
                <div class="-section">
                    <h3>
                        More content
                    </h3>
                    <p>Read some text here, it is very informative!</p>
                </div>
            </div>
        </div>

    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-utopia>
    <h2 id="toc-sidebar-module">Minor titles</h2>

    {% capture html %}
        <div style="width: 300px">
            <div class="sidebar-module">
                <div class="-title">
                    Things you have
                </div>
                <div class="-title _minor">
                    <div>Books</div>
                    <div class="-action"><a href="#">browse on Amazon</a></div>
                </div>
                <div class="-section">
                    Serious books:
                    <ul>
                        <li>War and peace</li>
                        <li>A tale of two cities</li>
                    </ul>
                    Books for work:
                    <ul>
                        <li>JavaScript: The good parts</li>
                        <li>Don't make me think</li>
                    </ul>
                </div>
                <div class="-title _minor">
                    Music
                </div>
                <div class="-section">
                    CDs:
                    <ul>
                        <li>Best of David Hasselhoff</li>
                    </ul>
                    LPs:
                    <ul>
                        <li>Pink Floyd: The Wall</li>
                    </ul>
                </div>
            </div>
        </div>

    {% endcapture %}{% include example.html html=html %}
</section>

<section class="uikit-section" data-utopia>
    <h2 id="toc-sidebar-module">Multiple major titles</h2>

    {% capture html %}
        <div style="width: 300px">
            <div class="sidebar-module">
                <div class="-title">
                    Food
                </div>
                <div class="-section">
                    Meat:
                    <ul>
                        <li>bacon</li>
                        <li>pork chops</li>
                    </ul>
                </div>
                <div class="-section">
                    Vegetables:
                    <ul>
                        <li>broccoli</li>
                        <li>cucumber</li>
                    </ul>
                </div>
                <div class="-title">
                    <div>Drinks</div>
                    <div class="-action">collapse</div>
                </div>
                <div class="-section">
                    With alcohol:
                    <ul>
                        <li>beer</li>
                        <li>red wine</li>
                    </ul>
                </div>
                <div class="-section">
                    Alcohol-free:
                    <ul>
                        <li>Coke</li>
                        <li>Juice</li>
                    </ul>
                </div>
            </div>
        </div>

    {% endcapture %}{% include example.html html=html %}
</section>