---
layout: default
title: Tables
description: The base style has minimal styling applied to it. It establishes preferred padding, font-size, and font-weight treatments. To enhance the look of the table, apply any additional classes listed below within the Modifiers section.
---

<section class="uikit-section">
    <h2 id="toc-basic-tables">Basic table</h2>
    <p>Add <code>.table</code> to a table.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table">
    <thead>
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

        <div class="uikit-preview">
            <table class="table">
                <thead>
                    <td>Header 1</td>
                    <td>Header 2</td>
                    <td>Header 3</td>
                </thead>

                <tbody>
                    <tr>
                        <td>Body 1</td>
                        <td>Body 2</td>
                        <td>Body 3</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section">
    <h2 id="toc-modifiers">Modifiers</h2>

    <section class="uikit-section">
        <h3 id="toc-border">Borders</h3>
        <p>When tables have multiple columns, it is suggested to add row borders to help the user more easily track the table data. This is suggested for data tables such as found within reports.</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table _borders">
    <thead>
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

            <div class="uikit-preview">
                <table class="table _borders">
                    <thead>
                        <td>Header 1</td>
                        <td>Header 2</td>
                        <td>Header 3</td>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-hover-states">Hover states</h3>
        <p>When tables have multiple columns, add in a row hover can further help isolate the data for users. This is suggested for data tables such as found within reports.</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table _borders _hover">
    <thead>
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

            <div class="uikit-preview">
                <table class="table _borders _hover">
                    <thead>
                        <td>Header 1</td>
                        <td>Header 2</td>
                        <td>Header 3</td>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-condensed">Condensed</h3>
        <p>The condensed table does pretty much what it sounds like it would do: condenses the padding and line-height so that the table has a tighter feeling to it. This is suggested for data tables such as found within reports that have multiple records.</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table _borders _hover _condensed">
    <thead>
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

            <div class="uikit-preview">
                <table class="table _borders _hover _condensed">
                    <thead>
                        <td>Header 1</td>
                        <td>Header 2</td>
                        <td>Header 3</td>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-vertical-center">Vertical center</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table _borders _hover _verticalCenter">
    <thead>
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

            <div class="uikit-preview">
                <table class="table _borders _hover _verticalCenter">
                    <thead>
                        <td>Header 1</td>
                        <td>Header 2</td>
                        <td>Header 3</td>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-text-alignment">Text alignment</h3>
        <p>Available classes: <code>._textLeft</code>, <code>._textCenter</code>, <code>._textRight</code>.</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table _borders _hover _verticalCenter">
    <thead class="_textRight">
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr class="_textRight">
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
        <tr class="_textRight">
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

            <div class="uikit-preview">
                <table class="table _borders _hover _verticalCenter">
                    <thead class="_textRight">
                        <td>Header 1</td>
                        <td>Header 2</td>
                        <td>Header 3</td>
                    </thead>

                    <tbody>
                        <tr class="_textRight">
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                        <tr class="_textRight">
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-white-background">White background</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<table class="table _borders _hover _verticalCenter">
    <thead>
        <td>Header 1</td>
        <td>Header 2</td>
        <td>Header 3</td>
    </thead>

    <tbody>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
        <tr>
            <td>Body 1</td>
            <td>Body 2</td>
            <td>Body 3</td>
        </tr>
    </tbody>
</table>
{% endhighlight %}

            <div class="uikit-preview" style="background: #437dcc;">
                <table class="table _borders _hover _verticalCenter _whiteBg">
                    <thead>
                        <td>Header 1</td>
                        <td>Header 2</td>
                        <td>Header 3</td>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                        <tr>
                            <td>Body 1</td>
                            <td>Body 2</td>
                            <td>Body 3</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>

<section class="uikit-section">
    <h2 id="toc-selectable-items-in-a-table">Selectable items (in a table)</h2>
    <p>You don't need an actual table to use it.</p>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="item-select-table">
    <label class="item" for="item-1">
        <input id="item-1" type="checkbox"/>
        <div class="check"></div>
        item-1
    </label>
    <label class="item" for="item-2">
        <input id="item-2" type="checkbox"/>
        <div class="check"></div>
        item-2
    </label>
    <label class="item" for="item-3">
        <input id="item-3" type="checkbox"/>
        <div class="check"></div>
        item-3
    </label>
    <label class="item" for="item-4">
        <input id="item-4" type="checkbox"/>
        <div class="check"></div>
        item-4
    </label>
    <label class="item" for="item-5">
        <input id="item-5" type="checkbox"/>
        <div class="check"></div>
        item-5
    </label>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="item-select-table">
                <label class="item" for="item-1">
                    <input id="item-1" type="checkbox"/>
                    <div class="check"></div>
                    item-1
                </label>
                <label class="item" for="item-2">
                    <input id="item-2" type="checkbox"/>
                    <div class="check"></div>
                    item-2
                </label>
                <label class="item" for="item-3">
                    <input id="item-3" type="checkbox"/>
                    <div class="check"></div>
                    item-3
                </label>
                <label class="item" for="item-4">
                    <input id="item-4" type="checkbox"/>
                    <div class="check"></div>
                    item-4
                </label>
                <label class="item" for="item-5">
                    <input id="item-5" type="checkbox"/>
                    <div class="check"></div>
                    item-5
                </label>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->

    <section class="uikit-section">
        <h3 id="toc-using-3-columns">Using 3 columns</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="item-select-table columns-3">
    <label class="item" for="item-c-1">
        <input id="item-c-1" type="checkbox"/>
        <div class="check"></div>
        item-1
    </label>
    <label class="item" for="item-c-2">
        <input id="item-c-2" type="checkbox"/>
        <div class="check"></div>
        item-2
    </label>
    <label class="item" for="item-c-3">
        <input id="item-c-3" type="checkbox"/>
        <div class="check"></div>
        item-3
    </label>
    <label class="item" for="item-c-4">
        <input id="item-c-4" type="checkbox"/>
        <div class="check"></div>
        item-4
    </label>
    <label class="item" for="item-c-5">
        <input id="item-c-5" type="checkbox"/>
        <div class="check"></div>
        item-5
    </label>
    <label class="item" for="item-c-6">
        <input id="item-c-6" type="checkbox"/>
        <div class="check"></div>
        item-6
    </label>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="item-select-table columns-3">
                    <label class="item" for="item-c-1">
                        <input id="item-c-1" type="checkbox"/>
                        <div class="check"></div>
                        item-1
                    </label>
                    <label class="item" for="item-c-2">
                        <input id="item-c-2" type="checkbox"/>
                        <div class="check"></div>
                        item-2
                    </label>
                    <label class="item" for="item-c-3">
                        <input id="item-c-3" type="checkbox"/>
                        <div class="check"></div>
                        item-3
                    </label>
                    <label class="item" for="item-c-4">
                        <input id="item-c-4" type="checkbox"/>
                        <div class="check"></div>
                        item-4
                    </label>
                    <label class="item" for="item-c-5">
                        <input id="item-c-5" type="checkbox"/>
                        <div class="check"></div>
                        item-5
                    </label>
                    <label class="item" for="item-c-6">
                        <input id="item-c-6" type="checkbox"/>
                        <div class="check"></div>
                        item-6
                    </label>
                </div>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>