---
layout: default
title: Tabs
description: Tabs are a navigation compentent which focuses the user on a single container and hides related containers. These hidden containers can be accessed through the tab navigation. Tabs should be used to group similar data together.
---

<section class="uikit-section" data-core>
    <h2 id="toc-tabs">Tabs</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="subheader">
    <div class="tabs">
        <a href="#" class="youarehere">Profile</a>
        <a href="#">Activity</a>
        <a href="#">Developer Story</a>
        <a href="#">CV</a>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="subheader" style="box-sizing:content-box;">
                <div class="tabs">
                    <a href="#" class="youarehere">Profile</a>
                    <a href="#">Activity</a>
                    <a href="#">Developer Story</a>
                    <a href="#">CV</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-tabs">Tabs</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<ul class="tabNav">
    <li class="-tab _selected">
        <a href="#">Stack Overflow</a>
    </li>
    <li class="-tab">
        <a href="#">Server Fault</a>
    </li>
    <li class="-tab">
        <a href="#">Super User</a>
    </li>
</ul>
<div class="tabNav-borderBottom"></div>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/tabs.png" />
        </div>
    </div>
</section>

<section class="uikit-section" data-core>
    <h2 id="toc-sub-tabs">Filters</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="subtabs">
    <a href="#">all</a>
    <a href="#">year</a>
    <a href="#">quarter</a>
    <a href="#">month</a>
    <a class="youarehere" href="#">week</a>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="subtabs" style="float:left;width:auto;">
                <a href="#">all</a>
                <a href="#">year</a>
                <a href="#">quarter</a>
                <a href="#">month</a>
                <a class="youarehere" href="#">week</a>
            </div>
        </div>
    </div>
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-sub-tabs">Filters</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="navTools">
    <div class="-toggles">
        <a href="#">7d</a>
        <a href="#">30d</a>
        <a href="#">3m</a>
        <a href="#">6m</a>
        <a href="#">12m</a>
        <a class="-selected" href="#">Total</a>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <img src="{{ site.baseurl }}/{{ site.stickers }}/filters-reporting.png" />
        </div>
    </div>
</section>