---
layout: default
title: Tags
description: Element which a user can use to discover more or related information about the stated topic.
---
<section class="uikit-section">
    <h2 id="toc-styles-types">Styles / Types</h2>

    <section class="uikit-section" data-core-careers>
        <h3 id="toc-regular">Regular</h3>
        <p>This is regular and the most common post-tag. It is also base for other types of post tags.</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="#" class="post-tag">Regular tag example</a>
<a href="#" class="post-tag"><img src="//i.stack.imgur.com/EdUwb.png" height="16" width="18" alt="" class="sponsor-tag-img">google-chrome</a>
{% endhighlight %}
            <div class="uikit-preview">
                <a href="#" class="post-tag">Regular tag example</a>
                <a href="#" class="post-tag"><img src="//i.stack.imgur.com/EdUwb.png" height="16" width="18" alt="" class="sponsor-tag-img">google-chrome</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section" data-core>
        <h3 id="toc-disliked">Disliked</h3>
        <p>Purpose of disliked tags is exactly what you think it is. As an example, you can take a look at user's developer story, where are defined tags that user doesn't like (well, obviously...)</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="#" class="post-tag disliked-tag">Disliked tag example</a>
{% endhighlight %}
            <div class="uikit-preview">
                <a href="#" class="post-tag disliked-tag">Disliked tag example</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section" data-core>
        <h3 id="toc-favorite">Favorite</h3>
        <p>User may subscribe to tag which means that posts with particular tag will be highlighted on the list.</p>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="#" class="post-tag favorite-tag">Favorite tag example</a>
{% endhighlight %}
            <div class="uikit-preview">
                <a href="#" class="post-tag favorite-tag">Favorite tag example</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section" data-core>
        <h3 id="toc-moderator">Moderator</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="#" class="post-tag moderator-tag">Moderator tag example</a>
{% endhighlight %}
            <div class="uikit-preview">
                <a href="#" class="post-tag moderator-tag">Moderator tag example</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section" data-core>
        <h3 id="toc-required">Required</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="#" class="post-tag required-tag">Required tag example</a>
{% endhighlight %}
            <div class="uikit-preview">
                <a href="#" class="post-tag required-tag">Required tag example</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section" data-core>
        <h3 id="toc-company">Company</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<a href="#" class="post-tag company-tag">Company tag example</a>
{% endhighlight %}
            <div class="uikit-preview">
                <a href="#" class="post-tag company-tag">Company tag example</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>

<section class="uikit-section">
    <h2 id="toc-usage-in-other-components">Usage in other components</h2>

    <section class="uikit-section" data-inprogress>
        <h3 id="toc-chosen-plugin"><em>Chosen</em> Plugin</h3>
        <p>This is something undocumented yet but probably should especially we have special classes for this.</p>
    </section>
</section>