---
layout: default
title: Sidebar Widgets
description: Sidebar widgets are widgets that are meant for the sidebar. #TODO: actual description
---
<style>ul{margin-bottom: 0;}</style>
<section class="stacks-section">
    <h2 class="stacks-title">Introduction</h2>
    
    <p class="stacks-p _section">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="stacks-p _section">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor</p>
    <p class="stacks-p _section">sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
    <p class="stacks-p _section">et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    
    {% capture html %}
        <div style="width: 300px"><!-- PREVIEW ONLY -->
            <div class="s-widget">
                <div class="-header">
                    <a href="#" class="-action">Action</a>
                    Example title
                </div>
                <div class="-content _items">
                    <div class="-item">
                        This is a content item.
                    </div>
                    <div class="-item">
                        This is another content item.
                    </div>                    
                </div>
            </div>
            <br> <!-- PREVIEW ONLY -->
            
            <div class="s-widget">
                <div class="-header _alternate-small-bold">
                    <a href="#" class="-action">Action</a>
                    Alternate header style
                </div>
                <div class="-content">
                    <b>This is content.</b>
                    <ul>
                        <li>Content can be more complex</li>
                        <li>than just text.</li>
                    </ul>
                </div>
                <div class="-content">
                    <b>More complex items should</b>
                    <ul>
                        <li>be separated with lines</li>
                        <li>so the boundaries are easy to see.</li>
                    </ul>
                </div>
                <div class="-header _alternate-small-bold _collapsing-control
                            js-collapsing-control" aria-expanded="false"
                            aria-controls="collapsible-example"
                            aria-label="expand this section" tabindex="0">
                    Expandable section
                </div>
                <div class="-collapsible-group-wrapper is-collapsed"
                            id="collapsible-example">
                    <div class="-collapsible-group">
                        <div class="-content">
                            <b>This is content.</b>
                            <ul>
                                <li>Content can be more complex</li>
                                <li>than just text.</li>
                            </ul>
                        </div>
                        <div class="-content">
                            <b>More complex items should</b>
                            <ul>
                                <li>be separated with lines</li>
                                <li>so the boundaries are easy to see.</li>
                            </ul>
                        </div>
                        <div class="-content">
                            <b>This is content.</b>
                            <ul>
                                <li>Content can be more complex</li>
                                <li>than just text.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="-header _alternate-small-bold">
                    Alternate header style
                </div>
            </div>            
            <br> <!-- PREVIEW ONLY -->
            
            <div class="s-widget">
                <div class="-content">
                    <div style="font-size:24px; margin-bottom:8px; line-height:1;">
                        13,672,187
                    </div>
                    questions
                </div>
            </div>
        </div><!-- PREVIEW ONLY -->
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="stacks-section">
    <h2 class="stacks-title">Alternative colors</h2>
    
    <p class="stacks-p _section">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="stacks-p _section">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor</p>
    <p class="stacks-p _section">sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
    <p class="stacks-p _section">et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
       
    {% capture html %}
        <div style="width: 300px"><!-- PREVIEW ONLY -->
            <div class="s-widget _alternate-blue">
                <div class="-header">
                    Blue
                </div>
                <div class="-content">
                    This is a content item.
                </div>
                <div class="-content">
                    This is another content item.
                </div>
            </div>
            <br><!-- PREVIEW ONLY -->
            
            <div class="s-widget _alternate-yellow">
                <div class="-header">
                    Yellow
                </div>
                <div class="-content">
                    This is a content item.
                </div>
                <div class="-content">
                    This is another content item.
                </div>
            </div>
            <br><!-- PREVIEW ONLY -->
            
            <div class="s-widget _alternate-green">
                <div class="-header">
                    Green
                </div>
                <div class="-content">
                    This is a content item.
                </div>
                <div class="-content">
                    This is another content item.
                </div>
            </div>
        </div><!-- PREVIEW ONLY -->
    {% endcapture %}{% include example.html html=html %}
</section>

<section class="stacks-section">
    <h2 class="stacks-title">Navigation</h2>
    
    <p class="stacks-p _section">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p class="stacks-p _section">At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor</p>
    <p class="stacks-p _section">sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
    <p class="stacks-p _section">et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        
    {% capture html %}
        <div style="width: 300px"><!-- PREVIEW ONLY -->
            <nav class="s-widget">
                <div class="-header">
                    Personal Information
                </div>
                <ul class="-content _items">
                    <li class="-item">
                        <a href="#">Edit Profile</a>
                    </li>
                    <li class="-item" aria-current="page">
                        <a href="#">Developer Story Preferences</a>
                    </li>
                    <li class="-item">
                        <a href="#">Job Match Preferences</a>
                    </li>
                </ul>
                <div class="-header">
                    Site Settings
                </div>
                <ul class="-content _items">
                    <li class="-item">
                        <a href="#">Preferences</a>
                    </li>
                    <li class="-item">
                        <a href="#">Flair</a>
                    </li>
                </ul>                
            </nav>
            <br><!-- PREVIEW ONLY -->
            <nav class="s-widget">
                <ul class="-content _items">
                    <li class="-item">
                        <a href="#">Sample link</a>
                    </li>
                    <li class="-item">
                        <a href="#">Another one</a>
                    </li>
                    <li class="-item">
                        <a href="#" aria-current="true">Currently selected</a>
                        <ul class="-subnav">
                            <li><a href="#">2nd level navigation item example a little bit longer why not</a></li>
                            <li aria-current="true">
                                <a href="#">And here's selected 2nd level</a>
                            </li>
                            <li><a href="#">What is reputation?</a></li>
                        </ul>
                    </li>
                    <li class="-item">
                        <a href="#">Continue 1st level</a>
                    </li>
                    <li class="-item">
                        <a href="#">Another item</a>
                    </li>
                </ul>
            </nav>
        </div><!-- PREVIEW ONLY -->
    {% endcapture %}{% include example.html html=html %}
    
</section>

<script type="text/javascript">
    // TODO: figure out the right way to share JS alongside the LESS
    window.onload = function () {
        function toggleCollapsing(e) {
            if (e.type == "keydown" && (e.keyCode != 13 && e.keyCode != 32)) {
                return;
            }
            var expanded = this.getAttribute("aria-expanded") === "true";
            this.setAttribute("aria-expanded", expanded ? "false" : "true");
            var l = document.getElementById(this.getAttribute("aria-controls"));
            if (expanded) {
                l.classList.add("is-collapsed");
            } else {
                l.classList.remove("is-collapsed");
            }
            if (e.type === "click") {
                this.blur();
            }
        }
        var cs = document.getElementsByClassName("js-collapsing-control");
        for (var i=0; i < cs.length; i++) {
            cs[i].addEventListener("click", toggleCollapsing);
            cs[i].addEventListener("keydown", toggleCollapsing);
        }
    }
</script>