//  ============================================================================
//  $   TYPE VARIABLES
//      These are the Stacks type variables. These should be used in place of
//      hard-coded values within CSS declarations.
//  ============================================================================
//  $   FONT FAMILY (ff-)
//  ----------------------------------------------------------------------------
@ff-sans:   Arial, "Helvetica Neue", Helvetica, sans-serif;
@ff-serif:  Georgia, Times New Roman, Times, serif;
@ff-mono:   Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;


//  ============================================================================
//  $   FONT SIZES (fs-)
//  ----------------------------------------------------------------------------
@fs1:     11px; //  0.733rem
@fs2:     12px; //  0.800rem
@fs3:     13px; //  0.867rem
@fs4:     15px; //  1.000rem
@fs5:     17px; //  1.133rem
@fs6:     19px; //  1.267rem
@fs7:     21px; //  1.400rem
@fs8:     24px; //  1.600rem
@fs9:     27px; //  1.800rem
@fs10:    30px; //  2.000rem
@fs11:    34px; //  2.267rem
@fs12:    38px; //  2.533rem
@fs13:    43px; //  2.867rem
@fs14:    49px; //  3.267rem


//  ============================================================================
//  $   LINE HEIGHT (lh-)
//  ----------------------------------------------------------------------------
// Need to remove the unit off the font-size to make line-height unitless
@lh-unit:   unit(@sen-fs);

// Now the various line-height variables
@lh1:     1;                            // 1
@lh2:     (@lh-unit + 2) / @lh-unit;    // 1.154
@lh3:     (@lh-unit + 4) / @lh-unit;    // 1.308
@lh4:     (@lh-unit + 6) / @lh-unit;    // 1.375
@lh5:     (@lh-unit + 8) / @lh-unit;    // 1.615
@lh6:     (@lh-unit + 10) / @lh-unit;   // 1.769
@lh7:     (@lh-unit + 12) / @lh-unit;   // 1.923
@lh8:     2;                            // 2


//  ============================================================================
//  $   TEXT COLORS
//  ----------------------------------------------------------------------------
@fc-dark:      @black-800;
@fc-medium:    @black-600;
@fc-light:     @black-350;

@copy_muted-color:    @black-400;
