---
layout: with-secondary-nav
title: Colors
description: To avoid specifying color values by hand, we've included a robust set of color variables. For maintainability, please use these instead of hardcoding color values.
---

<section class="stacks-section mb-32">
  <h2 class="grid-box _jc-sp-between _ai-center mb-0 stacks-title mb-8">Primary Colors</h2>
  <div class="grid-box _sp-12 _cell-4">
    <div class="-cell p-12 bg-orange-400 mb-12">
      <h2>Orange</h2>
      <p class="text-ff-mono mb-0">@orange-400</p>
    </div>

    <div class="-cell p-12 bg-black-900 mb-12 text-white">
      <h2>Black</h2>
      <p class="text-ff-mono mb-0">@black-900</p>
    </div>

    <div class="-cell p-12 bg-blue-600 mb-12 text-white">
      <h2>Blue</h2>
      <p class="text-ff-mono mb-0">@blue-600</p>
    </div>
  </div>
</section>

<section class="stacks-section mb-32">
  <h2 class="grid-box _jc-sp-between _ai-center mb-0 stacks-title mb-8">Accent Colors</h2>
  <div class="grid-box _sp-12 _cell-4">
    <div class="-cell p-12 bg-powder-100 mb-12 text-powder-900">
      <h2>Powder</h2>
      <p class="text-ff-mono mb-0">@powder-100</p>
    </div>

    <div class="-cell p-12 bg-green-400 mb-12 text-green-900">
      <h2>Green</h2>
      <p class="text-ff-mono mb-0">@green-400</p>
    </div>

    <div class="-cell p-12 bg-yellow-100 mb-12 text-yellow-900">
      <h2>Yellow</h2>
      <p class="text-ff-mono mb-0">@yellow-100</p>
    </div>

    <div class="-cell p-12 bg-red-500 mb-12 text-white">
      <h2>Red</h2>
      <p class="text-ff-mono mb-0">@red-500</p>
    </div>
  </div>
</section>

<section class="stacks-section">
  <h2 class="grid-box _jc-sp-between _ai-center mb-0 stacks-title">Color Stops</h2>
  {% for color in site.data.color-stops %}
  {% assign color_stops = color.stops %}
  <h3 class="grid-box _jc-sp-between _ai-center mb-0 mt-24 stacks-title _subtitle">{{ color.name | capitalize }}</h3>
  <table class="table _hover _condensed ut-va-middle mb-24">
      <thead>
          <tr class="text-fs-12">
              <th scope="col">Swatch</th>
              <th scope="col">LESS</th>
              <th scope="col">HEX</th>
              <th scope="col">RGB</th>
              <th scope="col">Text Class</th>
              <th scope="col">Background Class</th>
          </tr>
      </thead>
      <tbody>
          {% for stop in color_stops %}
          <tr class="text-ff-mono text-fs-12">
              <th scope="row">
                  <div class="stacks-swatch bg-{{ color.name }}-{{ stop.stop }}"></div>
              </th>
              <td>@{{ color.name }}-{{ stop.stop }}</td>
              <td>#{{ stop.hex }}</td>
              <td>{{ stop.rgb }}</td>
              <td>.text-{{ color.name }}-{{ stop.stop }}</td>
              <td>.bg-{{ color.name }}-{{ stop.stop }}</td>
          </tr>
          {% endfor %}
          <tr class="text-ff-mono text-fs-12">
              <th scope="row">
                  <div class="stacks-swatch bg-{{ color.name }}-{{ stop.stop }}"></div>
              </th>
              <td>@white</td>
              <td>#ffffff</td>
              <td>255,255,255</td>
              <td>.text-white</td>
              <td>.bg-white</td>
          </tr>
      </tbody>
  </table>
  {% endfor %}
</section>
