<section class="uikit-section" data-core-careers>
    <h2 id="toc-lists">Default</h2>

    <section class="uikit-section">
        <h3 id="toc-ordered">Ordered</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<ol>
    <li>Generate an idea</li>
    ...
    <li>Build said idea
        <ol>
            <li>Sketch out idea
                <ol>
                    <li>Acquire paper and pen</li>
                    ...
                    <li>Share with co-workers
                        <ol>
                            <li>Solicit feedback</li>
                            ...
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Wireframe it up</li>
            ...
        </ol>
    </li>
    <li>Sprinkle in some luck and magic</li>
    ...
</ol>
{% endhighlight %}
            <div class="uikit-preview">
                <ol>
                    <li>Generate an idea</li>
                    <li>Find an amazing developer</li>
                    <li>Build said idea
                        <ol>
                            <li>Sketch out idea
                                <ol>
                                    <li>Acquire paper and pen</li>
                                    <li>Sketch out idea</li>
                                    <li>Share with co-workers
                                        <ol>
                                            <li>Solicit feedback</li>
                                            <li>Hear out objections</li>
                                            <li>Do what you think is best</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li>Wireframe it up</li>
                            <li>Find an equally amazing designer</li>
                        </ol>
                    </li>
                    <li>Sprinkle in some luck and magic</li>
                    <li>Success!</li>
                </ol>
            </div>
        </div>
    </section>

    <section class="uikit-section">
        <h3 id="toc-unordered">Unordered</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<ul>
    <li>Eggs</li>
    ...
    <li>Trail Mix
        <ul>
            <li>Dried Cherries</li>
            ...
        </ul>
    </li>
</ul>
{% endhighlight %}
            <div class="uikit-preview">
                <ul>
                    <li>Eggs</li>
                    <li>Milk</li>
                    <li>Trail Mix
                        <ul>
                            <li>Dried Cherries</li>
                            <li>M&amp;M’s</li>
                            <li>Walnuts</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>