<section class="uikit-section" data-core>
    <h2>Question List</h2>
    <p>Used only within Questions.</p>
    <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
<div id="question-mini-list">
    <div class="question-summary narrow" id="">
        <div onclick="" class="cp">
            <div class="votes">
                <div class="mini-counts"><span title="0 votes">0</span></div>
                <div>votes</div>
            </div>
            <div class="status unanswered">
                <div class="mini-counts"><span title="0 answers">0</span></div>
                <div>answers</div>
            </div>
            <div class="views">
                <div class="mini-counts"><span title="3 views">3</span></div>
                <div>views</div>
            </div>
        </div>
        <div class="summary">
            <h3><a href="" title="">NumberSequence with different formats</a></h3>
            <div class="tags t-axapta t-xçç t-dynamics-ax-2012-r3">
                <a href="/questions/tagged/axapta" class="post-tag" title="show questions tagged 'axapta'" rel="tag">axapta</a> <a href="/questions/tagged/x%2b%2b" class="post-tag" title="show questions tagged 'x++'" rel="tag">x++</a> <a href="/questions/tagged/dynamics-ax-2012-r3" class="post-tag" title="show questions tagged 'dynamics-ax-2012-r3'" rel="tag">dynamics-ax-2012-r3</a> 
            </div>
            <div class="started">
                <a href="/questions/39414764/numbersequence-with-different-formats" class="started-link">asked <span title="2016-09-09 15:14:40Z" class="relativetime">2 mins ago</span></a>
                <a href="/users/1123274/tsweatt">tsweatt</a> <span class="reputation-score" title="reputation score " dir="ltr">17</span>
            </div>
        </div>
    </div>
    <div class="question-summary narrow tagged-interesting" id="">
        ...
    </div>
    ...
</div>
<div id="questions">
    <div class="question-summary" id="">
        ...
    </div>
    <div class="question-summary tagged-interesting" id="">
        ...
    </div>
    ...
</div>
{% endhighlight %}

    <div class="uikit-preview">
        <div id="question-mini-list">
            <div class="question-summary narrow" id="">
                <div onclick="" class="cp">
                    <div class="votes">
                        <div class="mini-counts"><span title="0 votes">0</span></div>
                        <div>votes</div>
                    </div>
                    <div class="status unanswered">
                        <div class="mini-counts"><span title="0 answers">0</span></div>
                        <div>answers</div>
                    </div>
                    <div class="views">
                        <div class="mini-counts"><span title="3 views">3</span></div>
                        <div>views</div>
                    </div>
                </div>
                <div class="summary">
                    <h3 style="font-weight:400;"><a href="" title="">NumberSequence with different formats</a></h3>
                    <div class="tags t-axapta t-xçç t-dynamics-ax-2012-r3">
                        <a href="/questions/tagged/axapta" class="post-tag" title="show questions tagged 'axapta'" rel="tag">axapta</a> <a href="/questions/tagged/x%2b%2b" class="post-tag" title="show questions tagged 'x++'" rel="tag">x++</a> <a href="/questions/tagged/dynamics-ax-2012-r3" class="post-tag" title="show questions tagged 'dynamics-ax-2012-r3'" rel="tag">dynamics-ax-2012-r3</a> 
                    </div>
                    <div class="started">
                        <a href="/questions/39414764/numbersequence-with-different-formats" class="started-link">asked <span title="2016-09-09 15:14:40Z" class="relativetime">2 mins ago</span></a>
                        <a href="/users/1123274/tsweatt">tsweatt</a> <span class="reputation-score" title="reputation score " dir="ltr">17</span>
                    </div>
                </div>
            </div>
            <div class="question-summary narrow tagged-interesting" id="">
                <div onclick="" class="cp">
                    <div class="votes">
                        <div class="mini-counts"><span title="0 votes">0</span></div>
                        <div>votes</div>
                    </div>
                    <div class="status unanswered">
                        <div class="mini-counts"><span title="0 answers">0</span></div>
                        <div>answers</div>
                    </div>
                    <div class="views">
                        <div class="mini-counts"><span title="10 views">10</span></div>
                        <div>views</div>
                    </div>
                </div>
                <div class="summary">
                    <h3 style="font-weight:400;"><a href="" title="I wanna make a working carousell based on this one. http://v4-alpha.getbootstrap.com/examples/carousel/ Problem is that when i upload my images in it and resize it to a small screen size i got under ...">I can't make fully responsvie carousel(bootstrap v4-alpha)</a></h3>
                    <div class="tags t-html t-twitter-bootstrap t-css3">
                        <a href="/questions/tagged/html" class="post-tag" title="show questions tagged 'html'" rel="tag">html</a> <a href="/questions/tagged/twitter-bootstrap" class="post-tag" title="show questions tagged 'twitter-bootstrap'" rel="tag">twitter-bootstrap</a> <a href="/questions/tagged/css3" class="post-tag" title="show questions tagged 'css3'" rel="tag">css3</a> 
                    </div>
                    <div class="started">
                        <a href="/questions/39413284/i-cant-make-fully-responsvie-carouselbootstrap-v4-alpha" class="started-link">modified <span title="2016-09-09 15:14:28Z" class="relativetime">5 mins ago</span></a>
                        <a href="/users/4617688/stephen-j">stephen.j</a> <span class="reputation-score" title="reputation score " dir="ltr">3</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="questions">
            <div class="question-summary" id="question-summary-11227809">
    <div class="statscontainer">
        <div class="statsarrow"></div>
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post high-scored-post"><strong>15570</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered-accepted">
                <strong>13</strong>answers
            </div>
        </div>
        <div class="views supernova" title="849,657 views">
    850k views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/11227809/why-is-it-faster-to-process-a-sorted-array-than-an-unsorted-array" class="question-hyperlink">Why is it faster to process a sorted array than an unsorted array?</a></h3>
        <div class="excerpt">
            Here is a piece of C++ code that seems very peculiar. For some strange reason, sorting the data miraculously makes the code almost six times faster.

#include &lt;algorithm&gt;
#include &lt;ctime&gt;
#...
        </div>          
        <div class="tags t-java t-cçç t-performance t-optimization t-branch-prediction">
            <a href="/questions/tagged/java" class="post-tag" title="show questions tagged 'java'" rel="tag">java</a> <a href="/questions/tagged/c%2b%2b" class="post-tag" title="show questions tagged 'c++'" rel="tag">c++</a> <a href="/questions/tagged/performance" class="post-tag" title="show questions tagged 'performance'" rel="tag">performance</a> <a href="/questions/tagged/optimization" class="post-tag" title="show questions tagged 'optimization'" rel="tag">optimization</a> <a href="/questions/tagged/branch-prediction" class="post-tag" title="show questions tagged 'branch-prediction'" rel="tag">branch-prediction</a> 
        </div>
        <div class="started fr">
            <div class="user-info user-hover">
    <div class="user-action-time">
        asked <span title="2012-06-27 13:51:36Z" class="relativetime">Jun 27 '12 at 13:51</span>
    </div>
    <div class="user-gravatar32">
        <a href="/users/87234/gmannickg"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/FkjBe.png?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
    </div>
    <div class="user-details">
        <a href="/users/87234/gmannickg">GManNickG</a>
        <div class="-flair">
            <span class="reputation-score" title="reputation score 228,418" dir="ltr">228k</span><span title="29 gold badges"><span class="badge1"></span><span class="badgecount">29</span></span><span title="346 silver badges"><span class="badge2"></span><span class="badgecount">346</span></span><span title="468 bronze badges"><span class="badge3"></span><span class="badgecount">468</span></span>
        </div>
    </div>
</div>
        </div>  
    </div>
</div>
<div class="question-summary" id="question-summary-927358">
    <div class="statscontainer">
        <div class="statsarrow"></div>
        <div class="stats">
            <div class="vote">
                <div class="votes">
                    <span class="vote-count-post high-scored-post"><strong>11547</strong></span>
                    <div class="viewcount">votes</div>
                </div>
            </div>
            <div class="status answered-accepted">
                <strong>46</strong>answers
            </div>
        </div>
        <div class="views supernova" title="3,695,093 views">
    3.7m views
</div>
    </div>
    <div class="summary">
        <h3><a href="/questions/927358/how-to-undo-last-commits-in-git" class="question-hyperlink">How to undo last commit(s) in Git?</a></h3>
        <div class="excerpt">
            I committed the wrong files to Git.

How can I undo this commit?
        </div>          
        <div class="tags t-git t-git-commit t-git-reset t-git-revert">
            <a href="/questions/tagged/git" class="post-tag" title="show questions tagged 'git'" rel="tag">git</a> <a href="/questions/tagged/git-commit" class="post-tag" title="show questions tagged 'git-commit'" rel="tag">git-commit</a> <a href="/questions/tagged/git-reset" class="post-tag" title="show questions tagged 'git-reset'" rel="tag">git-reset</a> <a href="/questions/tagged/git-revert" class="post-tag" title="show questions tagged 'git-revert'" rel="tag">git-revert</a> 
        </div>
        <div class="started fr">
            <div class="user-info">
    <div class="user-details">
        <span class="community-wiki" title="This post is community owned as of Mar 16 '13 at 10:08. Votes do not generate reputation, and it can be edited by users with 100 rep">
            community wiki
        </span>
    </div><br>
    <div class="user-details">
        <a id="history-927358" href="/posts/927358/revisions" title="show revision history for this post">
        42 revs, 25 users 25%<br></a><a href="/users/63550">Peter Mortensen</a>
        
    </div>
</div>
        </div>  
    </div>
</div>
        </div>
    </div>
</section>