//
//  STACKS
//  All the CSS related to Stacks documentation ONLY.
//
//  TABLE OF CONTENTS
//  • IMPORTS
//  • UNIVERSAL SETTINGS
//  • SITE LAYOUT
//  • CODE STYLE
//
//  ============================================================================
//  $   IMPORTS
//  ----------------------------------------------------------------------------
@import "./lib/css/stacks.less"; //  These are actual styles used in SO projects

.stacks-section {
    margin-top: @su48;
    margin-bottom: @su48;
}

.stacks-header {
    margin-bottom: 0.75em;
}

.stacks-intro-crane {
    position: absolute;
    top: -15%;
    left: 17%;
}

.stacks-intro-field {
    position: absolute;
    bottom: 5%;
    right: 9%;
}

.stacks-home-nav {
    margin-bottom: 316px;
}

#stacks-internals #screen-md({
    .stacks-intro-crane {
        width: 135px;
        height: 327px;
        top: -8%;
        left: 12%;
    }

    .stacks-intro-field {
        width: 537px;
        height: 390px;
    }
}, @force-selector: true);

#stacks-internals #screen-sm({
    .stacks-home-nav {
        margin-bottom: 170px;
    }

    .stacks-intro-crane {
        width: 90px;
        height: 218px;

        top: 0;
        left: 12%;
    }

    .stacks-intro-field {
        width: 358px;
        height: 260px;
        bottom: 20%;
    }
}, @force-selector: true);

@media ( max-width:320px ) {
    html .stacks-home-nav {
        margin-bottom: 230px;
    }

    html .stacks-intro-crane {
        width: 69px;
        height: 166px;
    }

    html .stacks-intro-field {
        width: 272px;
        height: 197px;
        bottom: 33%;
    }
}

//  $$  BACKGROUNDS EXAMPLE
//  ----------------------------------------------------------------------------
.stacks-bg-img {
    background-image: url("../img/illustrationBgImage.svg");
}

//  $$  NAV SECONDARY SUBNAV
//  ----------------------------------------------------------------------------
.toc {
    ol {
        .list-reset;
        .grid;
        .fd-column;

        li {
            .mb8;
        }

        li a {
            .d-block;
            .s-link;
            .s-link__muted;
            .fs-body1;
            .lh-sm;
            .py2;
        }

        ol {
            .pt6;

            li {
                .p2;
                .pl12;
                .mb0;
            }
        }
    }
}


//  ============================================================================
//  $   TYPE STYLES
//  ============================================================================
//  $$  TITLES
//  ----------------------------------------------------------------------------
.stacks-title {
    text-shadow: 0 0 10px var(--theme-primary-400), 0 0 10px var(--theme-primary-400), 0 0 10px var(--theme-primary-400);
    text-rendering: optimizeLegibility;
}

.stacks-h1,
.stacks-h2,
.stacks-h3,
.stacks-h4 {
    margin-bottom: 0;
    font-weight: 600;
    line-height: @lh-sm;
    color: var(--fc-dark);
    text-rendering: optimizeLegibility;
}

//  --  Page Title
.stacks-h1 {
    font-size: @fs-display1;
    margin-bottom: 0.5em;
}

//  --  Page Title Badged
.stacks-badged {
    margin-bottom: 0.5em;
}

//  --  Section Title
.stacks-h2 {
    font-size: @fs-headline1;
    padding-top: @su64 + @su24; // Hack for #anchor positioning
    margin-top: -@su64 + -@su24; // Hack for #anchor positioning
}

//  --  Sub-section Title
.stacks-h3 {
    font-size: @fs-subheading;
    color: var(--fc-medium);
    padding-top: @su64 + @su24; // Hack for #anchor positioning
    margin-top: -@su64 + -@su24; // Hack for #anchor positioning
}

.stacks-h4 {
    font-size: @fs-body3;
    color: var(--fc-light);
}

//  $$  PARAGRAPHS
//  ----------------------------------------------------------------------------
.stacks-copy {
    margin-top: 0;
    margin-bottom: 1em;
    font-size: @fs-body3;
    line-height: @lh-lg;
    color: var(--fc-medium);

    strong {
        color: var(--fc-dark);
    }
}

.stacks-copy__lg {
    font-size: @fs-title;
}


//  --   Code Tag
//  ----------------------------------------------------------------------------
.stacks-code {
    padding: 3px 5px @su2 @su4;
    border-radius: @br-sm;
    background-color: var(--black-075);

    font-size: @fs-caption;
    font-family: @ff-mono;
    color: var(--fc-dark);
    line-height: @lh-xs;

    vertical-align: middle;
    white-space: nowrap;
    overflow-wrap: break-word;
}

.stacks-code {
    white-space: normal;
}


//  ============================================================================
//  $  LISTS
//  ----------------------------------------------------------------------------
.stacks-list {
    margin-bottom: 1em;
    font-size: @fs-body3;
    line-height: @lh-lg;
    color: var(--fc-medium);
}


//  ============================================================================
//  $   CODE STYLES
//  ----------------------------------------------------------------------------
.stacks-preview {
    margin-bottom: @su48;
    border-radius: @br-md;
    box-shadow: var(--bs-sm);

    > pre.s-code-block {
        border-radius: @br-md @br-md 0 0;
        border: 1px solid var(--black-100);
        max-height: 24rem;

        .dark-mode({
            border-color: transparent;
        });
    }

    &._preview-none pre.s-code-block {
        .bar-md;
    }
}

//  Preview area
.stacks-preview--example {
    padding: @su16;
    border-bottom-left-radius: @br-md;
    border-bottom-right-radius: @br-md;
    border: 1px solid var(--black-100);
    border-top-width: 0;
    font-size: @fs-body1;

    .dark-mode({
        border-color: transparent;
        background: var(--black-025);
    });
}

// Checkered background
.bg-checkered {
    background-color: var(--white);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23e4e6e8' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

//  ============================================================================
//  $   ICON PRESENTATION
//  ----------------------------------------------------------------------------
.stacks-icon-container {
    scroll-margin-top: 150px;
}

//  --   Preview Area
.stacks-icon-preview {
    padding: @su8;
    min-height: 4em;
    border-top-left-radius: @br-sm;
    border-top-right-radius: @br-sm;
    background-color: var(--black-025);
    box-shadow: inset 0 -1px 0 var(--black-075);
    color: var(--fc-medium);
}

//  ============================================================================
//  $   GRID
//      Used to showcase grid layouts and cells
//  ----------------------------------------------------------------------------

.stacks-grid-example--cell {
    padding: @su8;
    border: 1px solid var(--black-100);
    background-color: var(--black-075);
    font-family: @ff-mono;
    font-size: @fs-caption;
    color: var(--fc-dark);
}

.stacks-grid-example {
    display: flex;
    .grid__center;
    height: 100%;
}

//  ============================================================================
//  $   COLORS
//  ----------------------------------------------------------------------------
.stacks-swatch {
    width: @su32;
    height: @su32;
}

//  ============================================================================
//  $   Search Customization
//  ----------------------------------------------------------------------------
.algolia-autocomplete {
    display: block !important;
    width: 100% !important;

    [class^="ds-dataset-"] {
        .algolia-docsearch-suggestion--text {
            .algolia-docsearch-suggestion--highlight {
                box-shadow: inset 0 -2px 0 0 rgba(68, 168, 179,.8);
            }
        }

        .algolia-docsearch-suggestion--highlight {
            color: var(--fc-medium);
            background: var(--orange-100);
        }
    }

    .ds-dropdown-menu {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 0 !important;
    }

    .algolia-docsearch-footer {
        float: none !important;
        width: auto !important;
        height: auto !important;
        padding: 5px 8px;
        font-size: @fs-caption !important;
        line-height: 1 !important;
        color: var(--fc-light) !important;
    }

    .algolia-docsearch-footer--logo {
        display: inline !important;
        overflow: visible !important;
        color: inherit !important;
        text-indent: 0 !important;
        background: 0 0 !important
    }

    @media (max-width: 640px) {
        .algolia-docsearch-suggestion--subcategory-column {
            display: none !important;
        }

        .algolia-docsearch-suggestion--content {
            width: 100% !important;
            padding: 0 !important;

            &:before {
                display: none !important;
            }
        }
    }
}

//  ============================================================================
//  $   Homepage grid
//  ----------------------------------------------------------------------------

.stacks-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: @su16;
    grid-row-gap: @su16;
}

@media ( max-width:1200px ) {
    .stacks-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media ( max-width:530px ) {
    .stacks-grid {
        grid-template-columns: 1fr;
    }
}

.stacks-theme-button {
    color: var(--black-300);
    position: relative;
    padding-right: @su12 !important;

    &:after {
        content: "";
        position: absolute;
        z-index: @zi-active;
        top: calc(~"50% - 2px");
        right: 0;
        border-style: solid;
        border-width: @su4;
        border-top-width: @su4;
        border-bottom-width: 0;
        border-color: currentColor transparent;
        pointer-events: none;
    }

    &.is-selected {
        color: var(--black-600);
    }

    &.stacks-theme-button__home {
        color: var(--white);

        &.is-selected {
            color: var(--white);
        }
    }
}

.theme-custom {
    --theme-primary-color-h: 172;
    --theme-primary-color-s: 37%;
    --theme-primary-color-l: 48%;
    --theme-primary-color-r: 77;
    --theme-primary-color-g: 168;
    --theme-primary-color-b: 156;

    --theme-secondary-color-h: 259;
    --theme-secondary-color-s: 29%;
    --theme-secondary-color-l: 55%;
    --theme-secondary-color-r: 129;
    --theme-secondary-color-g: 108;
    --theme-secondary-color-b: 174;
}

.theme-team {

    // TODO: At this scope, we're only changing the individual color variables, not their parent, collected variables.
    // We need to figure out how to re-assemble these in each invidual scope without repeating all of this every time.
    // Can it be done?

    --theme-primary-color: hsl(var(--theme-primary-color-h), var(--theme-primary-color-s), var(--theme-primary-color-l));
    --theme-primary-900: hsl(var(--theme-primary-color-h), var(--theme-primary-color-s), calc(var(--theme-primary-color-l) - 26%));
    --theme-primary-800: hsl(var(--theme-primary-color-h), var(--theme-primary-color-s), calc(var(--theme-primary-color-l) - 21%));
    --theme-primary-700: hsl(var(--theme-primary-color-h), var(--theme-primary-color-s), calc(var(--theme-primary-color-l) - 16%));
    --theme-primary-600: hsl(var(--theme-primary-color-h), var(--theme-primary-color-s), calc(var(--theme-primary-color-l) - 10%));
    --theme-primary-500: hsl(var(--theme-primary-color-h), var(--theme-primary-color-s), calc(var(--theme-primary-color-l) - 5%));
    --theme-primary-400: var(--theme-primary-color);
    --theme-primary-350: rgb(calc(25.5 + var(--theme-primary-color-r) * 0.9), calc(25.5 + var(--theme-primary-color-g) * 0.9), calc(25.5 + var(--theme-primary-color-b) * 0.9));
    --theme-primary-300: rgb(calc(89.25 + var(--theme-primary-color-r) * 0.65), calc(89.25 + var(--theme-primary-color-g) * 0.65), calc(89.25 + var(--theme-primary-color-b) * 0.65));
    --theme-primary-200: rgb(calc(153 + var(--theme-primary-color-r) * 0.4), calc(153 + var(--theme-primary-color-g) * 0.4), calc(153 + var(--theme-primary-color-b) * 0.4));
    --theme-primary-150: rgb(calc(178.5 + var(--theme-primary-color-r) * 0.3), calc(178.5 + var(--theme-primary-color-g) * 0.3), calc(178.5 + var(--theme-primary-color-b) * 0.3));
    --theme-primary-100: rgb(calc(198.9 + var(--theme-primary-color-r) * 0.22), calc(198.9 + var(--theme-primary-color-g) * 0.22), calc(198.9 + var(--theme-primary-color-b) * 0.22));
    --theme-primary-075: rgb(calc(216.75 + var(--theme-primary-color-r) * 0.15), calc(216.75 + var(--theme-primary-color-g) * 0.15), calc(216.75 + var(--theme-primary-color-b) * 0.15));
    --theme-primary-050: rgb(calc(234.6 + var(--theme-primary-color-r) * 0.08), calc(234.6 + var(--theme-primary-color-g) * 0.08), calc(234.6 + var(--theme-primary-color-b) * 0.08));
    --theme-primary-025: rgb(calc(244.8 + var(--theme-primary-color-r) * 0.04), calc(244.8 + var(--theme-primary-color-g) * 0.04), calc(244.8 + var(--theme-primary-color-b) * 0.04));
    --theme-primary-color-fade-50: hsla(var(--theme-primary-color-h), var(--theme-primary-color-s), var(--theme-primary-color-l), 0.5);
    --theme-primary-color-fade-75: hsla(var(--theme-primary-color-h), var(--theme-primary-color-s), var(--theme-primary-color-l), 0.75);
    --theme-primary-color-fade-80: hsla(var(--theme-primary-color-h), var(--theme-primary-color-s), var(--theme-primary-color-l), 0.8);
    --theme-primary-color-fade-15: hsla(var(--theme-primary-color-h), var(--theme-primary-color-s), var(--theme-primary-color-l), 0.15);
    --theme-primary-color-fade-35: hsla(var(--theme-primary-color-h), var(--theme-primary-color-s), var(--theme-primary-color-l), 0.35);
    --theme-secondary-color-h: 205;
    --theme-secondary-color-s: 100%;
    --theme-secondary-color-l: 40%;
    --theme-secondary-color-r: 0;
    --theme-secondary-color-g: 119;
    --theme-secondary-color-b: 204;
    --theme-secondary-color: hsl(var(--theme-secondary-color-h), var(--theme-secondary-color-s), var(--theme-secondary-color-l));
    --theme-secondary-900: hsl(var(--theme-secondary-color-h), var(--theme-secondary-color-s), calc(var(--theme-secondary-color-l) - 26%));
    --theme-secondary-800: hsl(var(--theme-secondary-color-h), var(--theme-secondary-color-s), calc(var(--theme-secondary-color-l) - 21%));
    --theme-secondary-700: hsl(var(--theme-secondary-color-h), var(--theme-secondary-color-s), calc(var(--theme-secondary-color-l) - 16%));
    --theme-secondary-600: hsl(var(--theme-secondary-color-h), var(--theme-secondary-color-s), calc(var(--theme-secondary-color-l) - 10%));
    --theme-secondary-500: hsl(var(--theme-secondary-color-h), var(--theme-secondary-color-s), calc(var(--theme-secondary-color-l) - 5%));
    --theme-secondary-400: var(--theme-secondary-color);
    --theme-secondary-350: rgb(calc(25.5 + var(--theme-secondary-color-r) * 0.9), calc(25.5 + var(--theme-secondary-color-g) * 0.9), calc(25.5 + var(--theme-secondary-color-b) * 0.9));
    --theme-secondary-300: rgb(calc(89.25 + var(--theme-secondary-color-r) * 0.65), calc(89.25 + var(--theme-secondary-color-g) * 0.65), calc(89.25 + var(--theme-secondary-color-b) * 0.65));
    --theme-secondary-200: rgb(calc(153 + var(--theme-secondary-color-r) * 0.4), calc(153 + var(--theme-secondary-color-g) * 0.4), calc(153 + var(--theme-secondary-color-b) * 0.4));
    --theme-secondary-150: rgb(calc(178.5 + var(--theme-secondary-color-r) * 0.3), calc(178.5 + var(--theme-secondary-color-g) * 0.3), calc(178.5 + var(--theme-secondary-color-b) * 0.3));
    --theme-secondary-100: rgb(calc(198.9 + var(--theme-secondary-color-r) * 0.22), calc(198.9 + var(--theme-secondary-color-g) * 0.22), calc(198.9 + var(--theme-secondary-color-b) * 0.22));
    --theme-secondary-075: rgb(calc(216.75 + var(--theme-secondary-color-r) * 0.15), calc(216.75 + var(--theme-secondary-color-g) * 0.15), calc(216.75 + var(--theme-secondary-color-b) * 0.15));
    --theme-secondary-050: rgb(calc(234.6 + var(--theme-secondary-color-r) * 0.08), calc(234.6 + var(--theme-secondary-color-g) * 0.08), calc(234.6 + var(--theme-secondary-color-b) * 0.08));
    --theme-secondary-025: rgb(calc(244.8 + var(--theme-secondary-color-r) * 0.04), calc(244.8 + var(--theme-secondary-color-g) * 0.04), calc(244.8 + var(--theme-secondary-color-b) * 0.04));
    --theme-secondary-color-fade-50: hsla(var(--theme-secondary-color-h), var(--theme-secondary-color-s), var(--theme-secondary-color-l), 0.5);
    --theme-secondary-color-fade-75: hsla(var(--theme-secondary-color-h), var(--theme-secondary-color-s), var(--theme-secondary-color-l), 0.75);
    --theme-secondary-color-fade-80: hsla(var(--theme-secondary-color-h), var(--theme-secondary-color-s), var(--theme-secondary-color-l), 0.8);
    --theme-secondary-color-fade-15: hsla(var(--theme-secondary-color-h), var(--theme-secondary-color-s), var(--theme-secondary-color-l), 0.15);
    --theme-secondary-color-fade-35: hsla(var(--theme-secondary-color-h), var(--theme-secondary-color-s), var(--theme-secondary-color-l), 0.35);

    --theme-primary-color-h: 194;
    --theme-primary-color-s: 80%;
    --theme-primary-color-l: 51%;
    --theme-primary-color-r: 31;
    --theme-primary-color-g: 183;
    --theme-primary-color-b: 231;

    --theme-secondary-color-h: 302;
    --theme-secondary-color-s: 81%;
    --theme-secondary-color-l: 54%;
    --theme-secondary-color-r: 233;
    --theme-secondary-color-g: 42;
    --theme-secondary-color-b: 225;
}

.team-avatar {
    background-image: url("../img/team-avatar.png");
}
