//
//  STACK OVERFLOW
//  SPACING
//
//  • MARGIN
//    - None
//    - 2px
//    - 4px
//    - 8px
//    - 12px
//    - 16px
//    - 24px
//    - 32px
//    - 48px
//    - 64px
//    - Negative
//    - Auto
//  • PADDING
//    - None
//    - 2px
//    - 4px
//    - 8px
//    - 12px
//    - 16px
//    - 24px
//    - 32px
//    - 48px
//    - 64px
//
//  ============================================================================
//  $   MARGIN
//  ----------------------------------------------------------------------------
//  --  Margin None
.m-0  { margin:        0 !important; }
.mt-0 { margin-top:    0 !important; }
.mr-0 { margin-right:  0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left:   0 !important; }
.mx-0 { .ml-0; .mr-0; }
.my-0 { .mt-0; .mb-0; }
//  --  Margin 2px
.m-1  { margin:        @su-1 !important; }
.mt-1 { margin-top:    @su-1 !important; }
.mr-1 { margin-right:  @su-1 !important; }
.mb-1 { margin-bottom: @su-1 !important; }
.ml-1 { margin-left:   @su-1 !important; }
.mx-1 { .ml-1; .mr-1; }
.my-1 { .mt-1; .mb-1; }
//  --  Margin 4px
.m-2  { margin:        @su-2 !important; }
.mt-2 { margin-top:    @su-2 !important; }
.mr-2 { margin-right:  @su-2 !important; }
.mb-2 { margin-bottom: @su-2 !important; }
.ml-2 { margin-left:   @su-2 !important; }
.mx-2 { .ml-2; .mr-2; }
.my-2 { .mt-2; .mb-2; }
//  --  Margin 8px
.m-3  { margin:        @su-3 !important; }
.mt-3 { margin-top:    @su-3 !important; }
.mr-3 { margin-right:  @su-3 !important; }
.mb-3 { margin-bottom: @su-3 !important; }
.ml-3 { margin-left:   @su-3 !important; }
.mx-3 { .ml-3; .mr-3; }
.my-3 { .mt-3; .mb-3; }
//  --  Margin 12px
.m-12  { margin:        @su-12 !important; }
.mt-12 { margin-top:    @su-12 !important; }
.mr-12 { margin-right:  @su-12 !important; }
.mb-12 { margin-bottom: @su-12 !important; }
.ml-12 { margin-left:   @su-12 !important; }
.mx-12 { .ml-12; .mr-12; }
.my-12 { .mt-12; .mb-12; }
//  --  Margin 16px
.m-5  { margin:        @su-5 !important; }
.mt-5 { margin-top:    @su-5 !important; }
.mr-5 { margin-right:  @su-5 !important; }
.mb-5 { margin-bottom: @su-5 !important; }
.ml-5 { margin-left:   @su-5 !important; }
.mx-5 { .ml-5; .mr-5; }
.my-5 { .mt-5; .mb-5; }
//  --  Margin 24px
.m-6  { margin:        @su-6 !important; }
.mt-6 { margin-top:    @su-6 !important; }
.mr-6 { margin-right:  @su-6 !important; }
.mb-6 { margin-bottom: @su-6 !important; }
.ml-6 { margin-left:   @su-6 !important; }
.mx-6 { .ml-6; .mr-6; }
.my-6 { .mt-6; .mb-6; }
//  --  Margin 32px
.m-7  { margin:        @su-7 !important; }
.mt-7 { margin-top:    @su-7 !important; }
.mr-7 { margin-right:  @su-7 !important; }
.mb-7 { margin-bottom: @su-7 !important; }
.ml-7 { margin-left:   @su-7 !important; }
.mx-7 { .ml-7; .mr-7; }
.my-7 { .mt-7; .mb-7; }
//  --  Margin 48px
.m-48  { margin:        @su-48 !important; }
.mt-48 { margin-top:    @su-48 !important; }
.mr-48 { margin-right:  @su-48 !important; }
.mb-48 { margin-bottom: @su-48 !important; }
.ml-48 { margin-left:   @su-48 !important; }
.mx-48 { .ml-48; .mr-48; }
.my-48 { .mt-48; .mb-48; }
//  --  Margin 64px
.m-64  { margin:        @su-64 !important; }
.mt-64 { margin-top:    @su-64 !important; }
.mr-64 { margin-right:  @su-64 !important; }
.mb-64 { margin-bottom: @su-64 !important; }
.ml-64 { margin-left:   @su-64 !important; }
.mx-64 { .ml-64; .mr-64; }
.my-64 { .mt-64; .mb-64; }
//  --  Negative Margins
.mx-n-1  { margin-left: -(@su-1) !important; margin-right: -(@su-1) !important; }
.mx-n-2  { margin-left: -(@su-2) !important; margin-right: -(@su-2) !important; }
.mx-n-3  { margin-left: -(@su-3) !important; margin-right: -(@su-3) !important; }
.mx-n-12 { margin-left: -(@su-12) !important; margin-right: -(@su-12) !important; }
.mx-n-5  { margin-left: -(@su-5) !important; margin-right: -(@su-5) !important; }
.mx-n-6  { margin-left: -(@su-6) !important; margin-right: -(@su-6) !important; }
.mx-n-7  { margin-left: -(@su-7) !important; margin-right: -(@su-7) !important; }
.mx-n-48 { margin-left: -(@su-48) !important; margin-right: -(@su-48) !important; }
.mx-n-64 { margin-left: -(@su-64) !important; margin-right: -(@su-64) !important; }
//  --  Margin Auto
.ml-auto { margin-left: auto !important; }
.mr-auto { margin-right: auto !important; }
.mx-auto { .ml-auto; .mr-auto; }


//  ============================================================================
//  $   PADDING
//  ----------------------------------------------------------------------------
//  --  Padding None
.p-0  { padding:        0 !important; }
.pt-0 { padding-top:    0 !important; }
.pr-0 { padding-right:  0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left:   0 !important; }
.px-0 { .pl-0; .pr-0; }
.py-0 { .pt-0; .pb-0; }
//  --  Padding 2px
.p-1  { padding:        @su-1 !important; }
.pt-1 { padding-top:    @su-1 !important; }
.pr-1 { padding-right:  @su-1 !important; }
.pb-1 { padding-bottom: @su-1 !important; }
.pl-1 { padding-left:   @su-1 !important; }
.px-1 { .pl-1; .pr-1; }
.py-1 { .pt-1; .pb-1; }
//  --  Padding 4px
.p-2  { padding:        @su-2 !important; }
.pt-2 { padding-top:    @su-2 !important; }
.pr-2 { padding-right:  @su-2 !important; }
.pb-2 { padding-bottom: @su-2 !important; }
.pl-2 { padding-left:   @su-2 !important; }
.px-2 { .pl-2; .pr-2; }
.py-2 { .pt-2; .pb-2; }
//  --  Padding 8px
.p-3  { padding:        @su-3 !important; }
.pt-3 { padding-top:    @su-3 !important; }
.pr-3 { padding-right:  @su-3 !important; }
.pb-3 { padding-bottom: @su-3 !important; }
.pl-3 { padding-left:   @su-3 !important; }
.px-3 { .pl-3; .pr-3; }
.py-3 { .pt-3; .pb-3; }
//  --  Padding 12px
.p-12  { padding:        @su-12 !important; }
.pt-12 { padding-top:    @su-12 !important; }
.pr-12 { padding-right:  @su-12 !important; }
.pb-12 { padding-bottom: @su-12 !important; }
.pl-12 { padding-left:   @su-12 !important; }
.px-12 { .pl-12; .pr-12; }
.py-12 { .pt-12; .pb-12; }
//  --  Padding 16px
.p-5  { padding:        @su-5 !important; }
.pt-5 { padding-top:    @su-5 !important; }
.pr-5 { padding-right:  @su-5 !important; }
.pb-5 { padding-bottom: @su-5 !important; }
.pl-5 { padding-left:   @su-5 !important; }
.px-5 { .pl-5; .pr-5; }
.py-5 { .pt-5; .pb-5; }
//  --  Padding 24px
.p-6  { padding:        @su-6 !important; }
.pt-6 { padding-top:    @su-6 !important; }
.pr-6 { padding-right:  @su-6 !important; }
.pb-6 { padding-bottom: @su-6 !important; }
.pl-6 { padding-left:   @su-6 !important; }
.px-6 { .pl-6; .pr-6; }
.py-6 { .pt-6; .pb-6; }
//  --  Padding 32px
.p-7  { padding:        @su-7 !important; }
.pt-7 { padding-top:    @su-7 !important; }
.pr-7 { padding-right:  @su-7 !important; }
.pb-7 { padding-bottom: @su-7 !important; }
.pl-7 { padding-left:   @su-7 !important; }
.px-7 { .pl-7; .pr-7; }
.py-7 { .pt-7; .pb-7; }
//  --  Padding 48px
.p-48  { padding:        @su-48 !important; }
.pt-48 { padding-top:    @su-48 !important; }
.pr-48 { padding-right:  @su-48 !important; }
.pb-48 { padding-bottom: @su-48 !important; }
.pl-48 { padding-left:   @su-48 !important; }
.px-48 { .pl-48; .pr-48; }
.py-48 { .pt-48; .pb-48; }
//  --  Padding 64px
.p-64  { padding:        @su-64 !important; }
.pt-64 { padding-top:    @su-64 !important; }
.pr-64 { padding-right:  @su-64 !important; }
.pb-64 { padding-bottom: @su-64 !important; }
.pl-64 { padding-left:   @su-64 !important; }
.px-64 { .pl-64; .pr-64; }
.py-64 { .pt-64; .pb-64; }
