//
//  STACK OVERFLOW
//  SPACING
//
//  • MARGIN
//    - None
//    - 2px
//    - 4px
//    - 8px
//    - 12px
//    - 16px
//    - 24px
//    - 32px
//    - 48px
//    - 64px
//    - Negative
//    - Auto
//  • PADDING
//    - None
//    - 2px
//    - 4px
//    - 8px
//    - 12px
//    - 16px
//    - 24px
//    - 32px
//    - 48px
//    - 64px
//
//  ============================================================================
//  $   MARGIN
//  ----------------------------------------------------------------------------
//  --  Margin None
.m-0  { margin:        0 !important; }
.mt-0 { margin-top:    0 !important; }
.mr-0 { margin-right:  0 !important; }
.mb-0 { margin-bottom: 0 !important; }
.ml-0 { margin-left:   0 !important; }
.mx-0 { .ml-0; .mr-0; }
.my-0 { .mt-0; .mb-0; }
//  --  Margin 2px
.m-1  { margin:        @su-1 !important; }
.mt-1 { margin-top:    @su-1 !important; }
.mr-1 { margin-right:  @su-1 !important; }
.mb-1 { margin-bottom: @su-1 !important; }
.ml-1 { margin-left:   @su-1 !important; }
.mx-1 { .ml-1; .mr-1; }
.my-1 { .mt-1; .mb-1; }
//  --  Margin 4px
.m-4  { margin:        @su-4 !important; }
.mt-4 { margin-top:    @su-4 !important; }
.mr-4 { margin-right:  @su-4 !important; }
.mb-4 { margin-bottom: @su-4 !important; }
.ml-4 { margin-left:   @su-4 !important; }
.mx-4 { .ml-4; .mr-4; }
.my-4 { .mt-4; .mb-4; }
//  --  Margin 8px
.m-8  { margin:        @su-8 !important; }
.mt-8 { margin-top:    @su-8 !important; }
.mr-8 { margin-right:  @su-8 !important; }
.mb-8 { margin-bottom: @su-8 !important; }
.ml-8 { margin-left:   @su-8 !important; }
.mx-8 { .ml-8; .mr-8; }
.my-8 { .mt-8; .mb-8; }
//  --  Margin 12px
.m-12  { margin:        @su-12 !important; }
.mt-12 { margin-top:    @su-12 !important; }
.mr-12 { margin-right:  @su-12 !important; }
.mb-12 { margin-bottom: @su-12 !important; }
.ml-12 { margin-left:   @su-12 !important; }
.mx-12 { .ml-12; .mr-12; }
.my-12 { .mt-12; .mb-12; }
//  --  Margin 16px
.m-16  { margin:        @su-16 !important; }
.mt-16 { margin-top:    @su-16 !important; }
.mr-16 { margin-right:  @su-16 !important; }
.mb-16 { margin-bottom: @su-16 !important; }
.ml-16 { margin-left:   @su-16 !important; }
.mx-16 { .ml-16; .mr-16; }
.my-16 { .mt-16; .mb-16; }
//  --  Margin 24px
.m-24  { margin:        @su-24 !important; }
.mt-24 { margin-top:    @su-24 !important; }
.mr-24 { margin-right:  @su-24 !important; }
.mb-24 { margin-bottom: @su-24 !important; }
.ml-24 { margin-left:   @su-24 !important; }
.mx-24 { .ml-24; .mr-24; }
.my-24 { .mt-24; .mb-24; }
//  --  Margin 32px
.m-32  { margin:        @su-32 !important; }
.mt-32 { margin-top:    @su-32 !important; }
.mr-32 { margin-right:  @su-32 !important; }
.mb-32 { margin-bottom: @su-32 !important; }
.ml-32 { margin-left:   @su-32 !important; }
.mx-32 { .ml-32; .mr-32; }
.my-32 { .mt-32; .mb-32; }
//  --  Margin 48px
.m-48  { margin:        @su-48 !important; }
.mt-48 { margin-top:    @su-48 !important; }
.mr-48 { margin-right:  @su-48 !important; }
.mb-48 { margin-bottom: @su-48 !important; }
.ml-48 { margin-left:   @su-48 !important; }
.mx-48 { .ml-48; .mr-48; }
.my-48 { .mt-48; .mb-48; }
//  --  Margin 64px
.m-64  { margin:        @su-64 !important; }
.mt-64 { margin-top:    @su-64 !important; }
.mr-64 { margin-right:  @su-64 !important; }
.mb-64 { margin-bottom: @su-64 !important; }
.ml-64 { margin-left:   @su-64 !important; }
.mx-64 { .ml-64; .mr-64; }
.my-64 { .mt-64; .mb-64; }
//  --  Negative Margins
.mx-n-2  { margin-left: -(@su-1) !important; margin-right: -(@su-1) !important; }
.mx-n-4  { margin-left: -(@su-4) !important; margin-right: -(@su-4) !important; }
.mx-n-8  { margin-left: -(@su-8) !important; margin-right: -(@su-8) !important; }
.mx-n-12 { margin-left: -(@su-12) !important; margin-right: -(@su-12) !important; }
.mx-n-16 { margin-left: -(@su-16) !important; margin-right: -(@su-16) !important; }
.mx-n-24 { margin-left: -(@su-24) !important; margin-right: -(@su-24) !important; }
.mx-n-32 { margin-left: -(@su-32) !important; margin-right: -(@su-32) !important; }
.mx-n-48 { margin-left: -(@su-48) !important; margin-right: -(@su-48) !important; }
.mx-n-64 { margin-left: -(@su-64) !important; margin-right: -(@su-64) !important; }
//  --  Margin Auto
.ml-auto { margin-left: auto !important; }
.mr-auto { margin-right: auto !important; }
.mx-auto { .ml-auto; .mr-auto; }


//  ============================================================================
//  $   PADDING
//  ----------------------------------------------------------------------------
//  --  Padding None
.p-0  { padding:        0 !important; }
.pt-0 { padding-top:    0 !important; }
.pr-0 { padding-right:  0 !important; }
.pb-0 { padding-bottom: 0 !important; }
.pl-0 { padding-left:   0 !important; }
.px-0 { .pl-0; .pr-0; }
.py-0 { .pt-0; .pb-0; }
//  --  Padding 2px
.p-1  { padding:        @su-1 !important; }
.pt-1 { padding-top:    @su-1 !important; }
.pr-1 { padding-right:  @su-1 !important; }
.pb-1 { padding-bottom: @su-1 !important; }
.pl-1 { padding-left:   @su-1 !important; }
.px-1 { .pl-1; .pr-1; }
.py-1 { .pt-1; .pb-1; }
//  --  Padding 4px
.p-4  { padding:        @su-4 !important; }
.pt-4 { padding-top:    @su-4 !important; }
.pr-4 { padding-right:  @su-4 !important; }
.pb-4 { padding-bottom: @su-4 !important; }
.pl-4 { padding-left:   @su-4 !important; }
.px-4 { .pl-4; .pr-4; }
.py-4 { .pt-4; .pb-4; }
//  --  Padding 8px
.p-8  { padding:        @su-8 !important; }
.pt-8 { padding-top:    @su-8 !important; }
.pr-8 { padding-right:  @su-8 !important; }
.pb-8 { padding-bottom: @su-8 !important; }
.pl-8 { padding-left:   @su-8 !important; }
.px-8 { .pl-8; .pr-8; }
.py-8 { .pt-8; .pb-8; }
//  --  Padding 12px
.p-12  { padding:        @su-12 !important; }
.pt-12 { padding-top:    @su-12 !important; }
.pr-12 { padding-right:  @su-12 !important; }
.pb-12 { padding-bottom: @su-12 !important; }
.pl-12 { padding-left:   @su-12 !important; }
.px-12 { .pl-12; .pr-12; }
.py-12 { .pt-12; .pb-12; }
//  --  Padding 16px
.p-16  { padding:        @su-16 !important; }
.pt-16 { padding-top:    @su-16 !important; }
.pr-16 { padding-right:  @su-16 !important; }
.pb-16 { padding-bottom: @su-16 !important; }
.pl-16 { padding-left:   @su-16 !important; }
.px-16 { .pl-16; .pr-16; }
.py-16 { .pt-16; .pb-16; }
//  --  Padding 24px
.p-24  { padding:        @su-24 !important; }
.pt-24 { padding-top:    @su-24 !important; }
.pr-24 { padding-right:  @su-24 !important; }
.pb-24 { padding-bottom: @su-24 !important; }
.pl-24 { padding-left:   @su-24 !important; }
.px-24 { .pl-24; .pr-24; }
.py-24 { .pt-24; .pb-24; }
//  --  Padding 32px
.p-32  { padding:        @su-32 !important; }
.pt-32 { padding-top:    @su-32 !important; }
.pr-32 { padding-right:  @su-32 !important; }
.pb-32 { padding-bottom: @su-32 !important; }
.pl-32 { padding-left:   @su-32 !important; }
.px-32 { .pl-32; .pr-32; }
.py-32 { .pt-32; .pb-32; }
//  --  Padding 48px
.p-48  { padding:        @su-48 !important; }
.pt-48 { padding-top:    @su-48 !important; }
.pr-48 { padding-right:  @su-48 !important; }
.pb-48 { padding-bottom: @su-48 !important; }
.pl-48 { padding-left:   @su-48 !important; }
.px-48 { .pl-48; .pr-48; }
.py-48 { .pt-48; .pb-48; }
//  --  Padding 64px
.p-64  { padding:        @su-64 !important; }
.pt-64 { padding-top:    @su-64 !important; }
.pr-64 { padding-right:  @su-64 !important; }
.pb-64 { padding-bottom: @su-64 !important; }
.pl-64 { padding-left:   @su-64 !important; }
.px-64 { .pl-64; .pr-64; }
.py-64 { .pt-64; .pb-64; }
