//
//  STACK OVERFLOW
//  TYPOGRAPHY
//
//  TABLE OF CONTENTS
//  • LINKS
//  • ATOMIC OVERRIDES
//
//  ============================================================================
//  $   LINKS
//  ----------------------------------------------------------------------------
//  --  BASE
a {
  color: @link-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    color: @link-color-hover;
    text-decoration: none;
  }
}


//  ============================================================================
//  $   HEADERS
//  ----------------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
}

//  ============================================================================
//  ATOMIC OVERRIDES
//  Instead of re-adding the same text styles to unique class names, use these
//  atomic classes for commonly used text decorations, sizes, styles,
//  and colors.
//  ============================================================================
//  $   TEXT
//  ============================================================================
//  $$  FONT SIZES
//  ----------------------------------------------------------------------------
.fs1            { font-size: @fs-1 !important; }    // 11px
.fs2            { font-size: @fs-2 !important; }    // 12px
.fs3            { font-size: @fs-3 !important; }    // 13px
.fs4            { font-size: @fs-4 !important; }    // 15px
.fs5            { font-size: @fs-5 !important; }    // 17px
.fs6            { font-size: @fs-6 !important; }    // 19px
.fs7            { font-size: @fs-7 !important; }    // 21px
.fs8            { font-size: @fs-8 !important; }    // 24px
.fs9            { font-size: @fs-9 !important; }    // 27px
.fs10           { font-size: @fs-10 !important; }   // 30px
.fs11           { font-size: @fs-11 !important; }   // 34px
.fs12           { font-size: @fs-12 !important; }   // 38px
.fs13           { font-size: @fs-13 !important; }   // 43px
.fs14           { font-size: @fs-14 !important; }   // 49px


//  $$  LINE HEIGHTS
//  ----------------------------------------------------------------------------
.lh1            { line-height: @lh-1 !important; }  // 1
.lh2            { line-height: @lh-2 !important; }  // 1.154
.lh3            { line-height: @lh-3 !important; }  // 1.308
.lh4            { line-height: @lh-4 !important; }  // 1.375
.lh5            { line-height: @lh-5 !important; }  // 1.615
.lh6            { line-height: @lh-6 !important; }  // 1.769
.lh7            { line-height: @lh-7 !important; }  // 1.923
.lh8            { line-height: @lh-8 !important; }  // 2


//  $$  TEXT STYLES
//  ----------------------------------------------------------------------------
//  --  Font Family
.ff-sans          { font-family: @ff-sans !important; }
.ff-serif         { font-family: @ff-serif !important; }
.ff-mono          { font-family: @ff-mono !important; }

//  --  Font Weight
.fw-normal        { font-weight: 400 !important; }
.fw-bold          { font-weight: 700 !important; }

//  --  Font Styles
.fs-normal        { font-style: normal !important; }
.fs-italic        { font-style: italic !important; }
.fs-unset         { font-style: unset !important; }

//  --  Text Align
.ta-left          { text-align: left !important; }
.ta-center        { text-align: center !important; }
.ta-right         { text-align: right !important; }
.ta-justify       { text-align: justify !important; }
.ta-unset         { text-align: unset !important; }

//  --  Text Decoration
.td-none          { text-decoration: none !important; }
.td-dashed        { text-decoration: dashed underline !important; }
.td-underline     { text-decoration: underline !important; }

//  --  Text Transform
.tt-capitalize    { text-transform: capitalize !important; }
.tt-lowercase     { text-transform: lowercase !important; }
.tt-uppercase     { text-transform: uppercase !important; }
.tt-none          { text-transform: none !important; }
.tt-unset         { text-transform: unset !important; }

//  --  Text Truncate
.truncate {
  max-width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

//  --  Whitespace
.ws-normal        { white-space: normal !important; }
.ws-nowrap        { white-space: nowrap !important; }
.ws-pre           { white-space: pre !important; }
.ws-pre-wrap      { white-space: pre-wrap !important; }
.ws-pre-line      { white-space: pre-line !important; }
.ws-unset         { white-space: unset !important; }

//  --  Word Wrap
.ww-break-word    { word-wrap: break-word !important; }


//  $$  COLORS
//  ----------------------------------------------------------------------------
.tc-light          { color: @fc-light !important; }
.tc-medium         { color: @fc-medium !important; }
.tc-dark           { color: @fc-dark !important; }

.tc-orange         { color: @orange-400 !important; }


//  ============================================================================
//  $   LISTS
//  ----------------------------------------------------------------------------
.list-reset {
  &,
  > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

//  --  List Style Types
.list-ls-none          { list-style: none !important; }
.list-ls-disc          { list-style-type: disc !important; }
.list-ls-circle        { list-style-type: circle !important; }
.list-ls-square        { list-style-type: square !important; }
.list-ls-decimal       { list-style-type: decimal !important; }
.list-ls-unset         { list-style-type: unset !important; }
