//
//  $   HELPERS
//      These are helper variables to quickly set values.
//      These SHOULD NOT be reset.
//
//      Table of Contents
//      • z-index (zi-)
//      • border-radius (br-)
//      • spacing units (su-)
//      • media queries (mq-)
//      • transition easings (te-)
//
//  ============================================================================
//  $   Z-INDEX (zi-)
//      Used for a bird's eye view of components dependent on the z-axis.
//      Try to avoid customizing these.
//  ----------------------------------------------------------------------------
@zi-hide:               -1;     //  Hide something all the elements
@zi-base:               0;      //  Reset to 0
@zi-navigation:         1000;   //  Navigation Bars
@zi-navigation-fixed:   1050;    //  Fixed navigation bars
@zi-dropdown:           2000;   //  Dropdowns
@zi-popovers:           3000;   //  Popovers, Popups, Autocompletes
@zi-tooltips:           4000;   //  Tooltips
@zi-banners:            5000;   //  Banners
@zi-modals:             9000;   //  Modals
@zi-modals-background:  @zi-modals - 50;


//  ============================================================================
//  $   BORDER RADIUS (br-)
//  ----------------------------------------------------------------------------
@br-1:                  3px;
@br-2:                  5px;
@br-3:                  7px;
@br-circle:             50%;


//  ============================================================================
//  $  SPACING UNITS (su-)
//  ----------------------------------------------------------------------------
@su-1:                  2px;
@su-2:                  4px;
@su-3:                  8px;
@su-4:                  12px;
@su-5:                  16px;
@su-6:                  24px;
@su-7:                  32px;
@su-8:                  48px;
@su-9:                  64px;


//  ============================================================================
//  $  MEDIA QUERIES (mq-)
//  ----------------------------------------------------------------------------
@mq-320:                320px;
@mq-640:                640px;
@mq-768:                768px;
@mq-1024:               1024px;
@mq-1200:               1200px;
@mq-1600:               1600px;


//  ============================================================================
//  $   TRANSITION EASINGS (te-)
//  ----------------------------------------------------------------------------
@te-smooth-slow:        cubic-bezier(0.25, 0.46, 0.45, 0.94);       // easeOutQuad
@te-smooth:             cubic-bezier(0.165, 0.84, 0.44, 1);         // easeOutQuart
@te-smooth-quick:       cubic-bezier(0.19, 1, 0.22, 1);             // easeOutExpo
@te-back-out:           cubic-bezier(0.175, 0.885, 0.32, 1.275);    // easeOutBack
@te-back-in-out:        cubic-bezier(0.68, -0.55, 0.265, 1.55);     // easeInOutBack

@default-transition-duration:       0.15s;
@transition-time:                   @default-transition-duration;
