<!DOCTYPE html>
<html lang="en-us" class="h100">
  {% include head.html %}

  <body class="grid fl-col-nowrap">
      <div class="grid fl1 grid-container">
          {% include nav-primary.html %}

          <main id="stacks-content" class="stacks-content p16 pt32">
            <header class="-header">
              <!-- <h1 class="title-page">{{ page.title }}</h1> -->
              {{ page.header_actions }}
            </header>

            {% if page.description %}
              <p class="stacks-p _intro">
                {{ page.description }}
              </p>
            {% endif %}

            {{ content }}
          </main>
      </div>
  </body>

  {% include footer.html %}
</html>
