<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}

  <body data-spy="scroll" data-offset="500" data-target="#stacks-subnav" class="ut-po-relative">
      <div class="grid-container _nav-secondary">
          {% include nav-primary.html %}
          {% include nav-secondary.html %}

          <main id="stacks-content" class="stacks-content p-5 pt-7">
            <header class="-header">
              <!-- <h1 class="title-page">{{ page.title }}</h1> -->
              {{ page.header_actions }}
            </header>

            {% if page.description %}
              <p class="stacks-p _intro">
                {{ page.description }}
              </p>
            {% endif %}

            {{ content }}
          </main>
      </div>
  </body>

  {% include footer.html %}
</html>
