---
title: Widgets
---
<section class="uikit-section">
    <h2>Introduction</h2>
    
    <div class="uikit-unit">
        <div class="-text">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor</p>
            <p>sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
            <p>et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        
        {% capture html %}
            <div class="s-widget">
                <div class="-header">
                    Example title
                </div>
                <div class="-content">
                    This is a content item.
                </div>
                <div class="-content">
                    This is another content item.
                </div>
            </div>
            <br>
            <div class="s-widget _complex-items">
                <div class="-header _alternate-small-bold">
                    Alternate header style
                </div>
                <div class="-content">
                    <b>This is content.</b>
                    <ul>
                        <li>Content can be more complex</li>
                        <li>than just text.</li>
                    </ul>
                </div>
                <div class="-content">
                    <b>More complex items should</b>
                    <ul>
                        <li>be separated with lines</li>
                        <li>so the boundaries are easy to see.</li>
                    </ul>
                </div>
            </div>            
            <br>
            <div class="s-widget">
                <div class="-content">
                    <div style="font-size:24px; margin-bottom:8px; line-height:1;">
                        13,672,187
                    </div>
                    questions
                </div>
            </div>            
        {% endcapture %}{% include example.html html=html %}
    </div>    

<h2>Navigation</h2>
    
    <div class="uikit-unit">
        <div class="-text">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor</p>
            <p>sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam</p>
            <p>et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
        
        {% capture html %}
            <nav class="s-widget">
                <div class="-header">
                    Personal Information
                </div>
                <a class="-content" href="#">
                    Edit Profile
                </a>
                <a class="-content is-current" href="#">
                    Developer Story Preferences
                </a>
                <a class="-content" href="#">
                    Job Match Preferences
                </a>
                <div class="-header">
                    Site Settings
                </div>                
                <a class="-content" href="#">
                    Preferences
                </a>
                <a class="-content" href="#">
                    Flair
                </a>
            </nav>
        {% endcapture %}{% include example.html html=html %}

    </div>
    
</section>